Privacy Policy<br/>

Effective date: 28 October 2016<br/>

Welcome to Bastogram ("BASTOGRAM," "we," "us" or "our"). Bastogram is a pets vlog application.<br/>

Our Privacy Policy explains how we and some of the companies we work with collect, use, share and
protect information in relation to our mobile services, web site, and any software provided on or in
connection with Bastogram services (collectively, the "Service"), and your choices about the collection and
use of your information from our Service.<br/>

By using our Service you understand and agree that we are providing a platform for you to post content,
including video, comments and other materials ("User Content"), to the Service and to share User Content
publicly. This means that other Users may search for, see, use, or share any of your User Content that you
make publicly available through the Service, consistent with the terms and conditions of this Privacy

Policy and our Terms of Use (which can be found at http://Bastogram.com/legal/terms).<br/>

Our Policy applies to all visitors, users, and others who access the Service ("Users").<br/>

1. Information We Collect<br/>

We collect the following types of information.<br/>
Information you provide us directly:<br/>
Your username, password and e-mail address when you register for a Bastogram account.<br/>

Profile information that you provide for your user profile (e.g., first and last name, picture, phone
number). This information allows us to help you or others be "found" on Bastogram.<br/>

User Content (e.g., video, comments, and other materials) that you post to the Service.<br/>

Communications between you and Bastogram. For example, we may send you Service-related emails (e.g.,
account verification, changes/updates to features of the Service, technical and security notices).<br/>

Search on Bastogram:<br/>

You can find other users through social search by using “Search”.<br/>

Search inside the application occurs not by the content but by the users who create the content.<br/>

Using filters by different options user can find any person on the planet, not a certain video, but the user
who created the video.<br/>

It’s an easy and understandable tool which helps fast and effectively find anything you want.<br/>

To start your search you need to select an option in each category and click on the search button. The
results will be presented in a list on which to easily navigate to scroll.<br/>

The spread of user-generated content<br/>

If you want to share the content you can find a recipient through (I) a list of contacts from your device (II)
use the contacts of other messengers, (III) to copy the link. If I you can choose the person directly from
the contact list on your device and send text or email from your personal account. You understand and
agree that you are responsible for any costs that may arise in this regard, and that the messages will be
sent to you personally, or your own personal account. Bastogram has no access or control over the content
of these messages. In the case of II and III if you are using a third-party social media applications
Messanger or sites, you will be asked to share a link to our site, and you understand that any information
transmitted in this way will be governed by this Privacy Policy.<br/>

Analytics information:<br/>

We use third-party analytics tools to help us measure traffic and usage trends for the Service. These tools
collect information sent by your device or our Service, including the web pages you visit, add-ons, and
other information that assists us in improving the Service. We collect and use this analytics information
with analytics information from other Users so that it cannot reasonably be used to identify any particular
individual User.<br/>

Cookies and similar technologies: <br/>

When you visit the Service, we may use cookies and similar technologies like pixels, web beacons, and
local storage to collect information about how you use Bastogram and provide features to you.<br/>

We may ask advertisers or other partners to serve ads or services to your devices, which may use cookies
or similar technologies placed by us or the third party.<br/>

Log file information:<br/>

Log file information is automatically reported by your browser each time you make a request to access
(i.e., visit) a web page or app. It can also be provided when the content of the webpage or app is
downloaded to your browser or device.<br/>

When you use our Service, our servers automatically record certain log file information, including your
web request, Internet Protocol ("IP") address, browser type, referring / exit pages and URLs, number of
clicks and how you interact with links on the Service, domain names, landing pages, pages viewed, and
other such information. We may also collect similar information from emails sent to our Users which then
help us track which emails are opened and which links are clicked by recipients. The information allows
for more accurate reporting and improvement of the Service.<br/>

Device identifiers:<br/>

When you use a mobile device like a tablet or phone to access our Service, we may access, collect,
monitor, store on your device, and/or remotely store one or more "device identifiers." Device identifiers
are small data files or similar data structures stored on or associated with your mobile device, which
uniquely identify your mobile device. A device identifier may be data stored in connection with the
device hardware, data stored in connection with the device\'s operating system or other software, or data
sent to the device by Bastogram.<br/>

A device identifier may deliver information to us or to a third party partner about how you browse and
use the Service and may help us or others provide reports or personalized content and ads. Some features
of the Service may not function properly if use or availability of device identifiers is impaired or disabled.<br/>

Metadata:<br/>

Metadata is usually technical data that is associated with User Content. For example, Metadata can
describe how, when and by whom a piece of User Content was collected and how that content is
formatted.<br/>

Users can add or may have Metadata added to their User Content including a tag (e.g., to mark keywords
when you post a video), geotag (e.g., to mark your location to a video), comments or other data. This
makes your User Content more searchable by others and more interactive. If you geotag your video or tag
your video using other\'s APIs then, your latitude and longitude will be stored with the video and
searchable (e.g., through a location or map feature) if your video is made public by you in accordance
with your privacy settings.<br/>

2. How We Use Your Information<br/>

In addition to some of the specific uses of information we describe in this Privacy Policy, we may use
information that we receive to:<br/>

-help you efficiently access your information after you sign in<br/>

-remember information so you will not have to re-enter it during your visit or the next time you visit the
Service;<br/>

-provide personalized content and information to you and others, which could include online ads or other
forms of marketing<br/>

-provide, improve, test, and monitor the effectiveness of our Service<br/>

-develop and test new products and features<br/>

-monitor metrics such as total number of visitors, traffic, and demographic patterns<br/>

-diagnose or fix technology problems<br/>

-automatically update the Bastogram application on your device<br/>

-Bastogram or other users / third parties / partners may run contests, job shares, voting, special offers and
other events or actions ("Events") within the service.<br/>

3. Sharing Of Your Information<br/>

We will not rent or sell your information to third parties outside Bastogram without your consent, except as
noted in this Policy.<br/>

Parties with whom we may share your information:<br/>

We may share User Content and your information (including but not limited to, information from cookies,
log files, device identifiers, location data, and usage data) with businesses that are legally part of the same
group of companies that Bastogram is part of, or that become part of that group ("Affiliates"). Affiliates
may use this information to help provide, understand, and improve the Service (including by providing
analytics) and Affiliates\' own services (including by providing you with better and more relevant
experiences). But these Affiliates will follow the Privacy Policy and the User Agreement.<br/>

We also may share your information as well as information from tools like cookies, log files, and device
identifiers and location data, with third-party organizations that help us provide the Service to you
("Service Providers"). Our Service Providers will be given access to your information as is reasonably
necessary to provide the Service under reasonable confidentiality terms.<br/>

We may also share certain information such as cookie data with third-party advertising partners. This
information would allow third-party ad networks to, among other things, deliver targeted advertisements
that they believe will be of most interest to you.<br/>

We may remove parts of data that can identify you and share anonymized data with other parties. We may
also combine your information with other information in a way that it is no longer associated with you
and share that aggregated information.<br/>

Parties with whom you may choose to share your User Content:<br/>

Any information or content that you voluntarily disclose for posting to the Service, such as User Content,
becomes available to the public, as controlled by any applicable privacy settings that you set. To change
your privacy settings on the Service, please change your profile setting. Once you have shared User
Content or made it public, that User Content may be re-shared by others.<br/>

Subject to your profile and privacy settings, any User Content that you make public is searchable by other
Users and subject to use under our Instagram API. The use of the Bastogram API is subject to the API
Terms of Use, which incorporates the terms of this Privacy Policy.<br/>

If you remove information that you posted to the Service, copies may remain viewable in cached and
archived pages of the Service, or if other Users or third parties using the Bastogram API have copied or
saved that information.<br/>

What happens in the event of a change of control:<br/>

If we sell or otherwise transfer part or the whole of Bastogram or our assets to another organization (e.g., in
the course of a transaction like a merger, acquisition, bankruptcy, dissolution, liquidation), your
information such as name and email address, User Content and any other information collected through
the Service may be among the items sold or transferred. You will continue to own your User Content. The
buyer or transferee will have to honor the commitments we have made in this Privacy Policy.<br/>

Responding to legal requests and preventing harm:<br/>

We may access, preserve and share your information in response to a legal request (like a search warrant,
court order or subpoena) if we have a good faith belief that the law requires us to do so. This may include
responding to legal requests from jurisdictions outside of the Cyprus where we have a good faith belief
that the response is required by law in that jurisdiction, affects users in that jurisdiction, and is consistent
with internationally recognized standards. We may also access, preserve and share information when we
have a good faith belief it is necessary to: detect, prevent and address fraud and other illegal activity; to
protect ourselves, you and others, including as part of investigations; and to prevent death or imminent
bodily harm. Information we receive about you may be accessed, processed and retained for an extended
period of time when it is the subject of a legal request or obligation, governmental investigation, or
investigations concerning possible violations of our terms or policies, or otherwise to prevent harm.<br/>

4. How We Store Your Information<br/>

Storage and Processing:<br/>

Your information collected through the Service may be stored and processed in the Cyprus or any other
country in which Bastogram, its Affiliates or Service Providers maintain facilities.
Bastogram, its Affiliates, or Service Providers may transfer information that we collect about you, including
personal information across borders and from your country or jurisdiction to other countries or
jurisdictions around the world. If you are located in the USA, European Union, Latin America, Russia or
other regions with laws governing data collection and use that may differ from law of Cyprus, please note
that we may transfer information, including personal information, to a country and jurisdiction that does
not have the same data protection laws as your jurisdiction.<br/>

By registering for and using the Service you consent to the transfer of information to the Cyprus or to any
other country in which Bastogram, its Affiliates or Service Providers maintain facilities and the use and
disclosure of information about you as described in this Privacy Policy.<br/>

We use commercially reasonable safeguards to help keep the information collected through the Service
secure and take reasonable steps (such as requesting a unique password) to verify your identity before
granting you access to your account. However, Bastogram cannot ensure the security of any information
you transmit to Bastogram or guarantee that information on the Service may not be accessed, disclosed,
altered, or destroyed.<br/>

Please do your part to help us. You are responsible for maintaining the secrecy of your unique password
and account information, and for controlling access to emails between you and Bastogram, at all times.<br/>

Your privacy settings may also be affected by changes the social media services you connect to Bastogram
make to their services. We are not responsible for the functionality, privacy, or security measures of any
other organization.<br/>

5. Deleting accounts and term storage of user content<br/>

If you want to delete your account in Bastogram, you must notify us of this through feedback or by e-mail.
Within 60 days you will be able to reverse your decision. If you do not, after 60 days your account will be
deleted.<br/>

After termination or deactivation of an account, Bastogram, its affiliates or its suppliers service can store
information (including your profile information) and User Content within a commercially reasonable
terms for the purposes of backup, archiving and / or auditing.<br/>

If custom content was put up for sale and / or purchased, used in the joint work, to participate in
competitions, jobs, games, comments on it and they are shared with other users, that is, as ever been used
by other users, it will not be removed even if it is deleted user account<br/>

6. Children\'s Privacy<br/>

Bastogram does not knowingly collect or solicit any information from anyone under the age of 12 or
knowingly allow such persons to register for the Service. The Service and its content are not directed at
children under the age of 12. In the event that we learn that we have collected personal information from
a child under age 12 without parental consent, we will delete that information as quickly as possible. If
you believe that, we might have any information from or about a child under 13, please contact us.<br/>

7. Other Web Sites And Services<br/>

We are not responsible for the practices employed by any websites or services linked to or from our
Service, including the information or content contained within them. Please remember that when you use
a link to go from our Service to another website or service, our Privacy Policy does not apply to those
third-party websites or services. Your browsing and interaction on any third-party website or service,
including those that have a link on our website, are subject to that third party\'s own rules and policies. In
addition, you agree that we are not responsible and do not have control over any third-parties that you
authorize to access your User Content. If you are using a third-party website or service and you allow
them to access your User Content you do so at your own risk.<br/>

8. How To Contact Us About A Deceased User<br/>

In the event of the death of a Bastogram User, please contact us. We will usually conduct our
communication via email; should we require any other information, we will contact you at the email
address you have provided in your request.<br/>

9. How To Contact Us<br/>

If you have any questions about this Privacy Policy or the Service, please use the feedback to the app or
on the website.<br/>

10. Changes To Our Privacy Policy<br/>

Bastogram may modify or update this Privacy Policy from time to time, so please review it periodically. We
may provide you additional forms of notice of modifications or updates as appropriate under the
circumstances. Your continued use of Bastogram or the Service after any modification to this Privacy Policy
will constitute your acceptance of such modification.