Política De Privacidad<br/>
 
Fecha de vigencia: 28 de octubre 2016
Bienvenido a Bastogram ("BASTOGRAM", "nosotros", "nos" o "nuestro"). Bastogram es una aplicación para hacer vlog de mascotas.<br/>
 
Nuestra política de privacidad explica cómo recopilamos, usamos, compartimos y proteger la información a través de nuestros servicios móviles s, sitios web y cualquier software o en conexión con serv Isami Bastogram (el "Servicio"), y su elección de la utilización de su información personal Dentro de nuestro servicio.<br/>
 
El uso de nuestro servicio, usted entiende y acepta que ponemos a su disposición una plataforma para alojar contenido, incluyendo videos, comentarios y otros materiales ("Contenido de Usuario") en el Servicio y la difusión pública de los contenidos generados por los usuarios. Esto significa que otros usuarios pueden buscar, ver, usar o compartir cualquiera de su contenido generado por el usuario que ha realizado a disposición del público a través del servicio, de acuerdo con los términos de esta Política de Privacidad y Acuerdo de usuario (que se pueden encontrar en http://Bastogram.com/legal/terms ).<br/>
 
Nuestra política se aplica a todos los visitantes, usuarios y otras personas que utilizan el servicio ("Usuarios").<br/>
 
1. La información que recopilamos<br/>
 
Recopilamos los siguientes tipos de información.<br/>
La información que usted nos proporciona directamente:<br/>
Su nombre, región de residencia, edad y número de teléfono cuando usted se registra para un Bastogram cuenta.<br/>
La información personal que usted proporcione al rellenar su perfil de usuario. Esta información nos permite ayudar a usted u otros usuarios "encontrar" para encontrar a los autores del contenido Bastogram.<br/>
Contenido generado por el usuario (por ejemplo, vídeos, comentarios y otros materiales) que se colocan en el servicio.<br/>
La comunicación entre usted y Bastogram. Por ejemplo, podemos enviarle una carta a través de la retroalimentación (así como el servicio de solicitud / actualización cambio, avisos técnicos, solicitudes y otros valores).<br/>
 
Busqueda:<br/>
Usted puede encontrar otros usuarios a través de la búsqueda social a través del botón "Buscar". Busca dentro de una aplicación que no sucede por el contenido, sino por las personas que lo crearon.<br/>
 
El uso de filtros de varios parámetros que el usuario puede encontrar ningún hombre en el planeta, no sólo un vídeo específico, pero la gente que lo crearon.<br/>
 
Esta es una herramienta sencilla e intuitiva permite encontrar de forma rápida y eficiente lo que quieres.<br/>

Para comenzar con una demanda que elegir la opción en cada categoría y haga clic en el botón de búsqueda. Los resultados serán presentados en una lista en la que navegar fácilmente para desplazarse.<br/>
 
La difusión de contenido generado por el usuario<br/>
Si desea compartir contenido que usted puede encontrar un destinatario a través de (I) de la lista de contactos del dispositivo, (II) utilizar los contactos de otros mensajeros, (III) copiando el enlace. Si puedo elegir a la persona directamente desde la lista de contactos en el dispositivo y enviar mensajes de texto o correo electrónico desde su cuenta personal. Usted entiende y acepta que es responsable de los gastos que puedan surgir en este sentido, y que los mensajes se le enviará a usted personalmente, o su propia cuenta personal. Bastogram no tiene acceso ni control sobre el contenido de estos mensajes.<br/>
En el caso de II y III si está utilizando un tercero aplicaciones de medios sociales, mensajería instantánea, o sitios web, se le pedirá que compartir un enlace a nuestro sitio, y usted entiende que cualquier información transmitida de esta manera se regirá por la presente Política de Privacidad.<br/>
 
Análisis de la información:<br/>
Utilizamos herramientas de análisis de terceros para ayudarnos a medir el tráfico y la tendencia de usar el servicio. Estas herramientas recopilan información enviada por el dispositivo y nuestro servicio, incluyendo las páginas web que visita, aplicaciones, y otra información que nos ayuda a mejorar el servicio. Recopilamos y procesamos esta información con la información analítica de otros usuarios, por lo que no puede razonablemente ser utilizada para identificar a un usuario individual en particular.<br/>
 
Las cookies y tecnologías similares:<br/>
Cuando usted visita nuestro servicio, podemos utilizar cookies y tecnologías similares, tales como píxeles, balizas web y la tienda local para obtener información sobre cómo utiliza Bastogram.<br/>
Podemos ofrecer a los anunciantes y otros socios acceder a las cookies o tecnologías similares, organizado por nosotros o por un tercero para la publicidad, anuncios u otros servicios para su dispositivo.<br/>
 
Registro del archivo:<br/>
Información del archivo de registro se transmite de forma automática cada vez que realice una solicitud de acceso (es decir, visitas) página web o aplicación. También puede estar previsto que esto se produce cuando el contenido de una página web o una aplicación descargada en el navegador o dispositivo.<br/>
Al utilizar nuestros servicios, nuestros servidores registran automáticamente la información de registro de determinados archivos, incluyendo su petición de web, Internet ("IP"), tipo de navegador, páginas de E / S y las direcciones URL, el número de clics y la forma de interactuar con referencia al servicio, nombres de dominio, las páginas de destino, las páginas visitadas y cualquier otra información pertinente. También podemos recopilar información similar de mensajes de correo electrónico enviados a nuestros usuarios, que a su vez nos ayuda a no perder de vista que los correos electrónicos se abren y que vincula a los destinatarios hecho clic. La información permite una información más exacta y para mejorar el servicio.<br/>
 
Device IDs:<br/>
 
Si está usando un dispositivo móvil, como una tableta o un teléfono para tener acceso a nuestro servicio, podemos acceder, recopilar, analizar, almacenar en el dispositivo y / o remota almacenar uno o más ID de dispositivo "dispositivos identificadores." - Que son pequeños ficheros de datos o estructuras de datos similares almacenan o conectados con el dispositivo móvil que identifican de forma única su dispositivo móvil. El ID de dispositivo puede ser datos basados ​​en hardware, los datos basados ​​en el sistema operativo del dispositivo u otro software, los datos enviados al dispositivo a través de Bastogram.<br/>
El ID de dispositivo puede darnos la información o el socio / terceros acerca de qué y cómo ver y cómo usar el servicio, y nosotros u otras partes puede ayudar a proporcionar informes o contenido personalizado y publicitario. Algunas partes del servicio pueden no funcionar correctamente o no funcionar si el uso o la presencia de identificadores está restringido o discapacitados.<br/>
 
Metadatos:<br/>
Los metadatos son generalmente datos técnicos relacionados con el contenido del usuario. Por ejemplo, los metadatos pueden describir cómo, cuándo y por quién utiliza el usuario de los contenidos y la forma en que se ha formateado contenido.<br/>
Los usuarios pueden sumarse o metadatos pueden ser añadido al usuario el contenido, por ejemplo, a través de una etiqueta (tenga en cuenta que el vídeo sujeto) etiqueta geográfica (para marcar su ubicación en el video), comentarios, u otros datos. Esto hace que su contenido más fácil de usar para encontrar otros usuarios y más interactiva. Si usted apuesta a la etiqueta geográfica tus vídeos o vídeo se etiquetados por otra API-interfaz, entonces su latitud y longitud se guardarán junto con el video de la búsqueda (por ejemplo, la función de selección de la proximidad, la región o el mapa), si el vídeo es publicado por usted de acuerdo a la configuración de privacidad.<br/>
 
2. Cómo utilizamos su información<br/>
 
Además de algunos de los objetivos específicos de la utilización de la información del usuario, declaramos en esta política de privacidad, podemos utilizar la información que recopilamos para:<br/>
 
-ayudarle a acceder a la información de manera eficiente después de Registrarse<br/>
 
-recuerde que parte de la información, para que no tenga que volver a introducirla durante su próxima visita al servicio;<br/>
 
-para proporcionar contenido personalizado y la información para que usted y otros usuarios, que pueden incluir la publicidad en línea y otras formas de comercialización;<br/>
 
-para proporcionar, mejorar, probar y supervisar la eficacia de nuestro servicio<br/>
 
-desarrollar y probar nuevos productos y características,<br/>
 
-métricas de pista como el número total de visitantes, el tráfico y los modelos demográficos<br/>
 
-diagnosticar y solucionar problemas técnicos<br/>
 
-Bastogram actualizar automáticamente la aplicación en su dispositivo<br/>
 
-Bastogram u otros usuarios / terceros / socios pueden ejecutar concursos, acciones de trabajo, votaciones, ofertas especiales y otros eventos o acciones ("Eventos") dentro del servicio.<br/>
 
3. Intercambio de información<br/>
 
No vamos a alquilar o vender su información a terceros ajenos al Bastogram sin su consentimiento, excepto como se indica en esta política.<br/>
 
Partes con quienes podemos compartir información:<br/>
Podemos compartir contenido e información generados por los usuarios (incluyendo, pero no limitado a, la información de las cookies, archivos, identificadores de dispositivos, información sobre los datos de localización y uso de log) con empresas que están legalmente parte del mismo grupo de empresas, que es Bastogram, o que forman parte de este grupo ("Socios"). Los socios pueden utilizar la información para ayudar a proporcionar, comprender y mejorar el servicio (incluso a través de la provisión de inteligencia) y sus propios servicios, entidades afiliadas. Pero estos socios cumplan con el acuerdo de usuario y esta política.<br/>
 
También podemos revelar su información, así como información de los instrumentos tales como cookies, archivos de registro y los ID de dispositivo y los datos de localización por parte de terceros que nos ayudan a ofrecer su servicio ("proveedores de servicios"). Nuestro proveedor de servicios tendrá acceso a sus datos en la cantidad necesaria para prestar el servicio en condiciones razonables de confidencialidad.<br/>
También podemos compartir cierta información, tales como cookies, socios de publicidad de terceros. Esta información permitirá a las redes de anuncios de terceros, entre otras cosas, para mostrar anuncios que ellos creen que va a tener el mayor interés para usted.<br/>
Podemos eliminar algunos de los datos que le pueda identificar y compartir datos anónimos con otros partidos. También podemos combinar la información con otra información de modo que ya no se asoció con ustedes y compartir esta información agregada.<br/>
 
Partes con quien pueda compartir su contenido de usuario:<br/>
Cualquier información o contenido que usted abre voluntariamente de entrada en servicio, tales como contenido de usuario se pone a disposición del público y operados por cualquier configuración de privacidad aplicables que establezca, y siempre en el apéndice.Para cambiar la configuración de privacidad en el servicio, por favor, cambie la configuración del perfil. Una vez que compartes contenido personalizado o hacerlo público, puede ser prorrogado por otros usuarios.
Teniendo en cuenta la configuración de privacidad de tu perfil de cualquier usuario que haga pública, se disponga de la búsqueda de otros usuarios y se puede utilizar en nuestra API. Utilizando el API Bastogram está sujeta a las condiciones de uso de la API, e incluye los términos de esta Política de Privacidad.
Si elimina los datos que usted pone en el servicio, las copias pueden ser visibles en los servicios de páginas en caché y archivados, o si otros usuarios o terceros utilizando el API Bastogram copiar o guardar esta información.
 
¿Qué sucede en el caso de un cambio de control?<br/>
Si vendemos o transferir todos o parte de nuestros activos Bastogram u otra organización (por ejemplo, en el curso de la operación, fusión, quiebra, adquisición, liquidación), información como el nombre, el contenido generado por el usuario, y cualquier otra información recogida a través del servicio puede ser uno de los artículos vendidos o transferidos. Usted continuará el propietario del derecho de autor a su contenido de usuario.
Se requerirá que el comprador o el destinatario de cumplir los compromisos que hemos expresado en esta Política de Privacidad.<br/>
 
Las respuestas a las solicitudes legales y evitar daños:<br/>
Podemos acceder, almacenar y transmitir información en respuesta a una solicitud legal (por ejemplo, una búsqueda, una orden judicial o citación) si tenemos una creencia de buena fe que la ley nos obliga a hacerlo. Esto puede incluir una respuesta a las peticiones de las jurisdicciones legales fuera de los Chipre, cuando tenemos una creencia de buena fe que la respuesta es requerida por ley en esa jurisdicción, afecta a los usuarios en esa jurisdicción, y de conformidad con las normas reconocidas internacionalmente burbujeados. También somos capaces de acceder, almacenar y transmitir información cuando tenemos una creencia de buena fe que es necesario: para identificar, prevenir y descubrir el fraude y otras actividades ilegales; para protegerse, usted y los demás, incluso en el marco de las investigaciones; para evitar la muerte o lesiones corporales inminentes. La información que recibimos de usted puede acceder, tratados y almacenados por un largo período de tiempo, si es objeto de una solicitud u obligación jurídica, investigación gubernamental, o una investigación sobre posibles violaciónes de nuestros términos o políticas o de otro tipo, para evitar daños.<br/>
 
4. Cómo almacenar su información<br/>
 
Almacenamiento y manipulación:<br/>
 
Recogida a través del servicio de su información puede ser almacenada y procesada en el Chipre  o cualquier otro país en el que Bastogram, sus afiliados o proveedores de servicios a mantener las instalaciones.
Bastogram, sus afiliados o proveedores de servicios pueden transmitir la información que recopilamos sobre usted, incluyendo su información personal a través de fronteras y desde su país o jurisdicción a otros países o jurisdicciones de todo el mundo. Si se encuentra en los Estados Unidos, la Unión Europea, América Latina, Rusia u otras regiones con las leyes que rigen la recogida y uso que puede diferir de la ley de Chipre de datos, tenga en cuenta que podemos transmitir la información, incluida la información personal en el país y jurisdicciones que no cuentan con la misma protección legal de los datos en su jurisdicción.
Al registrarse y utilizar el servicio, usted autoriza la transmisión de información en el Chipre o cualquier otro país en el que Bastogram, sus afiliados o proveedores de servicios tienen el marco que puede utilizar y divulgar información sobre usted como se describe en esta Política de Privacidad.
Vamos a utilizar las salvaguardas comerciales razonables para ayudar a mantener la información recogida a través del servicio, una caja fuerte, y tomar medidas razonables para verificar su identidad antes de permitirle el acceso a su cuenta. Sin embargo, Bastogram no puede garantizar la seguridad de ninguna información que usted transmita a Bastogram ni garantizar que la información incluida en el servicio no se puede acceder, divulgar, alterado o destruido.<br/>
 
5. La eliminación de cuentas y almacenamiento a largo plazo de los contenidos del usuario<br/>
 
Si desea eliminar su cuenta en Bastogram, debe notificarnos de esto a través de comentarios o por correo electrónico. Dentro de 60 días usted será capaz de revertir su decisión. Si no lo hace, después de 60 días se borrará tu cuenta.<br/>
 
Después de la terminación o la desactivación de una cuenta, Bastogram, sus filiales o su servicio de proveedores puede almacenar información (incluyendo su perfil de la información) y Contenido de Usuario en unos términos comercialmente razonables a efectos de copia de seguridad, archivo y / o auditoría.<br/>
 
Si el contenido de encargo fue puesto a la venta y / o comprado, usado en el trabajo conjunto, para participar en concursos, trabajos, juegos, comentarios al respecto y se comparte con otros usuarios, es decir, como siempre ha usado por otros usuarios, no va a ser eliminado incluso si se elimina la cuenta de usuario<br/>
 
6. Seguridad <br/>
 
Bastogram no recoge o buscar cualquier información de cualquier persona menor de 12 años o con conocimiento permiten que esas personas pueden inscribirse con el servicio. Servicio y su contenido no están destinados a niños menores de 12. En el caso de que nos enteramos de que hemos recopilado información personal de un niño menor de 12 años sin el consentimiento paterno, borraremos esa información lo más rápidamente posible. Si usted piensa que puede ser que tengamos alguna información acerca de un niño menor de 12 años, por favor póngase en contacto con nosotros.<br/>
 
7. Otros sitios y servicios <br/>
 
No somos responsables de las acciones, el uso de sitios web o servicios relacionados con nuestro servicio, incluyendo la información o el contenido colocación de ellos. Por favor, recuerde que cuando usted utiliza un enlace para ir de nuestro servicio en cualquier otro sitio web o servicio, nuestra política de privacidad no se aplica al sitio web de terceros o servicio. Su navegación e interacción en cualquier sitio web o servicio de tercera parte, incluidos los que tienen un enlace a nuestro sitio o servicio puede tener sus propias reglas y políticas. Además, usted acepta que no somos responsables y no tienen ningún control sobre cualquier tercero que autoriza el acceso de usuarios a contenido. Si utiliza el sitio web de un tercero o de servicios de terceros y se les permite acceder al contenido de usuario, lo hace bajo su propio riesgo.<br/>
 
8. Cómo comunicarse con nosotros en caso de muerte por<br/>
 
En caso de muerte por Bastogram, por favor póngase en contacto con nosotros. Por lo general, ofrecemos nuestra comunicación con la ayuda de la retroalimentación o correo electrónico; podemos requerir cualquier otra información para confirmar este hallazgo y por medio de comentarios o de correo electrónico.<br/>
 
9. ¿Cómo contactar con nosotros?<br/>
 
Si usted tiene alguna pregunta sobre esta Política de Privacidad o el servicio, por favor envíe sus comentarios a la aplicación o en el sitio web.
 
10. Los cambios en nuestra Política de Privacidad
 
Bastogram puede modificar o actualizar esta Política de Privacidad en cualquier momento, así que por favor, actualice periódicamente. Podemos utilizar otras formas de notificación de los cambios y actualizaciones, si las circunstancias así lo exigen. El uso continuado de Bastogram o servicios después de cualquier cambio a esta Política de Privacidad, constituirá su aceptación de tales cambios.<br/>