Политика Конфиденциальности<br/>

Дата вступления в силу: 28 октября 2016<br/>

Добро пожаловать в Bastogram ("BASTOGRAM", "мы", "нас" или "наш"). Bastogram – приложение
для ведения видеоблога о домашних животных. Наша политика конфиденциальности объясняет,
как мы собираем, используем, делимся и защищаем информацию в рамках наших мобильных сервисов,
веб-сайтов и любого программного обеспечения или в связи с сервисами Bastogram (далее «Сервис»)
и ваш выбор использования вашей персональной информации в рамках нашего Сервиса.<br/>

Используя наш Сервис, вы понимаете и соглашаетесь, что мы предоставляем вам платформу для
размещения контента, включая видео, комментарии и другие материалы ("Пользовательский контент")
на Сервисе и публичного распространения пользовательского контента. Это означает, что другие
пользователи могут искать, видеть, использовать или делиться любым вашим пользовательским
контентом, который вы сделали публично доступным через сервис в соответствии с условиями
настоящей Политики конфиденциальности и Пользовательским соглашением (которые могут быть
найдены по адресу http://bastogram.com/legal/terms).<br/>

Наша политика распространяется на всех посетителей, пользователей и другие лица, которые
используют Сервис («Пользователи»).<br/>

1. Информацию, которую мы собираем<br/>

Мы собираем следующие виды информации.<br/>

Информация, которую вы предоставляете нам напрямую:<br/>
Ваше имя и фамилию, регион проживания, возраст и номер телефона, когда вы регистрируетесь для
получения учетной записи Bastogram.<br/>
Личная информация, которую вы предоставляете во время заполнения вашего профиля пользователя.<br/>
Эта информация позволяет нам помочь вам или другим пользователям "найти" найти авторов
контента в Bastogram.<br/>

Пользовательский контент (например, видео, комментарии и другие материалы), что вы размещаете в
сервисе.<br/>

Коммуникации между вами и Bastogram. Например, мы можем отправить вам письмо через обратную
связь (а так же запрос изменения / обновления сервиса, технические извещения, запросы
безопасности и прочее). <br/>

Поиск в Bastogram:<br/>

Вы можете найти других пользователей через социальный поиск через функцию «Поиск». Поиск
внутри приложения происходит не по контенту, а по людям, которые его создали.<br/>

Используя фильтры по различным параметрам пользователь может найти любого человека на
планете, не просто конкретное видео, а людей, которые его создали.<br/>

Этот простой и интуитивно понятный инструмент позволяет быстро и эффективно найти то, что вы
хотите.<br/>

Для того, чтобы начать поиск нужно выбрать параметр в каждой категории и нажать на кнопку
поиска. Результаты будут представлены в виде списка, по которому легко перемещаться скроллом.<br/>

Распространения пользовательского контента<br/>

Если вы хотите поделиться контентом, вы можете найти получателей через (I) список контактов
вашего устройства, (II) использовать контакты других мессенджеров, (III) скопировать ссылку. В
случае I вы можете выбрать человека, непосредственно из списка контактов на устройстве и
отправить текст или электронную почту с вашей личной учетной записи. Вы понимаете и
соглашаетесь, что вы несете ответственность за любые расходы, которые возникнут к этой связи и
что сообщения будут приходить от вас лично или с вашей личной учетной записи.
Bastogram не имеет доступа или контроля над содержанием этих сообщений.<br/>

В случае II и III если вы используете сторонние социальные медиа, приложения, мессенджеры или
сайты, то вам будет предложено поделиться ссылкой на наш сайт, и вы понимаете, что любая
информация, переданная таким способом будет регулироваться настоящей политикой
конфиденциальности.<br/>

Анализ информации:<br/>

Мы используем сторонние инструменты анализа, чтобы помочь нам измерять трафик и тенденции
использования сервиса. Эти средства собирают информацию, передаваемую вашим устройством и
нашим сервисом, в том числе с веб-страниц, которые вы посещаете, приложения и другую
информации, которая помогает нам в улучшении сервиса. Мы собираем и обрабатываем эту
информацию вместе с аналитической информацией от других пользователей, так что она не может
быть обоснованно использованы для идентификации конкретного индивидуального пользователя.<br/>

Cookies и аналогичные технологии:<br/>

Когда вы посещаете наш Сервис, мы можем использовать Cookies и аналогичные технологии, такие
как пиксели, веб-маяки, и локальное хранилище для сбора информации о том, как вы используете
Bastogram.<br/>

Мы можем предоставить рекламодателям или другим партнерам доступ к Cookies или подобные
технологии, размещенные нами или третьей стороной, для размещения рекламы, объявлений или
других сервисов для ваших устройств.<br/>

Файл логирования:<br/>

Информация с файлов логирования автоматически передается каждый раз, когда вы делает запрос на
доступ (т.е. визит) веб-страницы или приложения.  Также может быть предусмотрено, что это
происходит, когда содержание веб-страницы или приложения загружаются в браузере или
устройстве.<br/>

При использовании нашего сервиса, наши серверы автоматически записывают определенную
информацию файлов логирования, в том числе ваш веб-запрос, IP ("IP") адрес, тип браузера,
страницы входа/выхода и URL-адреса, количество кликов и то, как вы взаимодействуете со ссылками
на сервис, доменные имена, целевые страницы, просмотренные страницы и любую другую подобную
информацию. Мы также можем собирать подобную информацию из электронных писем,
отправленных нашими пользователями, которые затем помогают нам отслеживать, какие письма
открываются и на какие ссылки получатели нажали. Информация позволяет добиться более точной
отчетности и улучшения сервиса.<br/>

Идентификаторы устройств:<br/>

При использовании мобильного устройства такого, как планшет или телефон, чтобы получить доступ
к нашему сервису, мы можем получить доступ, собирать, анализировать, хранить на устройстве и/или
удаленно хранить один или более "идентификаторов устройств". Идентификаторы устройств — это
небольшие файлы данных или аналогичные структуры данных, хранящиеся или связанные с вашим
мобильным устройством, которое может однозначно определить ваше мобильное устройство.<br/>

Идентификатором устройства могут быть данные, основанные на аппаратном оборудовании, данные,
основанные на операционной системе устройства или другого программного обеспечения, данных,
отправляемых на устройство с помощью Bastogram.<br/>

Идентификатор устройства может доставить нам информацию или партнеру/ третьей стороне о том,
что и как просматривается и как используется сервис, и может помочь нам или другим сторонам
предоставлять отчеты или персонализированный контент и рекламу. Некоторые части сервиса могут
функционировать неправильно или вообще не работать, если использование или наличие
идентификаторов устройств ограничено или отключено.<br/>

Метаданные:<br/>

Метаданные, как правило, технические данные, которые связаны с контентом пользователя.
Например, метаданные могут описывать, как, когда и кем часть контента пользователя
использовалась и как это содержание было отформатировано.<br/>

Пользователи могут добавлять или сами метаданные могут быть добавлены к контенту пользователя,
например, через тег (чтобы отметить тему видео), геотег (чтобы отметить свое местоположение на
видео), комментарии или другие данные. Это делает ваш пользовательский контент более удобным
для поиска другими пользователями и более интерактивным. Если вы ставите геотег на ваше видео
или помечаете тегом видео с помощью других API-интерфейсов, то, ваша широта и долгота будут
сохранены вместе с видео для поиска (например, для функции выбора по близости, региону или
карте), если ваше видео опубликовано вами в соответствии с вашими настройками
конфиденциальности.<br/>

2. Как мы используем вашу информацию<br/>

В дополнение к некоторым конкретным целям использования пользовательской информации, мы
декларируем в данной политике конфиденциальности, что мы можем использовать информацию,
которую мы получаем, чтобы:<br/>

-помочь вам эффективно получить доступ к информации после регистрации,<br/>

-запомнить часть информации, так чтобы вам не пришлось повторно вводить ее во время вашего

следующего визита сервиса;<br/>

-обеспечить персонализированный контент и информацию для вас и других пользователей, которые
могут включать в себя онлайн-рекламу и другие формы маркетинга;<br/>

-обеспечивать, улучшать, тестировать и отслеживать эффективность нашего сервиса<br/>

-разрабатывать и тестировать новые продукты и функции,<br/>

-отслеживать такие показатели, как общее число посетителей, трафик и демографические модели<br/>

-диагностировать или устранять технические проблемы<br/>

-автоматически обновлять приложение Bastogram на вашем устройстве<br/>

-Bastogram или другие пользователи/третьи стороны/партнёры могут запустить конкурсы, задания,
акции, голосования, специальные предложения и другие события или действия ("События") внутри
сервиса.<br/>

3. Обмен информацией<br/>

Мы не будем арендовать или продать вашу информацию третьим лицам за пределами Bastogram
без вашего согласия, за исключением случаев отмеченные в этой политике.<br/>

Стороны, с которыми мы можем поделиться информацией:<br/>

Мы можем поделиться пользовательским контентом и информацией (включая, но не ограничиваясь,
информацией из cookies, лог-файлов, идентификаторов устройств, данных о местоположении и
данные об использовании) с компаниями, которые юридически являются частью той же группы
компаний, что и является Bastogram, или которые становятся частью этой группы ("Партнерам").<br/>

Партнеры могут использовать эту информацию, чтобы помочь обеспечивать, понимать и улучшить
сервис (в том числе путем предоставления аналитики) и собственных сервисами, аффилированным
лиц. Но эти Партнеры будут соблюдать пользовательское соглашение и данную политику.<br/>

Мы также можем передавать вашу информацию, а также информацию от инструментов таких, как
Cookies, лог-файлов и идентификаторов устройств и данные о местоположении, сторонними
организациями, которые помогают нам обеспечить ваше обслуживание ("Поставщики сервиса").<br/>

Нашим Поставщикам сервиса будет предоставлен доступ к вашей информации в размере
необходимом для предоставления Сервиса на разумных условиях конфиденциальности.<br/>

Мы также можем передавать определенную информацию, например, сookies, сторонним рекламным
партнерам. Эта информация позволит сторонним рекламным сетям, среди прочего, показывать
целевые рекламные объявлению, которые, по их мнению будут иметь наибольший для вас интерес.<br/>

Мы можем удалить часть данных, которые могут идентифицировать вас и поделиться анонимных
данными с другими сторонами. Мы также можем объединить информацию с другой информацией
таким образом, что она больше не была связана с вами и поделиться этой агрегированной
информацией.<br/>

Стороны, с которыми вы можете поделиться своими Пользовательским контентом:<br/>

Любая информация или контент, который вы добровольно открываете для размещения в сервисе,
например, Пользовательский контент, становится доступным для общественности и управляется
любыми применимыми настройками конфиденциальности, которые вы установили и предусмотрены
в приложении. Чтобы изменить настройки конфиденциальности в сервисе, пожалуйста, измените
настройку профиля. После того как вы поделились Пользовательским контентом или сделаете его
публичным, он может быть распространен другими пользователями.<br/>

С учетом настроек конфиденциальности вашего профиля любой пользовательский контент, который
вы делаете публичным, становится доступен для поиска другим Пользователями и может быть
использован в нашем API. Использование API Bastogram является предметом Условий пользования
API, и включает в себя условия настоящей Политики конфиденциальности.<br/>

Если вы удалите данные, которые вы разместили в сервисе, копии могут оставаться видимыми в кэше
и архивных страниц сервисы, или если другие пользователи или третьи стороны, используя API
Bastogram скопировали или сохранили эту информацию.<br/>

Что происходит в случае смены контроля:<br/>

Если мы продаем или иным образом передаем часть или весь Bastogram или наши активы другой
организации (например, в ходе сделки, слияние, присоединения, банкротства, поглощения,
ликвидации), информация, такая как имя, пользовательский контент и любая другая информация,
собранная посредством сервиса, могут быть среди товаров, продаваемых или передаваемых. Вы
будете продолжать обладать авторскими правами на свой пользовательский контент.<br/>

Покупатель или получатель должен будет выполнить обязательства, которые мы озвучили в этой
Политике конфиденциальности.<br/>

Ответы на юридические запросы и предотвращения вреда:<br/>

Мы можем получить доступ, сохранять и передавать информацию в ответ на юридический запрос
(такие, как обыск, распоряжения суда или повестка в суд), если у нас есть добросовестное
предположение, что закон требует от нас, чтобы сделать так. Это может включать в себя ответ на
запросы юрисдикций за пределами Кипра, когда у нас есть добросовестное предположение, что ответ
требуется по закону в этой юрисдикции, затрагивает пользователей в этой юрисдикции и в
соответствии с международными признанными стандартами. Мы также можем получить доступ,
сохранять и передать информацию, когда у нас есть добросовестное предположение, что это
необходимо: для выявления, предотвращения и нахождения мошенничества и другой незаконной
деятельности; чтобы защитить себя, вас и других, в том числе в рамках расследований; чтобы
предотвратить смерть или неминуемой телесных повреждения. Информация, которую мы получить о
вас может быть доступна, обрабатываться и сохраняться в течение длительного периода времени,
если она является предметом юридического запроса или обязательства, правительственного
расследования или расследования в отношении возможных нарушений наших условиях или
политики, или в противном случае, чтобы предотвратить вред.<br/>

4. Как мы храним вашу информацию<br/>

Хранение и обработка:<br/>

Собранная с помощью сервиса ваша информация может храниться и обрабатываться на Кипре или
любой другой стране, в которой Bastogram, ее филиалы или поставщики сервиса имеются
производственные мощности.<br/>

Bastogram, ее филиалы или поставщики сервиса могут передавать информацию, которую мы собираем
о вас, в том числе личной информации через границы и из вашей страны или юрисдикции в другие
страны и юрисдикции мира. Если вы находитесь в США, Европейском Союзе, Латинской Америке,
России или в других регионах с законами, регулирующими сбор и использование данных, которые
могут отличаться от закона Кипра, пожалуйста, обратите внимание, что мы можем передавать
информацию, в том числе личную информацию в стране и юрисдикции, которые не имеют такую же
законодательную защиту данных как в вашей юрисдикции.<br/>

Регистрируясь и используя сервис вы даете согласие на передачу информации в Кипра или в любую
другую страну, в которой Bastogram, ее филиалы или поставщики сервиса имеют структуры, они могут
использовать и раскрывать информацию о вас, как описано в настоящей политике
конфиденциальности.<br/>

Мы используем все коммерчески разумные гарантии, чтобы помочь сохранить информацию,
собранную с помощью Сервиса, безопасной, и принимаем разумные меры для проверки вашей
личности перед предоставлением вам доступ к вашей учетной записи. Тем не менее, Bastogram не
может обеспечить безопасность любой информации, которую Вы передаете Bastogram или
гарантировать, что информация в сервисе не может быть доступна, разглашена, изменена или
уничтожена.<br/>

5. Удаление учетной записи и срок хранения пользовательского контента
Если вы хотите удалить свою учетную запись в Bastogram, вы должны письменно уведомить нас об
этом, через обратную связь или по электронной почте. В течение 360 дней вы сможете отменить свое
решение. В случае если вы этого не сделаете, через 60 дней ваш учетная запись будет удалена.<br/>

После прекращения или дезактивации учетной записи, Bastogram, ее филиалы или ее поставщики
сервиса могут сохранять информацию (в том числе ваш профиль информации) и Пользовательский
контент в рамках коммерческих разумных сроков для целей резервного копирования, архивирования,
и/или аудита.<br/>

Если пользовательский контент был выставлен на продажу и/или куплен, использовался в
совместном творчестве, участвовал в конкурсах, заданиях, играх, на него имеются комментарии и им
делились с другими пользователями, то есть как-либо был использован другими пользователями, он
не будет удален, даже если будет удалена учетная запись пользователя<br/>

6. Детская безопасность<br/>

Bastogram не собирает или запрашивает любую информацию от тех, не достиг возраста 12, или
сознательно допускает, чтобы такие лица могли зарегистрироваться в сервисе. Сервис и его
содержание не направлены на детей в возрасте до 12. В том случае, если мы узнаем, что мы собрали
персональную информацию ребенка младше 12 лет без согласия родителей, мы удалим эту
информацию как можно быстрее. Если вы считаете, что мы могли бы иметь какую-либо информацию
о ребенке в возрасте до 12, пожалуйста, свяжитесь с нами.<br/>

7. Другие сайты и web-сервисы<br/>

Мы не несем ответственности за действия, использование любых веб-сайтов или сервисов, связанных
с нашим сервисом, в том числе информации или содержание, размешенное на них. Пожалуйста,
помните, что когда вы используете ссылку для перехода из нашего сервиса на любой другой веб-сайт
или сервис, наша политика конфиденциальности не распространяется на те сторонние веб-сайты или
сервисе. Ваш браузер и взаимодействия на любом стороннем веб-сайте или сервисе, в том числе те,
которые имеют ссылку на наш сайт или сервис, могут иметь свои правила и политики. Кроме того,
вы соглашаетесь, что мы не несем ответственности и не имеем контроль над любыми третьими
сторонами, которым вы разрешаете доступ к пользовательскому контенту. Если вы используете веб-
сайт третьей стороны или сервис третьей стороны, и вы позволите им получить доступ к
пользовательскому контенту, вы делаете это на свой страх и риск.<br/>

8. Как с нами связаться в случае кончины пользователя<br/>

В случае смерти пользователя Bastogram, пожалуйста, свяжитесь с нами. Мы, как правило,
осуществляем нашу коммуникацию с помощью обратной связи или электронной почты; мы можем
потребовать любую другую информацию для подтверждения этого факта также через обратную связь
или электронную почту.<br/>

9. Как с нами связаться<br/>

Если у вас есть какие-либо вопросы по поводу данной Политики конфиденциальности или сервиса,
пожалуйста, воспользуйтесь обратной связью в приложении или на сайте.<br/>

10. Изменение нашей политика конфиденциальности<br/>

Bastogram может изменить или обновить настоящую Политику конфиденциальности в любое время,
поэтому, пожалуйста, обновляйте ее периодически. Мы можем использовать дополнительные формы
уведомления об изменениях и обновлениях, если того требуют обстоятельства. Ваше дальнейшее
использование Bastogram или сервиса после каких-либо изменений в этой политике
конфиденциальности будет означать ваше согласие с такими изменениями.