1. Glossary<br/>

Bastogram - pets video blog application <br/>

Talant - application’s internal payment system<br/>

Invite Token - a form of invitation to your friend when you and he get 100 talant<br/>

&2. Technical services<br/>

&2.1 Search<br/>

This is a new kind of social search for people. The results of the search show real people.<br/>

Select an option in each category and click “Search”.<br/>

You can search for a person by their profile, name and surname, place of residence, language, crafts and
friends or by their interests, preferences, competence and world outlook. You can search for a person by
what, when and where they did something.<br/>

&2.2. Call<br/>

You can contact another user directly.<br/>

If you bought something or rented something, the owner will be able to call you to facilitate
communication. If you want to use someone’s services, please contact them directly.<br/>

If you invested in the project, its author can contact you. You can also contact the author of the task that
you performed, or the author of the stream, which you are subscribed to can phone you.<br/>

&3. Profile<br/>

If you fill the expanded profile, you get another 150 (15*)  talant.<br/>

“All videos” are your personal portfolio. “Questionnaire” reflects your interests and data.
“Statistics” demonstrate all the content you created.<br/>

*Always have the equivalent of the actual amount that you can see on the balance sheet.<br/>

&3.1 Invite your friend<br/>

Using Invite Token you can invite a friend or a close one to the application and each of you will get 100
(10) talant. You have 3 invitations, so spend them wisely, send them to those who really need them. For those
users who use up their savings of talants  quickly we offer an additional opportunity to earn and give
another Invite Token.<br/>

&4. Pets<br/>

&4.1 All<br/>

This is a compilation of all the videos filmed users about their pets: any videos from around the world
gathered in thematic channels.A user can add the videos to any flow and other users can comment on the
videos and shoot video responses.<br/>

"All" – all the flows.<br/>

"Favorites" - what you “liked”<br/>

 "Today" - videos created in the past 24 hours.<br/>

&4.2 My<br/>

Here are all the videos of your cat or cats, take off your first video now to start vlogs your pet,
and get 50 (10) talant. Any cat can become a superstar! Shoot video on a daily basis, share it with
your friends and the world.<br/>

&4.3 My choice<br/>

“My choice” are streams of your friends, people you follow.<br/>

You can subscribe to any individual video stream for 25 (1)  talant  and it immediately falls into “My choice”
section and its author gets a reward. You can subscribe to any individual video stream 25 (1) talant,
and he immediately gets into the "Your Choice" and its author will receive a fee of 5 (1) talant.
Go into the author's profile and click "Subscribe."<br/>

&5. Marketplace<br/>

Here you can choose from 3 categories - Talant , where you can learn more about the payment system,
Crowd, where you can conduct social activities, and Alien look, where you can ask to make a video or do
a task yourself.<br/>

&5.1 Talant<br/>

Talant  is the internal payment system.<br/>

In the tab "Balance" you can see your current balance and its history.<br/>

Shoot the first 100 video and get extra 500 <br/>

Fill the extended profile for 150 (15)<br/>

Start shooting your personal vlog - 50 (10)<br/>

Vote - 25 (1)Shoot any video - 5, share it and get another 10<br/>

Make a video response - 15<br/>

Get a “like” – 1<br/>

Invite your friend - 100 (10) <br/>

&5.2  Crowd<br/>

Here in the "Сrowdfunding" section you can search for resources and ask other users for them.<br/>

Crowd-platform will allow you to create projects to help pets and their owners, and other users to help them
safely. Also you can share articles or even need to give someone a kitten.<br/>

Here are objects or competences that can be shared, donated or exchanged. By clicking on the icon the user
transfers the indicated amount of talants  to the author of the video. After that you can contact the video’s
owner. Buying or selling happens by clicking. The action can’t be undone.<br/>

To create a video for one of these categories just click the "+" button in the lower right corner and shoot.<br/>

&5.3 Rating<br/>

Here you can find the rating of all the players and find out your place in it. Also, you see the profiles of
the best ones, or your own game statistics.<br/>

&6. Info<br/>

Here you can choose from 3 categories - Info, which contains all the important information about the
application; Feedback, through which you can contact us or share an opinion; and Voting, where users
solve all the problems collectively.<br/>

&6.1 Info<br/>

Here is all the information that will help you to become one of us. You can get acquainted with the user
agreement: the terms of use and obligations of the parties, Privacy Policy. Find out how we ensure the
security of your data, content and information, or read a detailed guide on how to use this application.<br/>

&6.2 Voting<br/>

Vote and influence in the future of this application. Here the decisions are made by users.<br/>

The “Active” tab contains all the votings taking place at the moment in which you can participate. In the
“History” tab are the finished votings. If you want to start a voting yourself go to “My”.</br>

Participation in voting on each issue gives 25 (1) talent. Start your vote is worth 250 (15) talant.</br>

&6.3 Feedback<br/>

Write us if you have an idea about how to make the application better or if you find a mistake, we will
always be happy to answer your letter.<br/>

You can write about how you would like to improve the app for example.<br/>

If you find content that violates the network’s rules or laws or if some user is bothering others, please
contact us too.<br/>

If you find a bug, an error, a problem - anything that prevents you from using the application, please
contact us, we\'ll fix it!<br/>

For each of the mentioned steps, simply click on the "+" button in the lower right corner.<br/>

&7. Disclaimer<br/>

The application forbids publication of any content, videos, photos, text or audio record, containing
elements of nudity, pornography, violence, cruelty, both in relation to people and animals, calls for
violence, racial, religious, ethnic or any other hatred, racism, any manifestations of extremism, support
for terrorism, incitement to disobey the law or authorities, or any other offense, both in respect of local
and international law. <br/>

We reserve the right to delete such content without explanation, it´s not allowed to assess or challenge
this action. The app does not assume any responsibility for any content posted by users since it is not
conducting pre-moderation. All responsibility is carried by the user. Under no conditions can the app be a
plaintiff in a court case dealing with such content. Using the application and registering in it the user
hereby confirms that he or she is familiar with these rules and accepts them.<br/>