1. Glosario<br/>

Bastogram - aplicación para hacer el video blog de mascotas<br/>

Talant - sistema de pagos interno<br/>

Invitar al amigo  - una forma de invitación a su amigo cuando tu y él consigue 100 talantes<br/>

&2. Los servicios técnicos<br/>

&2.1 Búsqueda<br/>

Se trata de un nuevo tipo de búsqueda social de personas. El resultado de la búsqueda representa personas
reales.<br/>

Selecciona una opción en cada categoría y haz clic en “Buscar”.<br/>

Puedes buscar una persona por perfil, es decir, por su nombre, apellido, lugar de residencia, idioma,
trabajo o amigos. O por los intereses, preferencias y puntos de vista. Puedes buscar a una persona por qué,
cuándo y dónde hizo.<br/>

&2.2. Llamada<br/>

Puedes contactar a otro usuario directamente.<br/>

Si compraste algo, lo pediste prestado o alquilaste, el dueño de ese objeto podrá llamarte para facilitar la
comunicación. Si deseas pedir algunos servicios a unos usuarios, ponte en contacto con ellos
directamente.<br/>

Si invertiste en un proyecto, su autor puede llamarte. También puede conectarse contigo el autor de las
tareas que has realizado. O el autor del flow al cual estás suscrito.<br/>

&3. Perfil<br/>

Si completas el cuestionario ampliado vas a ganar otros  150 (15*)  talant.<br/>

“Todos videos”es tu portfolio personal, “Acerca de ti” es tu cartera personal que refleja  tus intereses y
datos personales. “Estadísticas” muestran todo lo que has creado.<br/>

*Siempre tiene el equivalente de la cantidad real que se puede ver en el balance general.<br/>

&3.1 Invita a tu  amigo<br/>

Usando Invite Token puedes invitar a un amigo o una persona cercana a la aplicación, después de lo que tu
y él obtendrán 100 (10) talant  cada uno. Tienes 3 invitaciones, por lo que hay que gastarlas sabiamente y
enviarlas a los que realmente las necesiten. Para aquellos usuarios que gasten sus ahorros de talant
rápidamente ofrecemos una oportunidad adicional de ganar y les damos un Invite Token más.<br/>

&4. Mascotas<br/>

&4.1 Todos<br/>

Esta es una recopilación de todos los videos filmados usuarios acerca de sus mascotas: ningún vídeo de todo
el mundo se reunieron en canales temáticos.<br/>

El usuario puede agregar el video a cualquiera de los flujos y otros usuarios pueden comentarla y
grabar videorespuestas.<br/>

“Todo” - todos los videos.<br/>

"Favoritos" - lo que ha recibido tu “Me gusta”.<br/>

"Hoy" - videos creados en las últimas 24 horas.<br/>

&4.2  Mis<br/>

Aquí estan todos los vídeos de su gato o gatos, quítate el primer vídeo ahora para comenzar vlogs su
mascota, y obtener 50 (10) talant. Cualquier gato puede convertirse en una superestrella! Tirar el vídeo
sobre una base diaria, compartirlo con tus amigos y el mundo.<br/>

&4.3 Mi elección<br/>

“Mi elección” contiene videos de tus amigos y tus suscripciones. Puedes suscribirte a cualquier flujo por
25 (1)  talant  y aparecerá de inmediato en “Mi elección” y su autor será recompensado. Puedes suscribirse
a cualquier flujo de vídeo individual 25 (1) talant, y se pone inmediatamente en el "Su elección" y su autor
recibirá una cuota de 5 (1) talant. Entre en el perfil del autor y haga clic en "Suscribirse".<br/>

&5. Mercado<br/>

Aquí se puede elegir entre 3 categorías – Talant, donde se puede aprender más sobre el sistema de pago,
Crowd, donde se pueden realizar actividades sociales, y Mirada ajena, donde puedes pedir grabar un
video o hacer una tarea tú mismo.<br/>

&5.1 Talant<br/>

Talant  es el sistema de pago interno.<br/>

En la pestaña "Saldo" se puede ver tu saldo actual y su historia.<br/>

Filma tu primeros 100 videos y gana 500<br/>

Llena el formulario extendido por 150 (15)<br/>

Comienza a filmar un vlog personal por 50 (10)<br/>

Vota - 25 (1)<br/>

Toma cualquier vídeo - 5, compártelo y obtén otros 10<br/>

Hacer una  video-respuesta– 15<br/>

Recibe un “Me gusta” - 1<br/>

Invita a tu  amigo – 100 (10)<br/>

&5.2  Crowd<br/>

Aquí mismo en el "Crowdfunding" se puede atraer recursos a los demás usuarios.<br/>

Plataforma de multitud  permitirá crear proyectos para ayudar a las mascotas y sus propietarios, y otros
usuarios para ayudarles a segura. También puede compartir artículos o incluso que tenga que dar a alguien
un gatito.<br/>

Aquí están los objetos o competencias que se pueden compartir, donar o intercambiar. Haciendo un clic
en el icono de la acción el usuario traslada la cantidad indicada de talant  al autor del vídeo. Después de
eso se puede poner en contacto con el propietario del vídeo. La acción no se puede deshacer.Para crear un
video para una de estas categorías sólo hace falta hacer un clic en el botón "+" en la esquina inferior a la
derecha y filmar.<br/>

&5.3 Rating<br/>

Aquí puedes encontrar la puntuación de todos los jugadores y encontrar tu lugar en esta. También se
puede ver los perfiles de los mejores o tus propias estadísticas del juego.<br/>

&6. Info<br/>

Aquí se puede elegir entre 3 categorías - Información, que contiene toda la información importante acerca
de la aplicación; Comentarios, a través de los cuales se puede poner en contacto con nosotros o dejarnos
tu opinión, y Votación, donde los usuarios resuelven colectivamente todos los problemas.<br/>

&6.1 Info<br/>

Aquí está toda la información que te ayudará a convertirte en uno de nosotros. Puedes familiarizarte con
el acuerdo de usuario, las condiciones de uso y obligaciones de las partes, la política de privacidad,
averiguar como aseguramos la seguridad de tus datos, el contenido y la información, o leer una guía
detallada sobre esta aplicación.<br/>

&6.2 Voto<br/>

Votad e influid en el futuro de esta aplicación. Aquí los usuarios son los que deciden todas las cuestiones
importantes.<br/>

La pestaña “Actuales” contiene todas las votaciones que están teniendo lugar en el momento y en las
cuales se puede participar. En la “Historia” están todas las votaciones que ya terminaron. Si quieres
empezar tu propia votación ve a “Mi”.<br/>

La participación en la votación de cada edición da 25 (1) talento. Comience su voto vale 250 (15) talant.<br/>

&6.3 Comentarios<br/>

Escríbenos si tienes una idea o has encontrado un error, siempre estaremos encantados de responderte.<br/>

Puedes escribir, por ejemplo, como te gustaría mejorar la aplicación.<br/>

Si encuentras contenido que infringe las reglas de la red social o alguna ley o si algún usuario está
molestando a los demás, por favor ponte en contacto con nosotros.<br/>

Si encuentras un error o algún problema, todo lo que no te permite usar la aplicación, por favor
escribenos, ¡nosotros lo arreglaremos!<br/>

Para cada uno de los pasos mencionados simplemente haz clic en el botón "+" en la esquina inferior a la
derecha.<br/>

&7. Aviso legal<br/>

Está prohibida la publicación de cualquier contenido, ya sean vídeos, fotos, texto o audio, que contenga
elementos de desnudez, pornografía, violencia, crueldad, tanto en relación con las personas como los
animales; llamados a la violencia, odio racial, religioso, étnico o cualquier otro, racismo, cualquier
manifestación de extremismo, el apoyo al terrorismo, la incitación a desobedecer la ley o las autoridades,
o a cualquier otro delito, tanto en la legislación local como la internacional. Nos reservamos el derecho a
eliminar tal contenido sin explicación, evaluar la elegibilidad de esta acción no está permitido y no puede
ser impugnada. La aplicación no asume ninguna responsabilidad por cualquier contenido publicado por
los usuarios, ya que no hay premoderación. Toda la responsabilidad en su totalidad pertenece al usuario.<br/>

La aplicación bajo ningunas condiciones puede ser un demandante en un caso judicial que se ocupe del
dicho contenido. Usando la aplicación y registrándose aquí el usuario confirma por la presente que está
familiarizado con estas reglas y las acepta.<br/>