1. Глоссарий<br/>

Bastogram – приложение для ведения видеоблога домашних животных<br/>

Talant - внутренняя платежная система<br/>

Invite Token – форма приглашения твоего друга, когда ты и он получаете по 100 talant<br/>

&2. Технические сервисы<br/>

&2.1 Поиск<br/>

Это новый вид социального поиска по людям.   Выбери параметр в каждой категории и нажми на
поиск. Ты можешь искать по профилю пользователя, его имени, фамилии, месту жительству,
языку, работе, образованию и компетенциям. Или по его интересам, предпочтениям и
мировоззрению.  Ты можешь искать человека по тому, когда, где и что он сделал, и
найти первоисточник информации. <br/>

&2.2. Звонок<br/>

Ты можешь напрямую связаться с другим пользователем.<br/>

Если ты купил что-то, получил в пользование или получил пожертвование, пользователь сможет
позвонить тебе напрямую. Если ты хочешь использовать чьи-то услуги, также свяжись с этим
человеком напрямую. <br/>

Если ты инвестировал в проект, его автор может связаться с тобой. С тобой так же может
связаться автор задания, которое ты выполнил.  Или автор видеопотока, на который ты
подписался. <br/>

&3. Профайл-анкета<br/>

Если заполнишь расширенную анкету, то получишь еще 150 (15*) talant «Все видео» представляют
собой твое личное портфолио.  «Анкета»  отражает твои интересы и данные. “Навыки” отображает
список твоих навыков и умений. И главное - “Питомцы, это список твоих кошек или котов.<br/>

*Всегда есть эквивалент реальным суммам, которое ты можешь посмотреть в балансе. <br/>

&3.1 Пригласи друга<br/>

Используя Invite Token ты можешь пригласить друга или близкого в приложение, если он
установит и ты, и он получите каждый по 100 (10) talant. У тебя есть 3 приглашения, поэтому
расходуй их с умом, отправь их именно тому, кому это реально нужно. Для тех пользователей, кто
быстро израсходует свои накопления talant мы предоставляем дополнительную возможность
заработать и даем еще один Invite Token.<br/>

&4. Питомцы<br/>

&4.1 Все<br/>

Это подборка всех видео, которые сняли пользователи о своих питомцах: любые ролики со всего
мира собранные по тематическим каналам.<br/>

Справа находится кнопка съемки видео, для них можно использовать любую камеру, главное
добавить правильную категорию и теги.<br/>

К каждому видео можно добавить саундтрек, наложить уникальный фильтр и выбрать
идеальное превью. <br/>

Видеопоток создается автоматически на основе трех критериев: места, времени и тега, которые
также будут автоматически переведены на любой язык приложения.<br/>

Пользователь может добавить новость в любой из потоков. Ты можешь оставить комментарий к
каждому видео или снять видеоответ, поделиться с друзьями или пожаловаться, если видео
нарушает правила сети.<br/>

«Все» – абсолютно все потоки.<br/>

«Избранное» – то, что ты лайкнул<br/>

«Сегодня» - видео, созданные в течение последних 24 часов.<br/>

&4.2  Мои<br/>

Тут собраны все видео твоих котов или кошек, сними свое первое видео прямо сейчас,
чтобы начать влог своего любимца, и получи 50 (10) talant. Любой кот может стать
суперзвездой! Снимай видео ежедневно, делись ей с друзьями и всем миром.<br/>

&4.3 Мой выбор<br/>

«Мой выбор» - видеопотоки питомцев, на которых ты подписан. Чтобы подписать нужно зайти на
профиль пользователя и нажать на кнопку подписки. В профиль пользователя можно попасть,
кликнув на имя автора видео. Ты можешь подписаться на любой личный видеопоток за 25 (1) talant,
и он сразу попадет в «Твой выбор», а его автор получит вознаграждение 5 (1) talant. Зайди в
профиль автора и выбери опцию «Подписаться».<br/>

&5. Маркетплейс<br/>

Тут ты можешь выбрать из 3 категорий – Talant, где можешь больше узнать о платежной системе,
Крауд, где ты можешь вести социальную деятельность, и Рейтинг, где ты можешь узнать свой рейтинг
в рамках глобальной системы. <br/>

&5.1 Talant<br/>

Talant – это внутренняя платежная система, с помощью которой ты можешь зарабатывать на новостях
или создавать свои репортерские задания.<br/>

В закладке «Баланс» ты можешь посмотреть твой текущий баланс и его историю.<br/>

Сними  первые 100 видео и получи дополнительные 500<br/>

Заполни расширенную анкету за 150 (15)</br>

Начни снимать персональный влог питомца за 50 (10)<br/>

Проголосуй - 25 (1)<br/>

Сними любое видео - 5, поделись им и получи еще 10 <br/>

Сними видео-ответ - 15<br/>

Получи лайк – 1<br/>

Пригласи друга – 100 (10)<br/>

&5.2 Крауд<br/>

Здесь же в разделе «Краудфандинг» ты можешь привлечь ресурсы и попросить об этом у других
пользователей.<br/>

Крауд-платформа позволит создавать проекты для помощи питомцам или их хозяевам, а другим
пользователям безопасно помогать им.  Так же вы сможете обмениваться предметами необходимости
или даже подарить кому-то котенка.<br/>

Тут представлены объекты или компетенции, которыми можно поделиться, или пожертвовать,
или обменяться. При клике на иконку действия с баланса пользователя на баланс автора видео
переходит указанная сумма виртуальных talant. После этого можно связаться с хозяином видео.
Покупка или продажа происходит по клику, действие не имеет обратной силы.<br/>

Чтобы создать видео для одной из этих категорий, достаточно нажать на кнопку «+»
в нижнем правом углу и снять его.<br/>

&5.3 Рейтинг<br/>

Здесь ты можешь найти рейтинг всех пользователей и питомцев и узнать свое место в нем.
Так же ты можешь узнать и посмотреть профили лучших или свою собственную статистику.<br/>

&6. Инфо<br/>

Тут ты можешь выбрать из 3 категорий – Инфо, где собраны вся важная информация о
приложении, Обратной связи, через которую ты можешь связаться с нами или оставить свое
мнение, и Голосование - где пользователи коллективно решают любые вопросы.<br/>

&6.1 Инфо<br/>

Тут собрана вся информация, которая поможет стать одним из нас. Ты можешь ознакомиться с
пользовательским соглашением – правилами пользования приложением и обязанностями сторон,
политикой конфиденциальности. Узнай о том, как мы обеспечиваем безопасность твоих данных,
контента и информации, или прочти подробный справочник о том, как пользоваться этим
приложением.

&6.2 Голосование<br/>

Голосуйте и влияйте на будущее этого приложения. Именно пользователи решают все важные
вопросы, связанные с ним.<br/>

В закладке «Активные» находятся все голосования, которые происходят на настоящий момент, и в
которых ты можешь принять участие. В «История» сохранены все голосования, которые уже
прошли.  Если ты хочешь сам начать голосование перейди в раздел «Мои».<br/>

Участие в голосовании по каждому вопросу дает 25 (1) talant. Создать свое голосование
стоит 250 (15) talant.<br/>

&6.3 Обратная связь<br/>

Напиши нам, если у тебя есть идея, как сделать приложение лучше, или если ты нашел ошибку,
мы всегда будем рады ответить на твое письмо.<br/>

В разделе предложений ты можешь написать, например, о том, как бы ты хотел улучшить
приложение.<br/>

Если ты нашел контент, который нарушает правила сети или закон, или если какой-то
пользователь мешает другим, тоже напиши нам об этом.<br/>

Если ты найдешь баг, ошибку, неполадку – все, что мешает тебе пользоваться приложением,
напиши нам, и мы исправим это!<br/>

Для того чтобы сообщить об этом, нужно просто нажать на кнопку «+» в нижнем правом углу.<br/>

&7. Предупреждение<br/>

В приложении запрещена публикация любого контента, будто видео, фото, текст или аудиозапись,
содержащие элементы наготы, порнографии, насилия, жестокости как по отношению к людям, так
и животным, призывы к насилию, расовой, религиозной, этнической или любой другой розни,
расизму, любым проявлениям экстремизма, поддержки терроризма, призывы к неповиновению
закону или властям, или любые другие правонарушения, как местного, так и международного
права. Мы оставляем за собой право удалить такой контент без объяснений причин, оценку
правомочности действий не допускается и не может быть оспорена. Приложение не несет никакой
ответственности за контент размещенный пользователем, так как не проводит премодерацию. Всю
ответственность в полном объеме несет только пользователь. Приложение ни при какие условия
не может быть истцом в случае суда или дела, где рассматривается подобный контент. Пользуясь
приложением и регистрируясь в нем, пользователь тем самым подтверждает, что ознакомлен с
данными правилами и акцептует их.пользователь тем самым подтверждает, что ознакомлен с
данными правилами и акцептует их.
