Condiciones de uso<br/>
Estos Términos de Uso son efectivos a partir del 20 de octubre de 2015.<br/>
Al registrarse a la aplicación 1CLICKGAIN (o 1clickgain, "la aplicación"), es total e incondicionalmente acepta que quedará vinculado por estas condiciones de uso ("Términos de Uso"), así como cualquier documento legalmente vinculante incorpora aquí a modo de referencia. La aplicación es propiedad y está controlado por 1CLICKGAIN CORP.<br/>
Estas Condiciones de Uso (una vez accedieron a) crear una relación contractual entre 1CLICKGAIN y que afecta a sus derechos y obligaciones legales. Si usted no acepta que quedará vinculado por todos estos Términos de Uso o si alguna de estas condiciones de uso no son claras para usted, no se registre a la aplicación hasta que se garantice plenamente de acuerdo y claridad.<br/>
Dado que el servicio prestado al usuario se basa en la funcionalidad de la aplicación, las limitaciones técnicas y otras condiciones de prestación del servicio (uso de la Aplicación), así como las condiciones de uso publicadas por 1clickgain en las páginas de aplicación serán vinculantes para las Partes.<br/>
Términos y definiciones<br/>
Cuenta	significa los medios técnicos y el sistema de identificación del usuario dentro de la aplicación que permite al usuario enviar a la aplicación (para el acceso público) y / o para 1clickgain cierta información y otro contenido, para controlarlos (añadir, modificar y borrar), así como para acceder a la respectiva funcionalidad de la aplicación (disponible sólo para el usuario como una persona registrada en la aplicación).<br/>
Solicitud	significa la aplicación de Internet propiedad y controlado por 1clickgain el acceso al cual está concedida de conformidad con las condiciones de uso.<br/>
1clickgain	significa Sociedad de Responsabilidad Limitada "1clickgain" organizada y existente bajo las leyes del Panamá.<br/>
Contenido	significa cualquier clip de datos, texto, archivos, información, nombres de usuario, imágenes, gráficos, fotos, perfiles, audio y vídeo, sonidos, obras musicales, obras de autor, aplicaciones, enlaces y otros contenidos o materiales enviados, publicados o exhibidos a través de la Aplicación , independientemente de si o no los datos transmite un significado específico y si o no tal significado (si lo hay) es insignificante o valioso, etc.<br/>
Fiestas	significa 1clickgain y cada uno de los usuarios.<br/>
Servicio	significa suministro por 1clickgain a los Usuarios el acceso a la funcionalidad de la aplicación a los efectos de la publicación de los Contenidos en la forma descrita en el párrafo. 1 del presente documento.<br/>
Condiciones de uso	significa este documento, que podrá ser modificado o complementado de vez en cuando, incluyendo disposiciones incorporadas en el presente documento por referencia.<br/>
Usuario	significa una persona para acceder a la aplicación, en virtud de la inscripción.<br/>
Objeto<br/>
En las actuales condiciones de uso 1clickgain ofrece a los usuarios el servicio de publicar el contenido en la solicitud y la prestación de acceso a dicho Contenido a terceros. La publicación de los Contenidos por el Usuario en la solicitud se realizará en virtud de la disposición del contenido de 1clickgain a través de su cuenta (a menos que se indique lo contrario por 1clickgain, la publicación se produce automáticamente por el software de aplicación). El proceso de registro puede llevarse a cabo como sigue:<br/>
en virtud de la carga directa por parte del Usuario del contenido de 1clickgain servidores, o<br/>
en virtud de la disposición 1clickgain de los datos en cuanto a donde se almacena dicho Contenido y donde puede ser cargado desde la aplicación con el uso de código de software especial (incluyendo, por regla general, el software de terceros) si dicha carga se apoya tanto por la aplicación y por el sistema de terceros (por ejemplo, este tipo de tecnología con el apoyo de vídeo-servicio de youtube.com).<br/>
La principal funcionalidad de la aplicación se proporciona de forma gratuita. 1clickgain tiene derecho a ofrecer o introducir servicios o funcionalidades de la aplicación por un importe adicional. Tales servicios se prestarán de acuerdo con y en el marco de las condiciones de uso. 1clickgain determine condiciones especiales para un servicio específico, y en caso de cualquier contradicción a las condiciones de uso, las condiciones establecidas por 1clickgain para el respectivo servicio específico, prevalecerá.<br/>
1clickgain informará al usuario sobre todas las condiciones especiales de un servicio de pago, incluyendo el precio, antes de que se ordene el servicio.<br/>
Para utilizar un servicio de pago, el Usuario deberá pedirlo o de otra manera de expresar su acuerdo de su / la misma. Salvo que se establezca por los términos de un servicio, para ello de pago se considera que la aceptación por el Usuario de todos los términos y condiciones del servicio correspondiente.<br/>
Todos los posibles medios de pago se especificarán por 1clickgain en la Solicitud.<br/>
A menos que se establezca lo contrario por 1clickgain, el Servicio se considerará debidamente prestados y aceptado por el usuario si el usuario no envía ninguna reclamación por escrito a 1clickgain dentro de los 5 (cinco) días hábiles siguientes (i) la finalización real del servicio, ya que se determina o implícito en la naturaleza del servicio pertinente o (ii) el descubrimiento de un defecto, lo que ocurra antes.<br/>
1clickgain puede proporcionar a determinados Usuarios funciones / posibilidades adicionales a su entera discreción.<br/>
No 1CLICKGAIN llevar casos en los siguientes países: Panamá<br/>
1. Inscripción y Terminación de la Cuenta<br/>
Cualquier persona que tiene la capacidad legal necesaria para celebrar un contrato en virtud de la adhesión a las presentes condiciones de uso de acuerdo con la legislación del país de su residenсе puede ser el usuario.<br/>
El registro se lleva a cabo por parte del Usuario de forma automática (sin participación de 1clickgain) según lo estipulado por 1clickgain en la Solicitud. El registro puede hacerse sólo rellenando el formulario de solicitud por parte del Usuario a sí mismo / a sí misma. El Usuario se compromete a la transferencia de todos los datos necesarios para 1clickgain, así como al hecho de que la aplicación tendrá acceso a todos sus / sus contactos.<br/>
El registro no está permitido sin el consentimiento pleno e incondicional del usuario a las condiciones de uso.<br/>
Tras el registro, se crea una cuenta de usuario. El acceso de Usuario a la Cuenta se otorga a través de la identificación personal con el número de teléfono móvil.<br/>
El Usuario no podrá dar acceso a su / su cuenta a terceros. El usuario puede tener sólo una cuenta. Si no se respeta esta restricción, 1clickgain tiene derecho a bloquear el acceso de Usuario a todos o algunos de Cuentas, así como de suspender todas o algunas de dichas cuentas. Tal violación se puede moler para usal ref en repetidas registro del usuario en la aplicación (incluyendo los casos en que 1clickgain ha terminado todas las cuentas de usuario).<br/>
Terminación de la Cuenta significa eliminación por 1clickgain de la aplicación de todo el Contenido publicado por el Usuario, incluyendo el formulario de solicitud (1clickgain tiene derecho de no borrar el contenido relacionado con otros usuarios, por ejemplo, los comentarios de otros usuarios y / o de su contenido, mensajes y contenido al que otros usuarios han publicado respuestas o comentarios, contestación-shots, fragmentos vistory o lifehalo, etc.), así como la cancelación de la inscripción de Usuario que resulta en la pérdida de acceso a la aplicación y la terminación de las relaciones contractuales otra.<br/>
A la terminación, todos los derechos concedidos al usuario en estas Condiciones de Uso cesarán inmediatamente.<br/>
2. Reserva de derechos, Terminación, el cierre de cuentas<br/>
Además 2.1V a otros derechos disponibles para el servicio bajo este Acuerdo El Servicio se reserva el derecho, a su sola discreción, de anular cualquier ganancia y confiscar el saldo de su cuenta de apuestas, a resolver el Contrato y / o suspender la prestación de los Servicios / desactivar su cuenta si el servicio tiene motivos razonables para creer o establezca cualquiera de las siguientes:<br/>
• usted tiene más de una cuenta activa con el servicio;<br/>
• el nombre no coincide con el nombre en la tarjeta de crédito o débito (s) u otras cuentas corrientes, que uso para hacer las compras y depósitos en el servicio;<br/>
• participar en las acciones del Servicio de retirar antes de cumplir los requisitos de esa promoción en particular;<br/>
• ¿te proporciona información falsa o engañosa;<br/>
• usted no proporciona o no proporcionar la información solicitada para su identificación;<br/>
• usted no tiene los derechos necesarios;<br/>
• el acceso y participar en los servicios del Servicio de una jurisdicción donde la participación en los Servicios está prohibido por la ley;<br/>
• que está depositando el dinero procedente de manera ilegal o no autorizada penal o de otro tipo;<br/>
• se le declara culpable de fraude o fraude o engaño a nadie de ningún partido ha intentado, o si especifica el servicio que usted ha utilizado o está utilizando la inteligencia artificial u otro sistema (incluyendo máquinas, computadoras, software u otros sistemas automatizados) diseñada específicamente para derrotar el sistema o usted ha encontrado que en connivencia o trató de coludirse con otros jugadores con el fin de engañar al Servicio (o de otros jugadores, dependiendo de las circunstancias);<br/>
• ha permitido (intencionalmente o no) a otra persona utilizar su cuenta;<br/>
• incumplimiento de cualquiera de estas condiciones;<br/>
• no revele que usted está en Panamá, o un ciudadano de Panamá, un residente que vive en Panamá;<br/>
• usted reconoce que usted o nosotros tiene razones para creer que usted está sufriendo de problemas asociados con los juegos de azar.<br/>
Nos reservamos, a nuestra sola discreción, el derecho a:<br/>
negarse a registrar cualquier solicitante del registro<br/>
• negarse a aceptar cualquier apuesta;<br/>
• modificar, suspender, eliminar, modificar o añadir algún juego o torneo.<br/>
• Nos reservamos el derecho de hacer peticiones de su cuenta, incluyendo verificaciones de crédito, con crédito a terceros y las instituciones financieras, de acuerdo con la información que nos ha proporcionado. También nos reservamos el derecho de solicitar información sobre el origen de los fondos.<br/>
• En caso de cualquier controversia relacionada con apuestas o ganancias, nuestra decisión será definitiva y vinculante. Nos reservamos el derecho de retener cualquier pago o ganancia hasta que la identidad de la persona ganadora se verifica para asegurar que el pago de la cantidad ganadora fue a la persona adecuada.<br/>
• Nos reservamos el derecho de retener cualquier pago a cabo o la cantidad de ganar hasta que la identidad de la persona ganadora es verificada a nuestra satisfacción con el fin de garantizar que el pago de la cantidad que gana, que incluía a la persona adecuada y para cumplir con el lavado de dinero y verificación de la identidad del jugador. Para ello, nos reservamos el derecho, a su sola discreción, requerimos que nos proporcione una identificación notarial o cualquier equivalente certificada de acuerdo con la legislación aplicable en su jurisdicción. Si, dentro de los 180 días a partir de la designación de nuestra solicitud que hemos recibido la documentación necesaria, los fondos restantes en la cuenta serán removidos y su cuenta está cerrada.<br/>
•, es posible que en cualquier momento revelar cierta información personal sobre usted a terceros de acuerdo con nuestra política de privacidad, que se reproduce en su totalidad en nuestra Política de Privacidad<br/>
• En el caso de que sospechemos un fraude o actividad fraudulenta por su parte de sus pagos serán retirados, o usted no será capaz de aportar la documentación necesaria para verificar su identidad y / o edad, su cuenta será congelada, tenemos la derecho de retener cualquier pago o cantidades ganadoras debido a usted y si es necesario legalmente podemos cobrarle la cantidad requerida. Si juega en cualquiera de los modos de juego, tenemos sospechas sobre el marcador, nos reservamos el derecho de retener cualquier cantidad de su cuenta que será en el negro de su depósito inicial. Si su cuenta permanece congelada como resultado de este apartado durante un período continuado de 180 días, en ausencia de una explicación o prueba suficiente para demostrar las intenciones legítimas, los fondos restantes en su cuenta serán removidos y su cuenta está cerrada.<br/>
• Usted puede cerrar su cuenta en cualquier momento de su elección, se le solicitará la confirmación de su solicitud por escrito (e-mail, carta, pero con exclusión de chat o SMS), enviado a los datos de contacto en nuestro sitio web, que se comprobó durante 48 horas y en el marco de nuestra política de cancelación de su cuenta. Usted debe notificar al empleado específicamente para trabajar con los clientes y confirmar la misma por escrito, si por alguna razón usted necesita un cierre inmediata de la cuenta.<br/>
• Si usted piensa que necesita un descanso del juego, por favor póngase en contacto con nuestro equipo de soporte inmediato y pedirles que cerrar temporalmente su cuenta, especificando por cuánto tiempo desea que su cuenta ha sido tiempo congelado: un período de siete días; un mes; período de seis meses; o más, de acuerdo a sus necesidades. No se puede iniciar sesión en su cuenta durante este período de tiempo que usted especifique.<br/>
3. cuentas inactivas<br/>
3.1 "Durmiente" Cuentas del jugador definidas como las cuentas de los jugadores que no son utilizados por usted y utilizan para apostar durante un período de 180 días.<br/>
3.2 Una vez que su cuenta ha sido anunciado Durmiente, tendremos el derecho de cobrar una tasa administrativa de 10% del saldo total ("gastos de administración"). El importe mínimo de la deducción es de $ 15 o su equivalente en moneda, y el importe máximo de la deducción es de $ 500 o su equivalente en otra moneda. Vamos a deducir una tasa administrativa de tus jugadores representan cada treinta (30) días a partir de cuando su cuenta se ha convertido en estado latente. Se le dará 30 días de aviso por escrito por correo electrónico que su cuenta está a punto de convertirse en inactivo.<br/>
3.3 Nos detendremos la deducción de la cuota administrativa a su saldo si su cuenta se reactiva jugador: se utiliza para hacer los tipos de interés reales o dinero real.<br/>
3.4 Una vez que su cuenta de jugador llega a cero y / o un saldo negativo como resultado de las deducciones, su cuenta se cerrará.<br/>
3.5 Incluso si usted no desea volver a activar el reproductor de cuenta, puede ponerse en contacto con nosotros en cualquier momento con una petición para recuperar su equilibrio.<br/>
3.6 Si la cuenta de su jugador permanece inactiva durante 180 días, pero su cuenta tiene un saldo, vamos a seguir en contacto con usted con el fin de devolver cualquier cantidad de fondos restantes. Si esto no es posible, se eliminará el saldo de la cuenta después de un período de 1 año, y su cuenta está cerrada.<br/>
3.7 En relación con las leyes de protección de datos, no podemos confirmar cualquiera que no sea el propietario de la cuenta si tiene una cuenta y una cuenta personal en nuestro sistema. Si un tercero considera que él / ella tiene un interés legítimo en la cuenta abierta con un nombre diferente (por ejemplo, en situaciones de pérdida o incapacidad del titular de la cuenta), él / ella debe ser invitado a enviar en su / su identificación, así como una orden de la corte; El poder (o similar), lo que confirma los intereses legales antes mencionados. Este documento será considerado por el equipo jurídico del Servicio.<br/>
4. La inscripción, la apertura de su cuenta de apuestas y Membresías<br/>
4.1 Con el fin de jugar y apostar con el servicio y utilizar el servicio, debe llenar un formulario e identificar su identidad a través del teléfono.<br/>
4.2 Usted manifiesta y garantiza que toda la información proporcionada por usted al registrarse y completar el cuestionario para ser miembro es exacta, verdadera y completa en todos los aspectos, incluyendo, su nombre ("Nombre"), las fuentes de financiación (incluyendo las tarjetas de números de cuentas bancarias) y dirección residencial.<br/>
4.3 Tomaremos medidas razonables y apropiadas para garantizar que su información personal es confidencial y será tratada como confidencial de conformidad con nuestra Política de Privacidad, en su versión modificada de vez en cuando. No revelaremos sus datos personales o información de apuestas menos que obligados a hacerlo por las leyes y reglamentos aplicables, los tribunales, oa petición de las autoridades del juego o aplicación de la ley pertinentes o se disponga otra cosa en estos Términos y Condiciones. Es su responsabilidad mantener su información personal confidencial. Nos reservamos el derecho de divulgar y transferir su información personal a los intermediarios, con los que trabajamos, los sitios de pago y las entidades financieras en la medida necesaria para realizar pagos por servicios prestados por la aplicación, o si obligado a hacerlo de conformidad con las leyes y aplicables regulaciones, a las autoridades del juego o aplicación de la ley pertinentes.<br/>
4.4 Además, su responsabilidad personal para asegurar que las leyes aplicables a usted no le prohíben el uso y el acceso a la aplicación y la información contenida en el mismo, descargar e instalar el software y / o el uso o participar en los Servicios.<br/>
4.5 Se requiere una prueba más de la edad de identificación de que confirme su solicitud de adhesión (por ejemplo, la imagen de identificación y de crédito / tarjeta de débito) para asegurarse de que usted es 18 años de edad, y de acuerdo con los requisitos para combatir el lavado de dinero, falta de documentación adecuada en el momento oportuno podría dar lugar a la congelación de la cuenta. Si hay algún cambio en su información inicialmente proporcionada por usted, usted debe notificarnos del cambio relevante sin demora. Con el fin de confirmar su nombre y dirección, SERVICIO se reserva el derecho, en particular, para confirmar el nombre y el correo electrónico. SERVICIO puede, a su entera discreción, para llevar a cabo pruebas adicionales de cualquier información que usted proporcione. Al aceptar estos Términos y Condiciones usted autoriza al Servicio de acceso, uso, manejo y almacenamiento de los resultados de cualquier verificación de identificación o comprobaciones que pueda hacerse.<br/>
4.6 Nos reservamos el derecho a rechazar su solicitud de adhesión y sin motivos de justificación.<br/>
4.7 Se le permite abrir sólo una cuenta de apuestas en el Servicio. Si encuentra que usted tiene más de una cuenta con el servicio, nos reservamos el derecho, a su sola discreción, de congelar o eliminar todas las cuentas que tiene el Servicio o combinar en una cuenta conjunta simple o dar por terminado este Acuerdo.<br/>
4.8 El nombre de usuario no debe contener palabras o lenguaje ofensivos o inapropiados. Si el criterio del Servicio, su nombre de usuario es ofensivo o inapropiado, se le pedirá para cambiarlo. Si usted niega esta solicitud, SERVICIO se reserva el derecho de congelar su cuenta.<br/>
5. Colocación de apuestas y recibir tasas<br/>
5.1 Aceptamos apuestas a través de una aplicación móvil. Todas las tarifas están sujetas a las reglas pertinentes de las tasas aplicables a cada evento o juego, de acuerdo con estos Términos y Condiciones.<br/>
a. Si el servicio está cerrado debido a razones técnicas, después de haber hecho una apuesta, pero antes de una decisión o iniciar juegos o utilice tasa, la tasa de nutrir su depósito.<br/>
segundo. Si la desconexión se produce después de que el resultado de la apuesta puede ser conocido, es decir, después de la decisión, el inicio del juego, entonces la apuesta será considerada válida.<br/>
do. Si la desconexión se produce en cualquier juego en el que varios jugadores pueden participar, donde los jugadores juegan entre sí, las mismas reglas que el apartado A y B anteriores se aplican.<br/>
5.2 Sólo se aceptan apuestas realizadas a través de Internet utilizando los dispositivos de acuerdo con estos Términos y Condiciones. Las ofertas no serán aceptados en cualquier otra forma (ya sea por correo postal, correo electrónico, fax o cualquier otro) y donde recibida será nulo independientemente del resultado. Todas las apuestas hechas con el Servicio revisado y considerado se han colocado, recibido y aceptado en Panamá.<br/>
5.3 Debe asegurarse de que los menores no están permitidos, y se les niega la oportunidad de tener acceso a la aplicación y los datos necesarios y / o los datos de su tarjeta de crédito / débito, para que puedan jugar con dinero real en el Servicio.<br/>
a. vamos a suponer que usted ha cumplido con lo dispuesto en este párrafo, y que todo el juego con dinero real a su cuenta realizado de forma independiente y no menores de edad.<br/>
segundo. Si usted fuera consciente de juegos a los menores con su cuenta, usted debe informar a la policía local y obtener un informe escrito de ellos, y una copia del número de expediente o su equivalente, y luego nos da, le diremos lo mismo nuestro regulador y para resolver este problema bajo las leyes de Panamá.<br/>
5.4 Es su responsabilidad asegurarse de que los detalles de sus apuestas son correctas. Sin perjuicio de lo dispuesto en los apartados 5.1, 5.2, 5.3, 5.8-9 y 5.10 aquí una vez sus apuestas han sido colocados y su aceptación confirmada por nosotros, que no pueden ser derogados, revocados o modificados, y se considera que es una prueba concluyente en respecto de las tasas que se han colocado.<br/>
5.5 Tenga en cuenta que todas las apuestas son registradas e inscritas en el registro de transacciones de base de datos. Servicio de registros de transacciones son una evidencia concluyente de todas las transacciones y los tiempos en los que las transacciones registradas.<br/>
5.6 Sin perjuicio de los párrafos 5.1-4, se debe 5.8-9, y 5.10, las apuestas son válidas y aceptadas por el servicio cuando se muestra el ID de la transacción en la pantalla y debidamente reflejado en el registro de transacciones.<br/>
5.9 Stuckey no está permitido después del inicio del evento y / o evento donde el resultado se conoce en el momento se realizó la apuesta. De conformidad con el apartado 5.1 anterior, si cualquier caso se deja erróneamente abierto para apuestas después del inicio del evento y / o cuando se conozca el resultado de un evento, SERVICIO se reserva el derecho de rechazar o cancelar dichas apuestas realizadas sin hacer referencia a usted, todas las apuestas o de las partes deben hacerse a discreción del Servicio. Para evitar cualquier duda, esta disposición no prohíbe las apuestas "en juego" o "medio tiempo".<br/>
5.10 Con respecto a cualquier apuesta y las transacciones asociadas con él, la decisión del servicio es definitiva y concluyente.<br/>
5.11 Usted reconoce que nuestro generador de números aleatorios ("RNG") determinará el barajar y distribución de vídeo, el resultado final del partido y otros eventos generados aleatoriamente que forman parte de nuestros servicios y que usted se compromete a aceptar tales barajar y los resultados de los juegos de casino y otros eventos, generados RNG realizado al azar son definitivas y no negociable.<br/>
5.12 Todas las apuestas deportivas y apuestas en los juegos instantáneos, proporcionada por ____________ colocado y aceptado de conformidad con las leyes de Panamá.<br/>
5.12 Las funciones del cliente incluyen el cumplimiento de las leyes de su país de residencia en materia de precios. Usted se compromete a consultar a un experto independiente antes de colocar cualquier apuesta en 1CLICKGAIN y asegúrese de que su juego es completamente legal. Las apuestas por Internet pueden ser ilegales en la jurisdicción en que se encuentre, en cuyo caso se le prohíbe el uso de su tarjeta de débito para transacciones de pago.<br/>
5.12 La Administración se reserva el derecho de modificar, completar o modificar estas reglas como lo considere razonable. Todos los clientes recibirán notificación previa antes de la fecha de vigencia de cualquier cambio en las reglas y tendrá que confirmar su cumplimiento de las normas.<br/>
5.13 Cualquier información proporcionada por los empleados de los servicios de apoyo es a título indicativo y no está sujeto a los reglamentos anteriores. A pesar del hecho de que vamos a hacer todo lo posible para proporcionar a los clientes con información precisa, el cliente es responsable de la comprensión de las tarifas, que impone, así como los términos y condiciones.<br/>
6. Liquidación de las operaciones<br/>
6.1 Cuando se utiliza una tarjeta de crédito o débito, el nombre del titular de la tarjeta debe ser el mismo que su nombre. El Servicio se reserva el derecho de no aceptar las transacciones de pago y en presencia de discrepancias entre el nombre del titular de la tarjeta y el nombre de usuario.<br/>
6.2 Usted es el único responsable del pago de todas las sumas adeudadas al Servicio / o otros jugadores (como el caso).<br/>
7. Derechos, Obligaciones y Responsabilidades del Usuario<br/>
El usuario debe familiarizarse / ella misma y cumplir con las normas de uso de la aplicación y otros términos y condiciones conectados al mismo publicado en la Solicitud y establecido por 1clickgain (por ejemplo, las Directrices sobre notificación y supresión Violaciónes).<br/>
El usuario puede elegir quién puede ver su / su contenido y actividades.<br/>
El usuario puede utilizar la aplicación sólo dentro de la funcionalidad prevista de ese modo.<br/>
El Usuario no podrá publicar violenta, fraudulento, desnudo, parcialmente desnuda, discriminatorio, ilegal, ilegal, odioso, pornográfico o sexualmente sugerentes fotos u otros contenidos de la clase a través de la aplicación.<br/>
El Usuario es responsable de cualquier actividad que se produce a través de su / su cuenta y se compromete a no vender, transferir, licencia o cesión de los derechos de la cuenta, nombre de usuario, o cualquier cuenta. El Usuario está prohibido y no se creará ninguna cuenta para cualquier persona que no sea a sí mismo / a sí misma. El Usuario declara que toda la información proporcionada a 1clickgain momento de la inscripción y el resto del tiempo será verdadera, precisa, actualizada y completa y el Usuario se compromete a actualizar su / su información si es necesario para mantener su veracidad y exactitud.<br/>
El usuario no deberá solicitar, recoger o utilizar los credenciales de acceso de otros usuarios de la aplicación.<br/>
El Usuario es responsable de mantener su / su contraseña en secreto Aplicación y seguro.<br/>
El usuario no debe difamar, acosar, intimidar, abusar, acosar, amenazar, intimidar o suplantar las personas o entidades y no debe publicar información privada o confidencial a través de la Aplicación, incluyendo, sin limitación, la información de tarjeta de crédito de otra persona del usuario o, social números de seguro o de identidad nacional alternativo, números de teléfono no públicas o direcciones de correo electrónico no públicas.<br/>
El Usuario no podrá utilizar la Aplicación para ningún propósito ilegal o no autorizado. El Usuario deberá cumplir con todas las leyes, normas y regulaciones (federales, estatales, locales y provinciales) aplicables al uso de la Aplicación, el Servicio y el contenido, incluyendo pero no limitado a, las leyes de copyright.<br/>
El Usuario es el único responsable por el contenido que él / ella se somete, mensajes o pantallas en la aplicación.<br/>
El Usuario deberá abstenerse de utilizar varios vulnerabilidad técnica de la aplicación (por ejemplo, "bichos", "agujeros", etc.) y en caso de que se revelan, el Usuario debe notificar 1clickgain tan pronto como sea posible a través de e-mail oa través de la Cuenta es tal posibilidad técnica está prevista por la aplicación.<br/>
El usuario no debe crear o enviar correo electrónico no deseado, comentarios, gustos u otras formas de comercial o comunicaciones de acoso ("spam") a cualquier usuario de aplicación independientemente de la naturaleza y el contenido de dichas comunicaciones, a menos que se permite expresamente ese tipo de comunicaciones y previstas por la funcionalidad de la aplicación.<br/>
El usuario no debe utilizar nombres de dominio o URL web en su / su nombre de usuario sin el consentimiento previo por escrito de 1clickgain.<br/>
El usuario no debe interferir o interrumpir el Servicio, servidores, o redes conectadas al Servicio, incluyendo mediante la transmisión de cualquier gusanos, virus, spyware, malware o cualquier otro código de naturaleza destructiva o perjudicial, así como adaptar o descompilar el software o evadir protección técnica medio. El Usuario no puede inyectar contenido, o código, o de otra manera alterar o interferir con la forma en cualquier página de aplicación se muestra en el navegador o dispositivo del usuario.<br/>
El usuario no debe crear cuentas a través de medios no autorizados, incluyendo pero no limitado a, mediante el uso de un dispositivo, escritura, bot, spider, crawler o raspador automatizado.<br/>
El usuario no debe intentar restringir a otros usuarios el uso y disfrute del Servicio y no debe alentar o facilitar violaciónes de estos Términos de Uso o cualquier otro término 1clickgain.<br/>
El Usuario deberá abstenerse de publicación repetida de mensajes y otros contenidos en las páginas de la aplicación, si dicha publicación hace que el uso / asistencia de las páginas de aplicación respectivos general gravosa o no se corresponde con los objetivos de las páginas respectivas, entre otras cosas, si ser los mensajes publicado no transmiten ninguna nueva información útil en comparación con los ya publicado - la "inundación".<br/>
El Usuario se compromete a no utilizar la aplicación con fines publicitarios (por ejemplo, para enviar constantemente mensajes sobre el mismo producto o servicio a los efectos de su promoción). Si 1clickgain tenga conocimiento de los materiales de publicidad enviados por el usuario (enlace, comentario u otro contenido del usuario), 1clickgain puede, a su discreción, bloque (que no esté disponible para terceros) o eliminar dicho Contenido; y en caso de violaciónes repetidas por el usuario - para bloquear o cancelar su / su cuenta.<br/>
El Usuario está prohibido en el rastreo, el raspado, el almacenamiento en caché o acceder de otra forma cualquier contenido en la solicitud a través de medios automatizados, incluyendo pero no limitado a, los perfiles de usuario y fotos (excepto como puede ser el resultado de los protocolos de los motores de búsqueda estándar o tecnologías utilizadas por una búsqueda motor con el consentimiento expreso del 1clickgain).<br/>
El usuario deberá determinar los medios de uso de la Aplicación en el marco de las posibilidades previstas para ello por estas condiciones de uso y la funcionalidad de la aplicación. El Usuario es el único y total responsable de los contenidos publicados tanto a la persona cuyos derechos han sido violados y 1clickgain, así como por la violación de estos Términos de Uso.<br/>
El Usuario es responsable de todos los cargos de datos que él / ella incurra por la aplicación.<br/>
En la publicación del Contenido del Usuario debe actuar razonablemente, legalmente y de buena fe, y 1clickgain se basará en tal comportamiento fe razonable, legal y bien del usuario.<br/>
El Usuario es el único responsable de la interacción con otros usuarios del servicio, ya sea en línea o fuera de línea. 1clickgain no es responsable por la conducta de cualquier usuario.<br/>
El Usuario es el único responsable y asume el riesgo de terceros accedan a su / su cuenta (debido a su pérdida, robo, otra fuga de contraseña, así como por consecuencia del incumplimiento de la cuenta). En caso de duda, el Usuario debe cambiar la contraseña de la cuenta.<br/>
8. Derechos, Obligaciones y Responsabilidades de 1clickgain<br/>
1clickgain no controla (monitor, aprueba ni aprueba) el Contenido del Usuario a excepción de los casos previstos expresamente en el presente documento. En particular, 1clickgain no controla el contenido de la página del usuario (páginas de aplicación que el usuario tiene derecho a cambiar y / o que él / ella cambia). 1clickgain ofrece al usuario la posibilidad técnica para la creación de páginas dentro de la aplicación (incluyendo formularios de solicitud y cuestionarios). 1clickgain no tiene ninguna obligación de preseleccionar, monitorear, editar o eliminar cualquier contenido. Si el contenido viola estos Términos de Uso, el Usuario podrá asumir la responsabilidad legal para ese contenido.<br/>
1clickgain no iniciará la publicación del contenido en nombre del usuario. Publicación del Contenido del Usuario se realizará a su su iniciativa / y en virtud de la aplicación de medios técnicos automatizados y software de 1clickgain. 1clickgain no controla ninguna publicación específica del contenido; no elige o aprueba los usuarios finales de los Contenidos (los visitantes Aplicación). Sin perjuicio de lo anterior, 1clickgain podrá iniciar la publicación de información sobre los diversos tipos de tareas, pruebas y concursos para los efectos de la motivación del usuario y el entretenimiento.<br/>
1clickgain no podrá cambiar el contenido publicado por el usuario. Modificaciones técnicas posibles no afectará la sustancia.<br/>
1clickgain puede realizar mediante técnicas de rastreo y se opone (por medio de la eliminación) publicación de comentarios, comentarios, mensajes y otros contenidos de la misma persona de varias cuentas, así como por un grupo de personas afiliadas cuando dicha publicación no cumple con los objetivos de la Aplicación y crea un efecto que no habría existido en el curso de la operación normal de la aplicación. 1clickgain tiene derecho a tomar medidas para detener dicha actividad también en el caso de que obtenga una denuncia de un tercero. En ambos casos se indica la resolución se toma a la sola discreción de 1clickgain y el Usuario se obliga a aceptar que, independientemente de su / su propia evaluación de las circunstancias indicadas, así como independientemente de las circunstancias.<br/>
1clickgain se reserva el derecho de suspender de forma unilateral o bloque (que no esté disponible para terceros) cualquier contenido, a suspender o limitar el acceso del usuario a la cuenta, de rechazar unilateralmente del servicio y las condiciones de uso que resulta en la terminación de la cuenta del usuario, limitar o bloquear el acceso del usuario a la aplicación si 1clickgain tenga conocimiento (incluyendo a terceros) que el uso de la Aplicación por el Usuario viole o facilita la violación de los derechos de 1clickgain, terceros (incluidos otros usuarios y / o de los visitantes de aplicación ), disposiciones de la legislación y la normativa nacional e internacional, las condiciones de uso y / o no se ajusta a la idea y la esencia de la solicitud. En cualquier caso, 1clickgain no modificará el contenido.<br/>
1clickgain podrá emprender las medidas descritas en el párrafo anterior sin previo aviso al Usuario si lo estima respuesta inmediata a una violación o violación prevista necesario. El Usuario deberá aceptar tales medidas independientemente de su evaluación y la evaluación de las circunstancias de haber causado tales medidas por el Usuario.<br/>
Aunque 1clickgain no reclama la propiedad de cualquier Contenido publicado a través de la aplicación, 1clickgain puede utilizar el contenido, incluyendo la apariencia del usuario en el contenido (por ejemplo, fotos, videos), en virtud de una licencia no exclusiva, totalmente desembolsadas y libre de regalías, transferible, sub- licenciable (1clickgain puede sublicenciar el derecho a utilizar los Contenidos de terceros, y mediante el registro de la aplicación, el usuario proporciona su / su consentimiento incondicional a dicha sublicencia), licencia mundial, por cualquier medio y sin limitación en cuanto al territorio dentro de la totalidad del plazo de el Servicio, incluyendo de forma anónima (sin indicación del nombre del usuario y los titulares de los derechos). 1clickgain no estará obligado a proporcionar cualquier informe al usuario con respecto al uso del Contenido.<br/>
1clickgain puede copiar el contenido publicado por el usuario en la aplicación.<br/>
1clickgain se reserva el derecho de modificar o cancelar el Servicio o la Aplicación (el orden de facilitar el acceso a las aplicaciones, los algoritmos de funcionamiento de la aplicación, la estructura de aplicación) por cualquier razón, sin previo aviso, en cualquier momento, y sin responsabilidad para el Usuario.En caso de cambio de la solicitud, el camino se muestra el contenido (pero no el contenido en sí) en la solicitud puede cambiar. En caso de terminación del Servicio al contenido ya no se podrá acceder a través de la cuenta (por ejemplo, los terceros no podrán navegar hasta el nombre de usuario terminado y ver el contenido), pero el contenido y los datos respectivos pueden persistir y aparecer dentro del Servicio (por ejemplo, si el contenido ha sido re-compartida por otros).<br/>
1clickgain se reserva el derecho a denegar el acceso al servicio a cualquier persona por cualquier motivo y en cualquier momento.<br/>
1clickgain se reserva el derecho de obligar a la confiscación de cualquier nombre de usuario por cualquier razón.<br/>
1clickgain puede, pero no tienen ninguna obligación de, eliminar, editar, bloquear y / o supervisar el contenido o cuentas que contiene el contenido que 1clickgain determina a su sola discreción, viole estos Términos de Uso.<br/>
Puede haber enlaces de la aplicación, o de las comunicaciones recibidas de la solicitud, a sitios web de terceros o características. También puede haber enlaces a sitios web de terceros o de características en imágenes o comentarios dentro de la aplicación. La aplicación también incluye tercero contenido partido que 1clickgain no controla, mantener ni aprueba. La funcionalidad de la aplicación también puede permitir la interacción entre la aplicación y un sitio web de terceros o característica, incluidas las aplicaciones que conectan la aplicación o el perfil del usuario en la aplicación con un sitio web de terceros o característica. 1clickgain no controla cualquiera de estos servicios web de terceros o de cualquiera de sus contenidos. El Usuario reconoce y acepta expresamente que 1clickgain es de ninguna manera responsable o responsables de cualquier tipo de servicios de terceros o características. Correspondencia y empresariales tratos del usuario con terceros que se encuentran a través de la aplicación son exclusivamente entre el Usuario y el tercero. Mediante el uso de aplicaciones de terceros conectados a la aplicación, el usuario reconoce su / su conciencia de que esto puede causar información de identificación personal a revelar públicamente y / o asociado con el usuario, incluso si 1clickgain misma no ha proporcionado dicha información y que el uso de tales aplicaciones de terceros es bajo el propio opción del usuario y el riesgo, y el Usuario tendrá 1clickgain inofensiva para la actividad relacionada con las aplicaciones de terceros.<br/>
1clickgain puede publicar publicidad y promociones en la solicitud o en, sobre, o en conjunción con el Contenido del Usuario. La manera, el modo y el alcance de dicha publicidad y promociones están sujetos a cambios sin previo aviso al Usuario.<br/>
9. Representaciones y garantías del usuario<br/>
El Usuario declara y garantiza que:<br/>
el usuario tiene el derecho legal y la capacidad de entrar en estas condiciones de uso en su / su jurisdicción;<br/>
la información cargada a través de la aplicación, incluidos los datos personales (indicado al registrarse o posteriormente sobre su actualización) es verdadera y auténtica,<br/>
el usuario es propietario del Contenido publicado por tanto en oa través de la aplicación o no tiene el derecho de conceder los derechos y licencias establecidos en estas Condiciones de Uso y que el contenido no viola los derechos de terceros y las normas y reglamentos aplicables ( federal, estatal, local, provincial o internacional);<br/>
la publicación y el uso del Contenido en oa través de la aplicación no se violan, malversar o violar los derechos de terceros, incluyendo, sin limitación, derechos de privacidad, derechos de publicidad, derechos de autor, marca registrada y / u otros derechos de propiedad intelectual;<br/>
el Usuario haya pagado o deberá pagar todas las regalías, honorarios y cualquier otro ingreso que debido a las titulares de los derechos de terceros de los contenidos publicados en oa través de la aplicación;<br/>
el usuario es consciente de la forma en que terceros tienen acceso a los contenidos publicados y cuáles son las posibilidades de terceros en relación con el contenido son (por ejemplo, comentando);<br/>
el Usuario es el único que tiene acceso a su / su cuenta y todas las operaciones realizadas a través de la Cuenta se considerará que ser realizada por el usuario.<br/>
10. Modificación y Terminación del Servicio<br/>
1clickgain se reserva el derecho, a su sola discreción, de modificar unilateralmente las presentes Condiciones de Uso ("Términos Actualizado") de vez en cuando. 1clickgain informará sobre dicho cambio a través de correo electrónico y / o por medio de la Cuenta. 1clickgain puede, aunque no está obligado a notificar al usuario sobre la modificación de las condiciones incorporadas en las condiciones de uso a modo de referencia. A menos que se establezca lo contrario por los términos actualizados o por la notificación sobre la modificación de las Condiciones de Uso, las Condiciones Actualizado entrarán en vigor el día siguiente al día de su adopción; enmiendas que establecen nuevos requisitos para el contenido entran en vigor dentro de los 3 días (tres) días calendario a partir del día de su adopción. A menos que el usuario se ha negado el uso del Servicio de acuerdo con esta sección antes de la fecha de vigencia de los términos actualizados, el Usuario se considerará que tiene plena e incondicionalmente acordó los términos actualizados.<br/>
1clickgain puede negarse unilateralmente de rendimiento del servicio si el usuario ha incumplido cualquiera de las condiciones de uso o de otra manera crea el riesgo o posible exposición legal para 1clickgain, o si sus / sus acciones contradicen las reglas establecidas de uso de la Aplicación, no son compatible con las normas generales de conducta dentro de la aplicación o no contradice la idea, el concepto o el "espíritu" de la solicitud. El servicio se dará por concluido fuera de la corte a partir del momento de la terminación del acceso del usuario a su / su cuenta y envío del anuncio al término del servicio de e-mail del usuario (si la dirección de correo electrónico se ha proporcionado). Con ello 1clickgain tiene derecho a terminar la Cuenta del Usuario (en la medida que estime conveniente).<br/>
1clickgain podrá en cualquier momento de forma unilateral y sin razonamiento total o parcialmente interrumpir el Servicio con un triple aviso (tres) días naturales a través de la cuenta en la aplicación oa través de correo electrónico (si la dirección de e-mail respectiva se indica en el formulario de solicitud del usuario).<br/>
El usuario podrá, en cualquier momento y sin razonar de forma unilateral, total o parcialmente por finalizado el Servicio enviando a 1clickgain una notificación vía correo electrónico (si la dirección de e-mail respectiva se indica en el formulario de solicitud del usuario). El usuario también puede terminar el Servicio por medio del envío de una solicitud respectiva a través de su / su cuenta si la solicitud contempla tal posibilidad técnica.<br/>
A menos que se estipule lo contrario en este documento o por acuerdo entre el usuario y 1clickgain, el Servicio se termina en el momento de la terminación de la cuenta del usuario, pero continuará en la medida prevista en el presente documento (por ejemplo ,. con respecto a las disposiciones sobre protección de datos) o aparece aquí a partir de (por ejemplo, el permiso para el uso del Contenido del usuario otorgada por el Usuario de acuerdo con y en virtud de estas condiciones de uso).<br/>
Al terminar la Cuenta del Usuario, 1clickgain, por regla general, deberá eliminar la información sobre el usuario (incluyendo a su / su formulario de solicitud / página de la aplicación), pero conservar todo contenido en la solicitud publicado por el Usuario (comentarios, mensajes, etc. ). Si el usuario desea borrar este contenido y dicha posibilidad está prevista por la aplicación en relación con el contenido respectivo, él / ella debe hacerlo a través de su / su cuenta antes de enviar la solicitud de terminación del Servicio.<br/>
Si el usuario termina el servicio y volver a registrar para ello el plazo de 1 (un) año desde la terminación, a efectos del efecto y el rendimiento de las obligaciones del usuario a continuación se considerará que el Servicio no se han terminado; los términos previstos en estas Condiciones de Uso no serán interrumpidos; los derechos otorgados antes de la terminación proseguirán sin efecto; cualesquiera otras disposiciones de las condiciones de uso que se usa para unir o restringir el usuario de una manera u otra, no se considerará terminado.<br/>
11. Propiedad Intelectual<br/>
La aplicación incluye contenido (incluyendo, pero no limitado a flujos, emocons, emoticones, etc.) son propiedad o licencia de 1clickgain ("Contenido 1clickgain"). Contenido 1clickgain está protegido por derechos de autor, marcas, patentes, secretos comerciales y otras leyes, y, entre el usuario y 1clickgain, 1clickgain posee y retiene todos los derechos sobre el contenido 1clickgain y la Aplicación. El Usuario no podrá eliminar, alterar u ocultar cualquier derecho de autor, marca registrada, marca de servicio o de otros derechos de propiedad incorporados o que acompaña al contenido 1clickgain y el Usuario no podrá reproducir, modificar, adaptar, preparar trabajos derivados basados en, ejecutar, exhibir, publicar , distribuir, transmitir, difundir, vender, licenciar o explotar el contenido 1clickgain.<br/>
1clickgain no concede ni transfiere al Usuario ningún derecho de autor o derechos conexos (con el software, diseño o cualquier otro objeto que forman parte de la solicitud, así como publicado bajo el nombre de dominio 1clickgain); 1clickgain no transfiere ningún medio tangible o derechos a los mismos, los derechos de marcas comerciales u otro medio de identificación, así como 1clickgain no concede ningún otro derecho de propiedad intelectual.<br/>
El usuario no obtiene ningún derecho sobre los materiales creados en el curso de las visitas a la aplicación, el uso de servicio y / o el uso 1clickgain de la Cuenta (por ejemplo, después de su publicación el Contenido), ya que estos materiales son el resultado de las pantallas que se generan en el curso del funcionamiento del software perteneciente a 1clickgain.<br/>
El nombre 1clickgain no puede ser copiado, imitado o utilizado, en su totalidad o en parte, sin el permiso previo por escrito de 1clickgain. Además, todos los encabezados de página, gráficos personalizados, iconos de botones y scripts son marcas de servicio, marcas comerciales y / o imagen comercial de 1clickgain, y no pueden ser copiados, imitados o utilizados, en todo o en parte, sin el permiso previo por escrito de 1clickgain.<br/>
12. Protección de Datos<br/>
El Usuario entiende y acepta que todos los datos personales facilitados así a 1clickgain a través de la aplicación es necesaria para el funcionamiento de aplicaciones y el desempeño adecuado de las condiciones de uso de 1clickgain puesto de provisión y procesamiento (operaciones con datos personales, incluyendo su colección, la sistematización, la acumulación, almacenar, actualizar, cambiar, distribución, suministro, puesta a disposición del público, etc.) de los datos personales, es la esencia y el propósito de la solicitud.<br/>
El Usuario entiende y acepta que todos los datos personales marcadas por 1clickgain como obligatorio para la presentación es importante para el cumplimiento de las condiciones de uso de 1clickgain. Cualquier información adicional enviados por el usuario en la solicitud deberá ser publicado por el Usuario a sí mismo / a sí misma con el fin de ponerlo a disposición del público en la medida determinada por el Usuario a sí mismo / a sí misma y en la medida permitida por la funcionalidad de la aplicación.<br/>
El Usuario entiende y acepta que si él / ella publica sus / sus datos personales en el dominio público (por ejemplo, por medio de la publicación en Internet, incluida la aplicación, redes sociales, etc.), el régimen establecido para el público serán de aplicación los datos personales disponibles al mismo , en particular, por 1clickgain.<br/>
Los datos personales del Usuario serán procesados por 1clickgain dentro de todo el período del servicio y un año después de la terminación del servicio (en caso de que restaura el usuario de su cuenta /). El usuario entiende que 1clickgain puede eliminar su / su formulario de solicitud, pero puede optar por no eliminar otros Contenidos de haber sido enviados por el usuario que puede contener sus / sus datos personales.<br/>
1clickgain podrá utilizar los datos personales a disposición del público con fines publicitarios y en el curso de otros tipos de promoción de la aplicación y / o los servicios de 1clickgain.<br/>
1clickgain puede procesar los datos del usuario para fines estadísticos. En este caso, sin embargo, serán despersonalizados los datos. 1clickgain no será responsable por el uso de los datos personales del Usuario por otras personas.<br/>
El Usuario deberá abstenerse de publicar en los datos personales La aplicación de terceros, a menos que lo contrario explícitamente permitido por la ley. Tan pronto como las operaciones con respecto a determinados datos personales ya no se les permite la ley, el Usuario debe llevar inmediatamente a la información publicada en la solicitud de conformidad con la ley.<br/>
En caso de introducción de enmiendas a las condiciones de uso en relación a los datos del usuario, el usuario debe traer sus / sus datos en cumplimiento de los nuevos requisitos dentro de los 10 (diez) días hábiles, a menos que 1clickgain determina un término diferente.<br/>
13. Las interrupciones de servicio y confidencialidad<br/>
Aunque está de intención de que la aplicación está disponible tanto como sea posible 1clickgain, habrá ocasiones en las que el Servicio puede ser interrumpido, incluyendo, sin limitación, para el mantenimiento o actualizaciones programadas, para reparaciones de emergencia, o debido a un fallo de los enlaces de telecomunicaciones y / o equipo. Además, 1clickgain se reserva el derecho de eliminar cualquier contenido de la solicitud, por cualquier motivo y sin previo aviso. El contenido quitado de la aplicación puede continuar para ser almacenados por 1clickgain, incluyendo, sin limitación, con el fin de cumplir con ciertas obligaciones legales, pero puede no ser recuperable sin una orden judicial válida. En consecuencia, 1clickgain anima al usuario a mantener su / su propia copia de seguridad de su / su contenido. 1clickgain no será responsable ante el usuario por cualquier modificación, suspensión o interrupción del Servicio, o la pérdida de cualquier Contenido. El usuario también reconoce que Internet puede ser objeto de violaciones de seguridad y que la presentación de la información contenido u otro puede no ser seguro.<br/>
Cualquier contenido será no confidencial y no propietaria y 1clickgain no será responsable por cualquier uso o divulgación de los Contenidos. La relación del usuario con 1clickgain no es un tipo confidencial, fiduciaria, u otro de relación especial, y la decisión del usuario a presentar cualquier Contenido no pone 1clickgain en una posición que es diferente de la posición mantenida por los miembros del público, incluyendo a respecto al contenido. Ninguno de los contenidos estará sujeto a ninguna obligación de confidencialidad por parte de 1clickgain y 1clickgain no será responsable por cualquier uso o divulgación de cualquier Contenido brindar por el Usuario.<br/>
14. Informes de Derecho de Autor y Otros Violaciónes IP<br/>
Se alienta al usuario reportar cualquier derecho de autor u otras violaciónes IP a 1clickgain de ninguna manera que él / ella encuentra apropiado para 1clickgain para poder tomar acciones correctivas inmediatas.<br/>
Si el usuario infringe terceros los derechos de propiedad intelectual, 1clickgain desactivará la cuenta del usuario en su propia discreción.<br/>
15. Renuncia de Garantías<br/>
EL SERVICIO, INCLUYENDO, SIN LIMITACIONES, 1CLICKGAIN CONTENIDO, SE PROPORCIONA "TAL CUAL", "SEGÚN DISPONIBILIDAD" Y "CON TODOS SUS DEFECTOS" BASE Y EL USUARIO NO PUEDE REQUERIR O ESPERAR DE LA SOLICITUD DE TODO MENOS PARA LA EXTENSIÓN DEL SERVICIO . 1CLICKGAIN NO GARANTIZA COMPATIBILIDAD DE LA SOLICITUD CON OTRAS APLICACIONES Y NO SE REQUIERE EN LA PROVISIÓN DE ASISTENCIA TÉCNICA CON RESPECTO A LA APLICACIÓN. EN TODA LA EXTENSIÓN PERMITIDA POR LA LEY, NI 1CLICKGAIN NI SU MATRIZ NI NINGUNO DE SUS EMPLEADOS, ADMINISTRADORES, FUNCIONARIOS O AGENTES (EN CONJUNTO, LAS "PARTES 1CLICKGAIN") HACEN REPRESENTACIONES O GARANTÍAS O AVALES DE NINGÚN TIPO, expresa o implícita, EN CUANTO A: (A) EL SERVICIO; (B) el contenido 1CLICKGAIN; (C) EL CONTENIDO DE USUARIO; O (D) de seguridad asociados al TRANSMISIÓN DE INFORMACIÓN A 1CLICKGAIN O MEDIANTE LA APLICACIÓN. ADEMÁS, LAS PARTES 1CLICKGAIN RECHAZAN POR ESTE MEDIO TODAS LAS GARANTÍAS, expresa o implícita, INCLUYENDO, PERO NO LIMITADO A, LAS GARANTÍAS DE COMERCIALIZACIÓN, IDONEIDAD PARA UN PROPÓSITO PARTICULAR, NO INFRACCIÓN, TÍTULO, COSTUMBRE, COMERCIO, DISFRUTE, INTEGRACIÓN DEL SISTEMA Y LA LIBERTAD DE VIRUS INFORMÁTICOS.<br/>
LAS PARTES 1CLICKGAIN NO REPRESENTAN NI GARANTIZA QUE EL SERVICIO ESTÉ LIBRE DE ERRORES O INTERRUPCIONES; Que los defectos serán corregidos; O QUE EL SERVICIO O EL SERVIDOR QUE HACE EL SERVICIO DISPONIBLE está libre de cualquier componentes dañinos, incluyendo, sin limitación, VIRUS. LOS 1CLICKGAIN PARTES NO HACEN NINGUNA REPRESENTACIÓN O GARANTÍA DE QUE LA INFORMACIÓN (incluyendo cualquier instrucción) en la aplicación sea exacta, completa, o útil. LAS PARTES 1CLICKGAIN NO GARANTIZAN QUE EL USO DE LA APLICACIÓN ES LEGAL EN CUALQUIER JURISDICCIÓN EN PARTICULAR, Y LAS PARTES 1CLICKGAIN ESPECÍFICAMENTE RECHAZAN LAS GARANTÍAS. ALGUNAS JURISDICCIONES LIMITAN O NO PERMITEN LA EXCLUSIÓN DE GARANTÍAS IMPLÍCITAS O DE OTRO MODO QUE LA RENUNCIA ANTERIOR NO SE APLICA A ALGUNOS USUARIOS A LA LEY LA MEDIDA EN DICHA DE COMPETENCIA ES APLICABLE AL USUARIO Y ESTOS TÉRMINOS DE USO.<br/>
LAS PARTES 1CLICKGAIN no respaldamos CONTENIDO Y ESPECÍFICAMENTE RECHAZAN CUALQUIER RESPONSABILIDAD A NINGUNA PERSONA O ENTIDAD POR CUALQUIER PÉRDIDA, DAÑO (YA SEA REAL, CONSECUENTE, PUNITIVO O DE OTRA MANERA), LESIÓN, RECLAMO, RESPONSABILIDAD U OTRA CAUSA DE CUALQUIER TIPO O CARÁCTER BASADA EN CUENTA O COMO RESULTADO DE CUALQUIER CONTENIDO.<br/>
16. Limitación de responsabilidad; Renuncia<br/>
1clickgain será responsable sólo por mala conducta intencional que tiene el propósito de violación de sus obligaciones en virtud del presente.<br/>
BAJO NINGUNA CIRCUNSTANCIA LAS PARTES 1CLICKGAIN SER NO HACE RESPONSABLE POR CUALQUIER PÉRDIDA O DAÑOS DE CUALQUIER TIPO (INCLUYENDO, SIN LIMITACIONES, POR CUALQUIER DIRECTO, ECONÓMICOS,, PUNITIVOS, PÉRDIDAS INDIRECTOS EJEMPLAR, ESPECIAL ACCIDENTAL O CONSECUENTE O DAÑOS) QUE SON DIRECTA O INDIRECTAMENTE relacionadas con: (A) EL SERVICIO; (B) la aplicación; (C) EL CONTENIDO 1CLICKGAIN; (D) EL CONTENIDO DE USUARIO; (E) EL USO DE, LA IMPOSIBILIDAD DE USO, O EL RENDIMIENTO DEL SERVICIO Y LA APLICACIÓN; (F) CUALQUIER ACCIÓN TOMADA EN RELACIÓN CON UNA INVESTIGACIÓN POR LAS PARTES 1CLICKGAIN O AUTORIDADES POLICIALES EN RELACIÓN CON EL USO DE LA APLICACIÓN / SERVICIO; (G) CUALQUIER ACCIÓN TOMADA EN RELACIÓN CON LOS DERECHOS DE AUTOR U OTROS PROPIETARIOS DE PROPIEDAD INTELECTUAL; (H) LOS ERRORES U OMISIONES EN EL FUNCIONAMIENTO DE SOLICITUD; O (I) CUALQUIER DAÑO la computadora de cualquier usuario, el dispositivo móvil u otro equipo o tecnología INCLUYENDO, SIN LIMITACIONES, DAÑOS POR EL INCUMPLIMIENTO DE SEGURIDAD O DE CUALQUIER VIRUS, errores, manipulación, fraude, error, omisión, interrupción, defecto, demora en OPERACIÓN O TRANSMISIÓN, LINE ORDENADOR O FALTA DE RED O CUALQUIER OTRO MAL FUNCIONAMIENTO TÉCNICO O DE OTRO TIPO, INCLUYENDO, SIN LIMITACIONES, DAÑOS POR PÉRDIDA DE BENEFICIOS, PÉRDIDA DE BUENA VOLUNTAD, PÉRDIDA DE DATOS, INTERRUPCIÓN DEL TRABAJO, EXACTITUD DE LOS RESULTADOS O FALLO O MAL FUNCIONAMIENTO, INCLUSO SI PREVISIBLE O INCLUSO SI LAS PARTES 1CLICKGAIN HAN SIDO INFORMADOS DE o debería haber sabido DE LA POSIBILIDAD DE TALES DAÑOS, YA SEA EN UNA ACCIÓN DE CONTRATO, NEGLIGENCIA O AGRAVIO (INCLUYENDO, SIN LIMITACIÓN, ya sea causado EN TODO O EN PARTE POR NEGLIGENCIA , ACTOS DE DIOS, FALLAS DE TELECOMUNICACIONES, O ROBO O DESTRUCCIÓN DEL SERVICIO). EN NINGÚN CASO LAS PARTES 1CLICKGAIN RESPONSABLE ANTE NADIE POR PÉRDIDA, DAÑO O PERJUICIO, INCLUYENDO, SIN LIMITACIONES, LA MUERTE O LESIONES PERSONALES. EN CASO DE CONFORMIDAD CON LA LEY DE LA JURISDICCIÓN DEL USUARIO LA EXCLUSIÓN O LIMITACIÓN DE DAÑOS DIRECTOS O INDIRECTOS no está permitido, EN NINGÚN CASO LA RESPONSABILIDAD TOTAL DE LAS PARTES 1CLICKGAIN 'PARA TODOS LOS DAÑOS, PÉRDIDAS O CAUSAS O ACCIÓN EXCEDER DOSCIENTOS DÓLARES ESTADOUNIDENSES ($ 200.00) o su equivalente en cualquier otra moneda.<br/>
EL USUARIO ACUERDA QUE EN CASO EL / ELLA incurre en daños, pérdidas o lesiones que surgen de ACTOS U OMISIONES DE 1CLICKGAIN, LOS DAÑOS, EN SU CASO, NO son irreparables o suficiente para dar derecho al usuario a una orden que impedía cualquier explotación de CUALQUIER WEB SITIO, SERVICIO, LA PROPIEDAD, producto u otro contenido de propiedad o controladas por las partes 1CLICKGAIN, y el usuario tiene derechos para prohibir o restringir EL DESARROLLO, PRODUCCIÓN, DISTRIBUCIÓN, PUBLICIDAD, EXPOSICIÓN O EXPLOTACIÓN DE CUALQUIER SITIO WEB, MATERIALES, PRODUCTOS, SERVICIO U OTRO CONTENIDO propiedad o controladas por LAS PARTES 1CLICKGAIN.<br/>
AL ACCEDER A LA SOLICITUD, el usuario entiende que él / ella está renunciando DERECHOS CON RESPECTO A RECLAMOS QUE SON EN ESTE MOMENTO DESCONOCIDO o insospechados.<br/>
1CLICKGAIN NO ES RESPONSABLE DE LAS ACCIONES, EL CONTENIDO, INFORMACIÓN, O DATOS DE TERCEROS, Y el usuario suelta 1CLICKGAIN, NUESTROS DIRECTORES, OFICIALES, EMPLEADOS Y AGENTES DE CUALQUIER RECLAMO Y DAÑOS, conocidos y desconocidos, DERIVADOS DE O DE ALGUNA MANERA RELACIONADOS CON CUALQUIER RECLAMO EL USUARIO PUEDE TENER CONTRA TALES TERCEROS.<br/>
17. Indemnización<br/>
El Usuario se compromete a defender (a petición del 1clickgain), indemnizar y mantener a las Partes 1clickgain de y contra cualquier reclamo, responsabilidades, daños, pérdidas y gastos, incluyendo, sin limitación, honorarios y costos razonables de abogados, que surja de o en cualquier forma accesorio a cualquiera de lo siguiente (incluyendo como resultado de las actividades directas de la aplicación o los llevados a cabo en nombre del usuario):<br/>
su / su contenido o su / su acceso o uso de la Aplicación;<br/>
incumplimiento o supuesto incumplimiento de estas condiciones de uso;<br/>
violación de cualquier derecho de terceros, incluyendo sin limitación, cualquier derecho de propiedad intelectual, la publicidad, la confidencialidad, la propiedad o derecho de privacidad;<br/>
violación de cualesquiera leyes, normas, reglamentos, códigos, estatutos, ordenanzas u órdenes de cualquier autoridad gubernamental y cuasi-gubernamentales, incluyendo, sin limitación, todas las autoridades reglamentarias, administrativas y legislativas; o<br/>
cualquier declaración falsa hecha por el Usuario.<br/>
El Usuario deberá cooperar plenamente requerido por 1clickgain en la defensa de cualquier reclamación. 1clickgain se reserva el derecho de asumir la defensa exclusiva y control de cualquier asunto sujeto a indemnización por parte del Usuario, y el usuario no tendrá en ningún caso resolver cualquier reclamación sin el consentimiento previo por escrito de 1clickgain.<br/>
18. Arbitraje<br/>
Cualquier disputa, controversia o reclamación que surja de o esté relacionada con este Acuerdo de Usuario, o su incumplimiento, rescisión o invalidez, así como el uso de aplicaciones y / o el derecho a la privacidad y / o publicidad serán resueltas mediante arbitraje de conformidad con Reglas de Arbitraje de la CNUDMI. Debe haber un solo arbitraje acordado por las partes dentro de los veinte (20) días siguientes a la recepción de la solicitud de arbitraje por el demandado. Lugar y hora del arbitraje - Ciudad de Panamá, Ciudad de Panamá. El arbitraje se llevará a cabo y una decisión debe hacerse en Inglés. La decisión del tribunal es definitiva y vinculante para las partes y puede ser ejecutada en cualquier jurisdicción legal. No obstante cualquier disposición de la ley aplicable, el arbitraje tendrá derecho a daños y perjuicios, costos de los servicios de abogados o indemnización con motivo de conflicto con estos Términos de usw.<br/>
Las partes renuncian expresamente juicio por jurado. Las reclamaciones sólo podrán iniciarse en nombre de la propia. Ni el usuario ni 1clickgain participará en una demanda colectiva o arbitraje en toda la clase por cualquier reclamo cubiertos por estas Condiciones de Uso. El Usuario se compromete a no participar en las reclamaciones presentadas en un fiscal general privado o capacidad representativa o reclamaciones consolidadas que implican la cuenta de otra persona, si 1clickgain es parte en el procedimiento.<br/>
1clickgain se reserva el derecho de cambiar la disposición de solución de controversias, pero tales cambios no se aplicará a las controversias que surjan antes de la fecha de vigencia de la enmienda.<br/>
19. Tiempo de Limitación de Reclamaciones<br/>
Cualquier reclamación que surja de o relacionados con la relación del usuario con 1clickgain debe ser presentada dentro de un año después surgió dicha reclamación; de lo contrario, la reclamación se prohibió de forma permanente.<br/>
20. Ley de Administración<br/>
Estas Condiciones de Uso se regirán e interpretarán de acuerdo con las leyes del Panamá, sin dar efecto a cualquier principio de conflicto de leyes y la voluntad ESPECÍFICAMENTE NO SE RIGEN POR LOS CONVENIOS DE LAS NACIONES UNIDAS SOBRE CONTRATOS PARA LA VENTA INTERNACIONAL DE PRODUCTOS, SI ES DE OTRA MANERA APLICABLE.<br/>
21. Acuerdo completo. Transferencia y Cesión<br/>
Estos Términos de Uso constituyen el acuerdo completo entre cada usuario y 1clickgain y regula el uso de la Aplicación y reemplaza cualquier acuerdo anterior entre el Usuario y 1clickgain. El Usuario no podrá ceder los Términos de Uso o cualquier derecho o delegar cualquier obligación, en todo o en parte, ya sea voluntariamente o por ministerio de la ley, sin el consentimiento previo por escrito de 1clickgain. Cualquier intento de cesión o delegación sin el consentimiento previo por escrito apropiada de 1clickgain no serán válidos. 1clickgain puede asignar estos Términos de Uso o cualquier continuación de los derechos sin el consentimiento del usuario.<br/>
Si alguna disposición de estas Condiciones de Uso es declarada ilegal, nula o inaplicable por cualquier razón durante el arbitraje o por un tribunal de jurisdicción competente, dicha disposición se considerará separable de estos Términos de Uso y no afectará la validez y aplicabilidad de las disposiciones restantes. El fracaso de 1clickgain insistir en el estricto cumplimiento de cualquier disposición de estas Condiciones no se interpretará como una renuncia de cualquier disposición o derecho. Ninguna renuncia de cualquiera de estas Condiciones se considerará una renuncia posterior o continuada de dicho término o condición o cualquier otro término o condición.<br/>
22. Restricciones Territoriales<br/>
La información proporcionada en la solicitud no está diseñado para la distribución y el uso por cualquier persona o entidad en Panamá y en cualquier jurisdicción o país donde dicha distribución o uso sea contrario a la ley o reglamento o de lo que hacer a un lado 1CLICKGAIN cualquier requisito de registro en dicha jurisdicción o país. Nos reservamos el derecho a restringir el acceso a la aplicación o de cualquier parte de los servicios a cualquier persona, área geográfica o jurisdicción en cualquier momento ya su sola discreción, y para limitar el acceso a cualquier número de cualquier contenido, software, productos, servicios u otras cosas, que proporciona 1CLICKGAIN.<br/>
23. Límites de edad<br/>
1CLICK GAIN tiene registro de una cuenta de juego y apostar sólo en los clientes que tengan 18 años de edad (u otro límite de edad apropiada adoptado en el país en cuestión). 1CLICKGAIN se reserva el derecho de cancelar la transacción, cometido por los clientes menores de edad o los clientes que han violado las reglas.<br/>
24. La responsabilidad del dueño de la cuenta del juego<br/>
Cuando se registra un juego de cuentas clientes deben proporcionar información precisa sobre su nombre, dirección, contacto por correo electrónico o por teléfono.<br/>
El cliente es responsable del mantenimiento del buen orden en las partes de su cuenta de juego, especialmente la dirección, número de teléfono y detalles de pagos / banco.<br/>
El cliente es responsable de mantener la confidencialidad de su nombre de usuario y la información de seguridad. Si le preocupa el cliente, esta información no se mantiene en secreto, se notificará inmediatamente al 1CLICKGAIN, a continuación, el cliente recibirá un nuevo detalles de seguridad, y todas las transacciones posteriores con las partes viejas se cancelará.<br/>
Cualquier apuestas en línea en un momento en que el cliente ha aprobado la autorización se considerará válida. Esta disposición viene bajo los criterios de suficiencia de los fondos disponibles y la cantidad de la oferta aceptable para la admisión a 1CLICKGAIN.<br/>
Se permite a cada cliente para tener sólo una cuenta en 1CLICKGAIN. Detalles de la cuenta se almacenan en nuestra base de datos y actualizados diariamente. Se encontró que todas las cuentas posteriores que están registradas con las mismas direcciones código postal / de información personal / IP, y que estar relacionada con una cuenta existente cerró inmediatamente y todas las apuestas serán anuladas por el 1CLICKGAIN decisión. 1CLICKGAIN se reserva el derecho de revisar todas las ganancias obtenidas de este modo. Todos los nuevos registros se comprueban para múltiples registros. Por favor, tener esto en cuenta.<br/>
Si el cliente proporcionará detalles como el nombre de usuario que puedan considerarse contener lenguaje ofensivo, 1CLICKGAIN se reserva el derecho de cerrar la cuenta de apuestas del cliente sin ninguna otra explicación.<br/>
El programa "Confirmación de la identidad de los clientes" 1CLICKGAIN obligado a llevar a cabo un seguimiento continuo de:<br/>
Cliente Personalidad diligencia debida y los datos de identificación (por ejemplo, en los documentos de identificación petición)<br/>
Comportamiento financiero y los hábitos de los clientes, con el fin de confirmar que las operaciones cumplen con la información disponible que tenemos sobre el perfil de riesgo del cliente<br/>
El comportamiento de los clientes y los hábitos de juego, con el fin de confirmar que las operaciones cumplen con la información disponible que tenemos sobre el perfil de riesgo del cliente.<br/>
La apertura de la cuenta de juego en el 1CLICKGAIN empresa, el cliente se compromete a las actividades antes mencionadas, que podrán tener 1CLICKGAIN para verificar la identidad del cliente.<br/>
1CLICKGAIN Empresa se reserva el derecho de cerrar la cuenta de un jugador, o negarse a abrirlo.<br/>
El cliente tiene el derecho en cualquier momento de cerrar su cuenta de juego poniéndose en contacto con atención al cliente, lo que hará que todas las acciones necesarias.<br/>
1CLICKGAIN se reserva el derecho de revelar información personal cuando sea requerido por la ley, los que controlan 1CLICKGAIN organizaciones, instituciones o agencias gubernamentales y otras organizaciones autorizadas (tales como tener la fuerza de la ley y no) en los casos en que la empresa 1CLICKGAIN consciente de que dicha acción es necesaria , incluyendo pero no limitado a, haciendo que el actual juicio, orden judicial, según lo prescrito por los que controlan 1CLICKGAIN organizaciones, a petición de la policía, en el curso de los procesos judiciales o investigaciones de eventos deportivos.<br/>
En los casos en que el importe de la retirada de fondos de la cuenta del juego llega a $ 2.000 (o su equivalente en otra moneda) se llevará a cabo el examen previsto.<br/>
25. Pagos<br/>
Ningún empleado 1CLICK GAIN no proporciona ningún préstamo. Es responsabilidad del cliente es mantener fondos suficientes en su cuenta para las tarifas respectivas. 1CLICKGAIN se reserva el derecho de cancelar cualquier apuesta que haya sido aceptada de error cuando la cuenta del cliente no tiene fondos suficientes para pagar la tarifa completa.<br/>
Las ofertas hechas por tarjeta de crédito o débito no se considera válida hasta 1CLICKGAIN no recibe el pago. Si las ofertas para el evento ya han comenzado, y el pago no se recibe, esta tasa se cancelará automáticamente.<br/>
Si los fondos se han acreditado por error a la responsabilidad de su cliente cuenta para notificar 1CLICKGAIN acerca del error sin demora. Cualquier ganancia posterior que el cliente recibirá una notificación a 1CLICKGAIN sobre este error, independientemente de su relación con el error se considerará inválida y regresará 1CLICKGAIN.<br/>
Ganar victorias en las cuentas de clientes se produce después de la confirmación del resultado final.<br/>
Para las operaciones con su puntaje de juego del cliente sólo deben utilizar de crédito / débito personal. En relación con la lucha contra el lavado de dinero, depósitos comprometidos con el uso de tarjeta de crédito / débito de otra persona se devuelve, y las tasas pagadas por medio de este tipo de tarjetas se cancelan.<br/>
Cliente sólo podrá abrir una cuenta. Cualquier cuenta adicional que añade cliente para ser cerradas, y se acreditan a ellas deberán ser devueltas.<br/>
1CLICKGAIN bajo ninguna circunstancia, en cualquier caso, no será responsable de los daños o pérdidas sin limitación, supuesta o sospecha que es causada por este sitio web o de su contenido, incluyendo, sin limitación, retrasos o interrupciones en la operación o transmisión, fallos de conexión de líneas , el uso de cualquier persona o mal uso de los contenidos de esta web, o cualquier error u vacíos de contenido.<br/>
1CLICKGAIN se reserva el derecho de anular cualquiera o todas las apuestas realizadas a un grupo de personas que actúan en connivencia para engañar 1CLICKGAIN. Puede referirse a personas, familiares, organizaciones, los corredores de apuestas y sus empleados.<br/>
Cuenta de juego es una cuenta personal del cliente. Los clientes no están autorizados a vender, transferir, adquirir o disponer de su cuenta, así como no se le permite transferir dinero de su cuenta de juego a la cuenta de otro cliente o para tomar dinero a su cuenta desde la cuenta de otro cliente.<br/>
1CLICKGAIN puede cobrar una cuota fija o proporcional al hacer un depósito o pago. Cualquier cargo se indicará claramente en la solicitud de pago, y el cliente puede rechazar la operación o seleccionar otro, más barato o libre de pago.<br/>
En algunos casos, la moneda de su saldo de cuenta o moneda de todos los fondos que se retiran puede ser diferente de la moneda de depósito. 1CLICKGAIN Empresa se reserva el derecho de cambiar la moneda de su cuenta, hacer pagos y bonos en una moneda diferente. En este caso, se da prioridad a la tasa de cambio, y no de la negociación.<br/>
Los pagos se realizan únicamente en la cuenta de la que la reposición.<br/>
Todas las cuentas de depósitos y pagos de la cuenta del cliente está disponible en el "hacer dinero" y "Retirar dinero" que se puede encontrar en el "Tu Cuenta" después de entrar en el acceso a los datos. Una vez que se selecciona un método, cualquier posible comisión estará claramente indicado en la solicitud de pago, y el cliente puede rechazar la operación o seleccionar otro, más barato o libre de pago.<br/>
En relación con nuestro programa de cumplimiento en el lavado de dinero, la empresa 1CLICKGAIN reserva el derecho de limitar la cantidad del pago de $ 100, si el cliente ha hecho dinero a su cuenta, y no hizo uso de ellas hicieron dinero en apuestas o juegos.<br/>
26. Bonos y Promociones<br/>
La compañía ofrece una gama de bonos GAIN 1CLICK, premios y promociones a sus clientes, que están diseñados exclusivamente para los clientes que participan en los juegos de apuestas y con fines de entretenimiento.<br/>
Al participar en la acción o tomar un bono, usted acepta recibir la correspondencia de marketing de 1CLICKGAIN. Podrá darse de baja de este tipo de comunicaciones.<br/>
Los bonos o acciones pueden incluir términos y condiciones de uso específicas, por lo que los clientes deben leer cuidadosamente todos los términos y condiciones adicionales relacionadas con cada bono o acción. En los Términos y Condiciones de bonificación será el número de versión, fecha de la última actualización, y, en su caso, el período de validez.<br/>
1CLICKGAIN se reserva el derecho a rechazar la bonificación de crédito o la participación en la acción, y también para excluir el cliente de la lista para recibir bonos, premios o acciones 1CLICKGAIN en cualquier momento. Además, 1CLICKGAIN se reserva el derecho a cancelar, modificar, restringir o congelar bonos, premios o participaciones en cualquier momento.<br/>
27. Varios<br/>
La fecha de vigencia de estas condiciones de uso es del 12 de octubre de 2015. Estos Términos de Uso fueron escritos en Inglés. En la medida, cualquier versión traducida de los presentes Términos de uso entra en conflicto con la versión en Inglés, la versión en inglés controles.<br/>
Cualquier tipo de comunicación se ha enviado a través de las cuentas dentro de la aplicación (incluyendo, pero no limitado a, las notificaciones sobre el cambio de datos, avisos de terminación, las peticiones del usuario, etc.) serán válidos y jurídicamente vinculante y admisible como prueba.<br/>
Cualquier tipo de comunicación se ha enviado a través de correo electrónico en los casos previstos en el presente documento será válido, legalmente vinculante y admisible como prueba en caso de envío:<br/>
si a 1clickgain - a 1clickgain direcciones de correo electrónico indicadas en la solicitud, incluyendo los que están disponibles a través de las cuentas;<br/>
si el usuario - a dirección de correo electrónico del usuario se indica en el formulario de solicitud y / oa través de la cuenta.<br/>
Los días hábiles a que se refiere el presente documento serán días hábiles Panamá.<br/>
Las Partes se comprometen a actualizar sus datos en una base regular.<br/>
Las Partes reconocen que son plenamente conscientes de la naturaleza del contrato formalizado por estos Términos de Uso. El usuario ha familiarizado / a sí misma y entendido las condiciones de uso y las consecuencias legales relacionadas con las condiciones de uso (derechos y obligaciones bajo el presente).El usuario entiende que la aceptación de los Términos de Uso confirma que el usuario ha estudiado, entendido y acordado con los Términos de uso.