1.0 Glossary<br/>
Grimace, Grimace - personalized emoticons and  widget<br/>
Emoticons, Emoticons, emoticons Emoticons - video-emotions<br/>
Shot, Shot - a short video up to 7 seconds in a round frame<br/>
Flow, Flow - a continuous video stream<br/>
Vistory - personal videohistory<br/>
Vlog, vlogs - user’s personal channel<br/>
Mon coin - application\’s internal payment system<br/>
Invite Token - a form of invitation to your friend when you and he get 100 mon coins<br/>
           
        
        
            
            &1.1 Search<br/>
This is a new kind of social search for people. The results of the search show real people.<br/>
Select an option in each category and click “Search”. The results are shown in a list, which you can easily move down by scrolling.<br/>
You can search for a person by their profile, name and surname, place of residence, language, crafts and friends or by their interests, preferences, competence and world outlook. You can search for a person by what, when and where they did something.<br/>
           
        
        
            
            &1.2. Call<br/>
You can contact another user directly.
If you bought, rented or got donated something, the owner of this object will be able to call you directly. If you want to use someone’s services, please contact them directly.
If you invested in the project, its author can contact you. The author of the task that you performed can also contact you, or the author of the stream which you are subscribed to.<br/>
           
        
        
            
            &2. Profile - questionnaire<br/>
If you fill out the extended profile you get another 150 mon coins.
It’s important to fill the extended profile as it will give you the opportunity to select the content according to your interests automatically.
“Grimaces” are your personal portfolio. “Questionnaire” reflects your interests and data.  “Statistics” demonstrate all the content you created.<br/>
           
        
        
            
            &2.1 Invite your friends<br/>
Using Invite Token you can invite a friend or a close one to the application and each of you will get 100 mon coins. You have 3 invitations, so spend them wisely, send them to those who really need them. For those users who use up their savings of mon coins quickly we offer an additional opportunity to earn and give another Invite Token.<br/>
           
        
        
            
            &3. Emoticons<br/>
Here are collected flows of emoticons, short video-emotions; they are divided into streams to specific emotions.<br/>
To the right is a button shooting emoticons - personalized video-emotions linked to specific emotions. Choose your emotion and take off your videos using the front camera.<br/>
The section "The best" - those emoticons, who scored the highest number of views and likes.<br/>
"My Choice" – people’s emoticons, which you signed.<br/>
  "All" - all emoticons.<br/>
           
        
        
            
            &4.4. Grimaces<br/>
With this widget you can use your grimaces and personal emotions in any application for communication without leaving it. You\'ll be able to share grimaces with other users.<br/>
Make a cool grimace and it can be your new unique avatar in other apps!<br/>
Shoot a grimace pressing the "+" in the “Grimaces” section in the application or by clicking on the "+" directly in the widget or while making emoticon. We advise you to make emoticons and grimaces at the same time.<br/>
One click on the icon allows buying a grimace for 25 mon coins. The action cannot be undone.   Click on your grimace to put it up for sale. It can also be removed from sale by one more click. Each purchase will bring you 25 mon coins.<br/>
           
        
        
            
            &5. Vistory<br/>
Here you can choose from 3 categories - Flows, where all video streams, Vlog - your personal video feed, My Choice - your subscriptions.<br/>
           
        
        
            
            &5.1 Flow<br/>
To the right is a button to capture shots, they can use any camera, most importantly add the right category and tags.<br/>
For each video, you can add a soundtrack, unique filters and choose the perfect preview.<br/>
The video stream is created automatically on the basis of three criteria: place, time and tag that will also be automatically translated to any language in the application.<br/>
"All" - everything flows.<br/>
"Favorites" - what you give a like<br/>
  "Today" - a video created in the past 24 hours.<br/>
"Emoticons" - where you can use intuition and guess someone else\'s emotion.<br/>
           
        
        
            
            &5.1a Video<br/>
To like a video and give the author 1 mon coin you need to click on the icon. Everything you liked falls in “My choice”.<br/>
You can subscribe to any individual video stream for 25 mon coins and it immediately falls into “My choice” section and its author gets a reward. Go to the author\'s profile and select “Subscribe”.<br/>
You can leave a comment for each video or make a video response, share with friends or complain if a video breaks any social net’s rules.<br/>
           
        
        
            
            &5.2 Vlog<br/>
Shoot your first video now to start your vlog and get 50 mon coins.<br/>
Start your own video channel! Start a vlog, shoot a video every day writing a chronicle of your life, share it with your friends and the entire world. Each user can make their own personal channel to capture the most emotional moments of their life.<br/>
Tab “Vlog” represents all the videos that you specifically made. Other tabs represent only your personal emoticons or shots.<br/>
           
        
        
            
            &5.3 My Choice<br/>
"My Choice" - a video stream of people, which you signed. To sign up you need to go to the profile, and click on the subscribe button. The profile can be accessed by clicking on the name of the author of the video.<br/>
           
        
        
            
            &6. Congratulations<br/>
You can congratulate friens, using emoticons, i.e. video-emotions or shoot the full shot video. With this section, you will never forget that you have to congratulate your friends or relatives.<br/>
There are three sections: Religion - religious holidays, people - holidays associated with your friends, events - any other holidays and events.<br/>
           
        
        
            
            &7. 5. Marketplace<br/>
Here you can choose from 3 categories - Mon coin, where you can learn more about the payment system, Crowd, where you can conduct social activities, and Alien look where you can ask to make a video or do the job itself.<br/>
           
        
        
            
            &7.1 Mon coin<br/>
Mon Coin is the internal payment system.<br/>
Shoot the first 100 video and get extra 500 mon coins<br/>
Create a complete collection of emoticons and grimaces for 300 mon coins<br/>
Fill the extended profile for 150 mon coins<br/>
Invite your friends - 100 mon coin per one<br/>
Start shooting your personal vlog - 50<br/>
Do a task - 15<br/>
Vote - 25<br/>
Shoot any video - 5, share it and get another 10<br/>
Shoot any grimace - 10, share it and get another 15<br/>
Get a subscription - 5<br/>
Get a “like” – 1<br/>
           
        
        
            
            &7. 2 Alien look<br/>
“Alien look” are video streams represented by one-level slider where a zero position refers to the tasks of the current day sorted by place on the right and by tag on the left.<br/>
You can perform the task by shooting a video response to it. Or you can create your own task spending 150 mon coins.<br/>
           
        
        
            
            &7.3  Crowd<br/>

Here in the "crowdfunding" you can draw resources and ask for it from other users.<br/>
There are presented objects or competence that can be shared, or to donate or exchange. In front of each video there is a button clicking on which the user translates the indicated amount of mon coins to the author of the video. After that you can contact with the video’s owner. The action can’t be undone.<br/>
To create a video for one of these categories, just click the "+" button in the lower right corner and shoot.<br/>
           
        
        
            
            &8. Info<br/>
Here you can choose from two categories - info, which contains all the important information about the application of feedback, through which you can contact us or write a review.<br/>
           
        
        
            
            &8.1 Info<br/>
Here is all the information that will help you to become one of us. You can get acquainted with the user agreement, the terms of use and obligations of the parties, security policy, find out how we ensure the security of your data, content and information, or to read a detailed guide on how to use this application.<br/>
           
        
        
            
            &8.2 Feedback<br/>
Write us if you have an idea about how to make the application better or if you find a mistake, we will always be happy to answer your letter.<br/>
You can write about how you would like to improve the app for example.<br/>
If you find a bug, an error, a problem - anything that prevents you from using the application, please contact us, we\'ll fix it!<br/>
If you find content that violates the network’s rules or laws or if some user is bothering others, please contact us too.<br/>
For each of the mentioned steps, simply click on the "+" button in the lower right corner.<br/>
           
        
        
            
            &8. 3 Vote<br/>
Vote and influence in the future of this application. Here the decisions are made by users.<br/>
The “Recent” tab contains all the votings taking place at the moment in which you can participate. In the “History” tab are the finished votings. If you want to start voting yourself go to “Initiate”.
For every poll you participated in we give 25 coins. You can also create your own poll on any subject for 250 coins.<br/>
           
        
        
            
            &9. Disclaimer<br/>
WE ban publication of any content, be it videos, photos, text or audio record containing elements of nudity, pornography, violence, cruelty, both in relation to people and animals, calls for violence, racial, religious, ethnic or any other hatred, racism, any manifestations of extremism, support for terrorism, incitement to disobey the law or authorities, or any other offense, both local and international law. We reserve the right to delete such content without explanation, assess the eligibility of actions is not allowed and cannot be challenged. The app does not assume any responsible for any content posted by users, since it is not conducting pre-moderation. All responsibility in full carries the user. Application under what conditions cannot be a plaintiff in the case, or the court case, which deals with such content. Using the application and registering it, the user hereby confirms that he is familiar with these rules and accepts them.<br/>
