Política de privacidad<br/>
Fecha de vigencia: 5 Mayo de 2016.<br/>
Bienvenido a 1CLICKGAIN ( "1clickgain", "nosotros", "nos" o "nuestro"). 1CLICKGAIN es la primera aplicación para el intercambio de real las emociones humanas, crea grupos, vistory en el video corriente.<br/>
Nuestra política de privacidad explica cómo y algunas de las compañías con las que trabajamos recopilar, utilizar, compartir y proteger la información en relación con nuestros servicios de telefonía móvil, sitio web, y cualquier software proporcionado en o en relación con 1CLICKGAIN servicios (colectivamente, el "Servicio" ), y sus opciones sobre la recopilación y uso de su información de nuestro servicio.<br/>
Mediante el uso de nuestro sistema usted entiende y acepta que estamos proporcionando una plataforma para que pueda publicar contenido, incluyendo vídeo, comentarios y otros materiales ( "Contenido de Usuario"), con el servicio y para compartir contenido de usuario públicamente.Esto significa que otros usuarios pueden buscar, ver, usar o compartir cualquiera de su contenido de usuario que se ponga a disposición del público a través del Servicio, de acuerdo con los términos y condiciones de esta Política de Privacidad y las Condiciones de Uso (que se pueden encontrar en http://1clickgain.com/legal/terms).<br/>
Nuestra política se aplica a todos los visitantes, usuarios y otras personas que tienen acceso al Servicio ( "Usuarios").<br/>
La información que recogemos<br/>
Nosotros recogemos los siguientes tipos de información.<br/>
La información que proporcione a nosotros directamente:<br/>
Su nombre, región de residencia, idioma, sexo y edad, información sobre la educación, el empleo y la artesanía, y un número de teléfono cuando se registra para una cuenta 1CLICKGAIN.<br/>
La información personal que nos proporcione al rellenar su perfil de usuario.<br/>
Contenido generado por el usuario (por ejemplo, vídeos, comentarios y otros materiales) que se coloca en el servicio.<br/>
La comunicación entre usted y 1CLICKGAIN. Por ejemplo, podemos enviar un mensaje a través de la retroalimentación (así como la solicitud de servicio de modificación / actualización, avisos técnicos, solicitudes y otros valores).<br/>
Las estadísticas de los juegos y los fondos puestos a \ retirados<br/>
Busca en 1CLICKGAIN:<br/>
Puede encontrar otros usuarios a través de la búsqueda social mediante el uso de "Buscar".<br/>
Buscar dentro de la aplicación no se produce por el contenido, sino por los usuarios que crean el contenido.<br/>
El uso de filtros de diferentes opciones de usuario se puede encontrar cualquier persona en el planeta, no un determinado enlace o contenido, pero el usuario que ha creado el vídeo.<br/>
Es una herramienta fácil y comprensible, lo que ayuda a encontrar rápida y eficazmente cualquier cosa que desee.<br/>
A comenzar su búsqueda necesitas seleccione una opcion en cada categoría y haga clic en el botón de búsqueda. Los resultados serán presentado en una lista en la que para navegar fácilmente para desplazarse.<br/>
La propagación de la contenido generado por el usuario<br/>
Si tu ¿Quieres compartir los contenido se puede encontrar una recipiente mediante (YO) una lista de contactos desde el dispositivo (II) utilizar el contactos de otro mensajeros, (III) para copiar el enlazar. Si Te puede elegir la persona directamente de la lista de contactos en el dispositivo yenviar texto o correo electrónico desde su cuenta personal. Usted entiende y acepta ese usted es responsable de cualquier costo que puedan surgir en A este respecto, y que el los mensajes se enviarán para ti personalmente, o su propio personal cuenta. 1CLICKGAIN no tiene acceso nicontrol sobre el contenido de estos mensajes. En el caso de II y III si tu están utilizando una tercero medios de comunicación social aplicaciones Messenger o sitios, se le pedirá que compartir un enlace a nuestro sitio, y que entiende que cualquier información transmitida De este modo se regirá por esta política de privacidad.<br/>
Analytics información:<br/>
Utilizamos herramientas de análisis de terceros para ayudarnos a medir las tendencias de tráfico y de uso del servicio. Estas herramientas recopilan información enviada por el dispositivo o en nuestro Servicio, incluyendo las páginas web que visita, add-ons, y otra información que nos ayuda a mejorar el servicio. Recabar y utilizar esta información con la información de análisis de análisis de otros usuarios de manera que no puede razonablemente ser utilizada para identificar a ningún usuario individual particular.<br/>
Las cookies y tecnologías similares:<br/>
Cuando visita el servicio, podemos utilizar cookies y tecnologías similares como píxeles, interceptores de red y de almacenamiento local para recopilar información sobre cómo utiliza 1CLICKGAIN y proporciona características para usted.<br/>
Podemos pedir a anunciantes u otros socios para publicar anuncios o servicios a sus dispositivos, que pueden utilizar cookies o tecnologías similares colocados por nosotros o por un tercero.<br/>
La información del archivo:<br/>
Información de registro de ficheros se notifica automáticamente por su navegador cada vez que realice una solicitud para el acceso (es decir, la visita) una página web o aplicación. También se puede proporcionar cuando el contenido de la página web o aplicación se descarga en el navegador o dispositivo.<br/>
Cuando usted utiliza nuestro servicio, nuestros servidores registran automáticamente cierta información de archivo de registro, incluyendo su petición de web, Protocolo de Internet ( "IP"), tipo de navegador, páginas de referencia / salida y las direcciones URL, número de clics y la forma en que interactúan con los enlaces de la servicio, nombres de dominio, páginas de destino, páginas visitadas, y otra información similar. También podemos recopilar información similar de mensajes de correo electrónico enviados a nuestros usuarios que a su vez ayudan a rastrear los correos electrónicos que se abren y qué enlaces se hace clic por los destinatarios. La información permite una información más precisa y la mejora del servicio.<br/>
Identificadores de dispositivos:<br/>
Cuando se utiliza un dispositivo móvil como una tableta o un teléfono para acceder a nuestro servicio, podemos acceder, recopilar, vigilar, almacenar en el dispositivo, y / o de forma remota almacenar uno o más identificadores de dispositivos "." Identificadores de dispositivos son pequeños ficheros de datos o estructuras de datos almacenados en similares o asociados a su dispositivo móvil, que identifica de forma exclusiva el dispositivo móvil. Un identificador de dispositivo puede ser los datos almacenados en relación con el hardware del dispositivo, los datos almacenados en relación con el sistema del dispositivo operativo u otro software, o datos enviados al dispositivo por 1CLICKGAIN.<br/>
Un identificador de dispositivo puede entregar información a nosotros oa un socio de terceros acerca de cómo navegar y utilizar el servicio y puede ayudar a nosotros oa otros proporcionamos informes o contenido personalizado y los anuncios. Algunas características del Servicio pueden no funcionar correctamente si el uso o la disponibilidad de los identificadores de dispositivos están deteriorados o con discapacidad.<br/>
metadatos:<br/>
Los metadatos son por lo general los datos técnicos que se asocia con el Contenido de Usuario. Por ejemplo, los metadatos pueden describir cómo, cuándo y por quién se recogió una pieza de contenido de usuario y cómo se formatea el contenido.<br/>
Los usuarios pueden añadir o pueden tener metadatos añadido a su contenido de usuario que incluye una etiqueta (por ejemplo, para marcar palabras clave antes de enviar un vídeo), etiqueta geográfica (por ejemplo, para marcar su ubicación para un video), comentarios u otros datos.Esto hace que su contenido de usuario más búsquedas por otros y más interactivo. Si geolocalizar su vídeo o etiquetar el vídeo utilizando las API de otros entonces, su latitud y longitud serán almacenados con el vídeo y se pueden buscar (por ejemplo, a través de una función de ubicación o mapa) si el vídeo se hace público por usted de acuerdo con la configuración de privacidad .<br/>
Cómo usamos su información<br/>
Además de algunos de los usos específicos de información que describimos en esta política de privacidad, podemos utilizar la información que recibimos a:<br/>
-help se accede de manera eficiente su información después de iniciar sesión<br/>
-recordemos información para que no tenga que volver a introducirla durante su visita o la próxima vez que visite el Servicio;<br/>
Argentina-, contenido personalizado y la información que usted y otros, que podrían incluir anuncios en línea u otras formas de comercialización<br/>
-Proporcionar, mejorar, probar y controlar la eficacia de nuestro servicio<br/>
-desarrollar y probar nuevos productos y características<br/>
-monitor métricas tales como el número total de visitantes, el tráfico y los patrones demográficos<br/>
-diagnose o corregir problemas de la tecnología<br/>
actualizar -Automáticamente la aplicación en su dispositivo 1CLICKGAIN<br/>
-1CLICKGAIN u otro usuarios / terceros / fogonadura mayo correr concursos, trabajo acciones, la votación, ofertas especiales y otros eventos o acciones ( "Eventos") dentro del servicio.<br/>
Compartir su información<br/>
No vamos a alquilar o vender su información a terceras personas fuera 1CLICKGAIN sin su consentimiento, excepto como se indica en esta Política.<br/>
Partes con las cuales podemos compartir su información:<br/>
Podemos compartir Contenido de Usuario y su información (incluyendo, pero no limitado a, información de las cookies, archivos de registro, identificadores de dispositivos, datos de ubicación y datos de uso) con las empresas que están legalmente parte del mismo grupo de empresas que1CLICKGAIN es parte de, o que pasan a formar parte de ese grupo ( "Afiliados"). Los afiliados pueden usar esta información para ayudar a proporcionar, entender y mejorar el servicio (en particular por su capacidad analítica) y los servicios propios de los Afiliados (incluyendo al proporcionarle experiencias mejores y más relevantes). Sin embargo, estos afiliados seguirán la Política de Privacidad y Acuerdo de usuario.<br/>
También podemos compartir su información, así como información de herramientas como las cookies, archivos de registro y los identificadores de dispositivos y datos de localización, con organizaciones de terceros que nos ayudan a proporcionar el servicio a usted ( "Proveedores de Servicio"). Nuestros proveedores de servicio tendrán acceso a su información que sea razonablemente necesario para proporcionar el servicio bajo condiciones de confidencialidad razonables.<br/>
También podemos compartir cierta información, como datos de las cookies con socios de publicidad de terceros. Esta información permitiría a las redes de anuncios de terceros para, entre otras cosas, realizar determinados anuncios que ellos creen que será de mayor interés para usted.<br/>
Podemos eliminar partes de los datos que le pueda identificar y compartir datos anónimos con otros partidos. También podemos combinar su información con otros datos de una manera que ya no se asocia con usted y compartir la información agregada.<br/>
Partes con las que puede optar por compartir su contenido de usuario:<br/>
Cualquier información o contenido que revele voluntariamente para su publicación en el Servicio, como Contenido de Usuario, se convierte a disposición del público, tal como se controla mediante la configuración de privacidad aplicables que establezca. Para cambiar la configuración de privacidad del servicio, por favor, cambiar la configuración de perfil. Una vez que haya compartido Contenido de Usuario o hecho pública, que el Contenido del usuario puede ser re-compartida por otros.<br/>
Sujeto a su perfil y la configuración de privacidad, cualquier Contenido de Usuario que haga pública se puede buscar por otros usuarios y con sujeción a utilizar bajo nuestra API de Instagram. El uso de la API 1CLICKGAIN está sujeto a las API de Términos de Uso , que incorpora los términos de esta política de privacidad.<br/>
Si extrae la información que ha publicado en el servicio, las copias pueden permanecer visibles en páginas en caché o archivadas del Servicio, o si otros usuarios o terceros que utilizan la API de 1CLICKGAIN han copiado o guardado esa información.<br/>
¿Qué ocurre en el caso de un cambio de control:<br/>
Si vendemos o transferir una parte o la totalidad de 1CLICKGAIN o nuestros activos a otra organización (por ejemplo, en el curso de una transacción como una fusión, adquisición, quiebra, disolución, liquidación), su información como el nombre y dirección de correo electrónico, el usuario de otro modo contenido y cualquier otra información recogida a través del Servicio pueden estar entre los artículos vendidos o transferidos. Usted continuará siendo propietario de su contenido de usuario. El comprador o cesionario tendrán que cumplir con los compromisos que hemos hecho en esta política de privacidad.<br/>
En respuesta a las peticiones legales y la prevención del daño:<br/>
Podemos acceder, conservar y compartir su información en respuesta a una solicitud legal (como una orden de registro, orden judicial o citación) si tenemos una buena fe que la ley nos obliga a hacerlo. Esto puede incluir responder a las peticiones legales de jurisdicciones fuera de los Estados Unidos, donde tenemos una creencia de buena fe que la respuesta es requerido por la ley en esa jurisdicción, afecta a los usuarios en esa jurisdicción, y es consistente con las normas reconocidas internacionalmente. También podemos acceder, conservar y compartir información cuando tenemos una creencia de buena fe es necesaria para: detectar, prevenir el fraude y la dirección y otras actividades ilegales; para protegernos, usted y otros, incluyendo como parte de las investigaciones; y para prevenir la muerte o daño corporal inminente. La información que recibimos sobre usted puede acceder, procesar y retenido durante un período prolongado de tiempo cuando es objeto de una solicitud u obligación legal, investigación gubernamental, o las investigaciones sobre posibles violaciónes de los términos o políticas, o de otra manera para prevenir el daño.<br/>
Cómo almacenamos su información<br/>
Almacenamiento y procesamiento.<br/>
Recogida a través de la información de servicio puede ser almacenada y procesada en Panamá o en cualquier otro país en el que 1CLICKGAIN, sus afiliados o proveedores de servicios tienen la capacidad.<br/>
1CLICKGAIN, sus afiliados o proveedores de servicios puede transmitir la información que recogemos sobre usted, incluyendo información personal a través de fronteras y desde su país o jurisdicción a otros países o jurisdicciones de todo el mundo. Si se encuentra en los Estados Unidos, la Unión Europea, América Latina, Rusia y otras regiones con las leyes que rigen la recopilación y uso de datos que pueden diferir de la ley panameña, tenga en cuenta que podemos revelar información, incluyendo información personal en el país y jurisdicciones que no tienen la misma protección legal para los datos en su jurisdicción.<br/>
Al registrarse y utilizar el Servicio, usted autoriza la transmisión de información en Panamá o en cualquier otro país en el que 1CLICKGAIN, sus afiliados o proveedores de servicios tienen estructura, se pueden usar y divulgar información sobre usted como se describe en esta Política de Privacidad.<br/>
Vamos a utilizar salvaguardias comercialmente razonables para ayudar a mantener la información recopilada con la ayuda de los servicios de seguridad, y tomar medidas razonables para verificar su identidad antes de permitirle el acceso a su cuenta. Sin embargo, 1CLICKGAIN no puede garantizar la seguridad de cualquier información que usted transmita a 1CLICKGAIN ni garantizar que la información incluida en el servicio no se puede acceder, da a conocer, alterado o destruido.<br/>
Eliminación cuentas y el plazo almacenamiento del contenido del usuario<br/>
Si tu desee eliminar tu cuenta en 1CLICKGAIN, debes notificar nosotros de esta mediante retroalimentación o por e-mail. Dentro de los 60 días usted podrá para revertir su decisión. Si tú no haga, después de los 60 sus días cuenta será borrado.<br/>
Después de la terminación o desactivación de una cuenta, 1CLICKGAIN, sus filiales o sus proveedores de servicios puede almacenar información (incluyendo su perfil de la información) y Contenido de Usuario en unos términos comercialmente razonables para los fines de copia de seguridad, archivo y / o auditoría.<br/>
Si contenido personalizado fue puesto a la venta y / o comprado, usado en la articulación trabajo, para participar en concursos, trabajos, juegos, comentarios en eso y ellos son compartido con otros usuarios, es decir, como alguna vez fue usado por otros usuarios, que no será remoto inclusosi esto es suprimido cuenta de usuario<br/>
Privacidad de los niños<br/>
1CLICKGAIN no recoge ningún solicitudes de información de los que no han alcanzado la edad de 12 años, y no intencionalmente que estas personas puedan registrarse en el servicio. Servicio y su contenido no están dirigidos a niños menores de 12. En el caso de que nosotros descubrimos que hemos recopilado información personal de un menor de 12 años de edad sin el consentimiento de los padres, vamos a eliminar esa información tan pronto como sea posible. Si cree que pudiéramos tener alguna información acerca de un niño menor de 12 años, por favor, póngase en contacto con nosotros.<br/>
Otros sitios web y servicios<br/>
Nosotros no somos responsables de las prácticas empleadas por los sitios web o servicios vinculados hacia o desde nuestro Servicio, incluyendo la información o contenido dentro de ellos. Por favor, recuerde que cuando usted utiliza un enlace para ir de nuestro servicio a otro sitio web o servicio, nuestra política de privacidad no se aplica a esos sitios web o servicios de terceros. Su navegación e interacción en cualquier sitio web de terceros o servicio, incluyendo los que tienen un enlace en nuestro sitio web, están sujetos a normas propias y políticas de ese tercero.Además, usted acepta que no somos responsables y no tenemos control sobre cualquier tercero que usted autorice a acceder a su contenido de usuario. Si usted está usando un sitio web de terceros o servicio y que les permiten acceder a su contenido de usuario que lo hace bajo su propio riesgo.<br/>
Cómo ponerse en contacto con nosotros acerca de un usuario fallecido<br/>
En el caso de la muerte de un usuario 1CLICKGAIN, por favor en contacto con nosotros . Por lo general, llevaremos a cabo nuestra comunicación por correo electrónico; debemos requerir cualquier otra información, nos pondremos en contacto con usted a la dirección de correo electrónico que usted ha proporcionado en su solicitud.<br/>
Cómo contactarnos<br/>
Si usted tiene alguna pregunta sobre esta política de privacidad o el Servicio, por favor utilice la realimentación a la aplicación o en el sitio web.<br/>
Cambios en nuestra política de privacidad<br/>
1CLICKGAIN puede modificar o actualizar esta Política de Privacidad de vez en cuando, así que por favor revise periódicamente. Es posible que le proporcione otras formas de notificación de modificación o actualización como las circunstancias lo justifiquen. El uso continuado de1CLICKGAIN o el Servicio después de cualquier modificación a esta Política de Privacidad, constituirá su aceptación de tal modificación.<br/>
<br/>
