Política de privacidad<br/>

Fecha de vigencia: 20 de octubre 2015<br/>

Bienvenido a 1clickgain ("1clickgain", "nosotros", "nos" o "nuestro"). 1clickgain es la primera aplicación para el intercambio de real emociones humanas; crean su propio vistory en el video corriente.<br/>

Nuestra política de privacidad explica cómo y algunas de las empresas con las que trabajamos recopilar, utilizar, compartir y proteger la información en relación con nuestros servicios de telefonía móvil, sitio web, y cualquier software proporcionado o en relación con los servicios 1clickgain (colectivamente,el "Servicio" ), y sus opciones sobre la recopilación y el uso de su información de nuestro Servicio.<br/>

Al utilizar nuestro servicio que usted entiende y acepta que estamos proporcionando una plataforma para que usted fije el contenido, incluyendo vídeo, comentarios y otros materiales ("Contenido de Usuario"), al Servicio y compartir Contenido de Usuario públicamente. Esto significa que otros usuarios pueden buscar, ver, usar o compartir cualquiera de su Contenido de Usuario que usted hace a disposición del público a través del Servicio, de acuerdo con los términos y condiciones de esta Política de Privacidad y nuestros Términos de Uso (que se pueden encontrar en http: // 1clickgain .com / legales /términos).<br/>

Nuestra política se aplica a todos los visitantes, usuarios y otras personas que tienen acceso al servicio ("Usuarios").<br/>

INFORMACIÓN RECOGEMOS<br/>

Recopilamos los siguientes tipos de información.<br/>

Información que usted nos proporciona directamente:<br/>

Tu nombre de usuario, contraseña y dirección de correo electrónico cuando se registra para una cuenta de 1clickgain.<br/>

La información de perfil que usted proporciona para su perfil de usuario (por ejemplo, nombre y apellido, foto, número de teléfono). Esta información nos permite verificar que usted y para seleccionar el contenido deseado.<br/>

Contenido de usuario (por ejemplo, vídeos, comentarios y otros materiales) que usted publique en el Servicio.<br/>

Las comunicaciones entre usted y 1clickgain. Por ejemplo, podemos enviarle correos electrónicos relacionados con el servicio (por ejemplo, verificación de la cuenta, los cambios / actualizaciones a las características del servicio, avisos técnicos y de seguridad).<br/>

Busca en 1clickgain:<br/>

Usted puede encontrar otros usuarios a través de la búsqueda social mediante el uso de "Buscar".<br/>

Buscar dentro de la aplicación no se produce por el contenido, sino por los usuarios que crean el contenido.<br/>

El uso de filtros de diferentes opciones de usuario se puede encontrar cualquier persona en el planeta, no un determinado enlace o contenido, pero el usuario que ha creado el vídeo.<br/>

Es una herramienta sencilla y comprensible que ayuda rápida y efectiva encontrar todo lo que quieras.<br/>

A inicie su búsqueda necesitas seleccione una opcion en cada categoría y haga clic en el botón de búsqueda. Los resultados serán presentado en una lista en la que para navegar fácilmente para desplazarse.<br/>

La difusión de la contenido generado por el usuario<br/>

si tu ¿Quieres compartir los contenido se puede encontrar una beneficiario mediante (YO) una lista de contactos desde su dispositivo (II) utilizar el contactos de otra mensajeros, (III) para copiar el enlazar. Si Te puede elegir a la persona directamente de la lista de contactos en el dispositivo y enviar texto ocorreo electrónico de su cuenta personal. Usted entiende y acepta ese usted es responsable de cualquier costo que puedan surgir en A este respecto, y que el se enviarán mensajes A usted personalmente, o en su propio personal cuenta. 1clickgain no tiene acceso o control sobre el contenido de estos mensajes. En el caso de II y III si tu están utilizando un tercero Medio social aplicaciones Messenger o sitios, se le pedirá que compartir un enlace a nuestro sitio, y usted entiende que cualquier información transmitida De este modo se regirá por esta Política de Privacidad.<br/>

Analytics información:<br/>

Utilizamos análisis de terceros herramientas para ayudarnos a medir las tendencias del tráfico y uso del Servicio. Estas herramientas recopilan información enviada por el dispositivo o en nuestro Servicio, incluyendo las páginas web que visita, complementos, y otra información que nos ayuda a mejorar el servicio. Recopilamos y utilizamos esta información de análisis con el análisis de información de otros usuarios de manera que no puede razonablemente ser utilizada para identificar a cualquier usuario de individuo en particular.<br/>

Las cookies y tecnologías similares:<br/>

Cuando usted visita el servicio, podemos utilizar cookies y tecnologías similares como píxeles, balizas web y el almacenamiento local para recoger información sobre cómo utiliza 1clickgain y proporcionar características para usted.<br/>

Podemos pedir anunciantes u otros socios para servir anuncios o servicios a sus dispositivos, que pueden utilizar cookies o tecnologías similares colocados por nosotros o por el tercero.<br/>

Información de registro de archivos:<br/>

Información de registro de archivos se informa automáticamente por su navegador cada vez que realice una solicitud para el acceso (es decir, la visita) una página web o aplicación. También se puede proporcionar cuando el contenido de la página web o aplicación se descarga en el navegador o dispositivo.<br/>

Al utilizar nuestro servicio, nuestros servidores registran automáticamente cierta información del archivo de registro, incluyendo su petición de web, el Protocolo de Internet ("IP"), tipo de navegador, páginas de referencia / salida y direcciones URL, número de clics y cómo interactúan con los enlaces en la Servicio, nombres de dominio, páginas de destino, páginas vistas, y otro tipo de información. También podemos recopilar información similar de mensajes de correo electrónico enviados a nuestros usuarios que luego nos ayudan a rastrear la que se abren los correos electrónicos y enlaces que se hace clic en los destinatarios. La información permite una información más exacta y la mejora del servicio.<br/>

Identificadores de dispositivos:<br/>

Cuando se utiliza un dispositivo móvil como una tableta o un teléfono para acceder a nuestro servicio, podemos acceder, recoger, monitorear, almacenar en el dispositivo, y / o almacenar de forma remota uno o más "identificadores de dispositivos". Identificadores de dispositivos son pequeños archivos de datos o estructuras de datos similares almacenados en o asociados con su dispositivo móvil, que identifican de forma única su dispositivo móvil. Un identificador de dispositivo puede ser los datos almacenados en relación con el hardware del dispositivo, los datos almacenados en relación con el sistema del dispositivo operativo u otro software, o datos enviados al dispositivo por 1clickgain.<br/>

Un identificador de dispositivo puede entregar información a nosotros oa un tercer socio del partido acerca de cómo navegar y utilizar el servicio y puede ayudar a nosotros oa otros proporcionan informes o contenido personalizado y los anuncios. Algunas de las características del Servicio pueden no funcionar correctamente si uso o disponibilidad de identificadores de dispositivos se deteriora o discapacitados.<br/>

Metadatos:<br/>

Los metadatos son por lo general los datos técnicos que se asocia con el Contenido de Usuario. Por ejemplo, metadatos pueden describir cómo, cuándo y por quién se recogió un pedazo de contenido de usuario y cómo se formatea ese contenido.<br/>

Los usuarios pueden añadir o pueden tener metadatos añadido a su contenido de usuario que incluye una etiqueta (por ejemplo, para marcar palabras clave al publicar un video), etiqueta geográfica (por ejemplo, con motivo de su ubicación a un vídeo), comentarios u otros datos. Esto hace que su contenido de usuario más búsquedas por otros y más interactivo. Si geolocalizar su vídeo o etiquetar su vídeo utilizando las API de otros entonces, su latitud y longitud se almacenarán con el vídeo y de búsqueda (por ejemplo, a través de una función de la ubicación o el mapa) si el vídeo se hace público por usted de acuerdo con la configuración de privacidad .<br/>

CÓMO USAMOS SU INFORMACIÓN<br/>

Además de algunos de los usos específicos de información que describimos en esta política de privacidad, podemos utilizar la información que recibimos a:<br/>

-help acceso eficientemente su información después de iniciar sesión<br/>

-recordemos la información por lo que no tendrá que volver a introducirla durante su visita o la próxima vez que visite el servicio;<br/>

Argentina-, contenido personalizado y la información para que usted y otros, que podrían incluir anuncios en línea u otras formas de comercialización<br/>

-Proporcionar, mejorar, probar y supervisar la eficacia de nuestro servicio<br/>

-desarrollar y probar nuevos productos y características<br/>

métricas -monitor como el número total de visitantes, el tráfico y los patrones demográficos<br/>

-diagnose o arreglar problemas de tecnología<br/>

actualizar -Automáticamente la aplicación 1clickgain en su dispositivo<br/>

-1clickgain u otro usuarios / terceros / fogonadura mayo carrera concursos, trabajo acciones, votaciones, ofertas especiales y otros eventos o acciones ("Eventos") dentro del servicio.<br/>

INTERCAMBIO DE SU INFORMACIÓN<br/>

No vamos a alquilar o vender su información a terceros ajenos 1clickgain sin su consentimiento, excepto como se indica en esta Política.<br/>

Partes con quienes podemos compartir su información:<br/>

Podemos compartir Contenido de Usuario y su información (incluyendo, pero no limitado a, la información de las cookies, archivos de registro, identificadores de dispositivos, los datos de localización y datos de uso) con las empresas que están legalmente parte del mismo grupo de empresas que 1clickgain es parte de, o que se convierten en parte de ese grupo ("Afiliados"). Afiliados pueden utilizar esta información para ayudar a proporcionar, entender y mejorar el Servicio (incluyendo, proporcionando análisis) y los propios servicios de los Afiliados (incluyendo al proporcionarle experiencias mejores y más relevantes). Pero estos afiliados seguirán la Política de Privacidad y Acuerdo de usuario.<br/>

También podemos compartir su información, así como información de herramientas como cookies, archivos de registro y los identificadores de dispositivos y datos de localización, con organizaciones de terceros que nos ayudan a proporcionar el servicio a usted ("Proveedores de Servicio"). Nuestros proveedores de servicios tendrán acceso a su información que razonablemente necesaria para prestar el servicio en condiciones de confidencialidad razonables.<br/>

También podemos compartir cierta información, como datos de la cookie con socios de publicidad de terceros. Esta información permitiría a las redes de anuncios de terceros, entre otras cosas, ofrecer anuncios que ellos creen que será de mayor interés para usted.<br/>

Podemos eliminar partes de los datos que pueden identificar y compartir datos anónimos con otros partidos. También podemos combinar su información con otra información de una manera que ya no se asocia con ustedes y compartir esa información agregada.<br/>

Partes con las que usted puede optar por compartir su contenido de usuario:<br/>

Cualquier información o contenido que usted revela voluntariamente por publicar en el Servicio, como contenido de usuario, se convierte a disposición del público, controlado por la configuración de privacidad aplicables que establezca. Para cambiar la configuración de privacidad del servicio, por favor, cambie la configuración de su perfil. Una vez que usted ha compartido Contenido de Usuario o hecho pública, que el Contenido de Usuario puede ser re-compartida por otros.<br/>

Sujeto a su perfil y configuración de privacidad, cualquier Contenido de Usuario que usted haga pública se puede buscar por otros usuarios y con sujeción a utilizar bajo nuestra API de Instagram. El uso de la API 1clickgain está sujeta a las condiciones de uso de la API, que incorpora los términos de esta Política de Privacidad.<br/>

Si elimina la información que usted envió al Servicio, copias pueden permanecer visibles en páginas en caché y archivados del Servicio, o si otros usuarios o terceros utilizando el API 1clickgain han copiado o guardado esa información.<br/>

¿Qué sucede en el caso de un cambio de control:<br/>

Si vende o transfiere una parte o la totalidad de 1clickgain o nuestros activos a otra organización (por ejemplo, en el curso de una transacción como una fusión, adquisición, la quiebra, disolución, liquidación), su información como nombre y dirección de correo electrónico, el usuario Contenido y cualquier otra información recogida a través del Servicio pueden ser uno de los artículos vendidos o transferidos. Usted continuará dueño de su Contenido de Usuario. El comprador o cesionario tendrán que cumplir con los compromisos que hemos hecho en esta Política de Privacidad.<br/>

En respuesta a las peticiones legales y evitar daños:<br/>

Podemos acceder, conservar y compartir su información en respuesta a una solicitud legal (como una orden de allanamiento, orden judicial o citación) si tenemos una creencia de buena fe que la ley nos obliga a hacerlo. Esto puede incluir la respuesta a las solicitudes legales de jurisdicciones fuera de los Estados Unidos, donde tenemos una creencia de buena fe que la respuesta es requerida por ley en esa jurisdicción, afecta a los usuarios en esa jurisdicción, y es consistente con las normas internacionalmente reconocidas. También podemos acceder, conservar y compartir información cuando tenemos una creencia de buena fe es necesaria para: detectar, prevenir y fraude electrónico y otras actividades ilegales; para protegernos, ustedes y otros, incluyendo como parte de las investigaciones; y para evitar la muerte o lesiones corporales inminentes. Información que recibimos de usted puede acceder, procesar y retenido por un período prolongado de tiempo en el que es objeto de una solicitud o la obligación legal, la investigación del gobierno, o las investigaciones sobre posibles violaciónes de nuestros términos o políticas, o de otra manera para prevenir el daño.<br/>

CÓMO almacenar su información<br/>

Almacenamiento y Procesamiento:<br/>

Tu información recogida a través del Servicio puede ser almacenada y procesada en los Estados Unidos o cualquier otro país en el que 1clickgain, sus afiliados o proveedores de servicios tengan instalaciones.<br/>

1clickgain, sus afiliados o proveedores de servicios pueden transferir la información que recopilamos sobre usted, incluyendo información personal a través de fronteras y desde su país o jurisdicción a otros países o jurisdicciones de todo el mundo. Si usted se encuentra en la Unión Europea, América Latina, Rusia y otras regiones con las leyes que rigen la recogida y uso de datos que pueden diferir de las leyes estadounidenses, tenga en cuenta que es posible que la transferencia de información, incluyendo información personal, a un país y la jurisdicción que no lo hace tener las mismas leyes de protección de datos como de su jurisdicción.<br/>

Al registrarse y utilizar el Servicio usted da su consentimiento a la transferencia de información a los EE.UU. oa cualquier otro país en el que 1clickgain, sus afiliados o proveedores de servicios tengan instalaciones y el uso y divulgación de la información sobre usted como se describe en esta Política de Privacidad.<br/>

Utilizamos salvaguardas comercialmente razonables para ayudar a mantener la información recogida a través del Servicio seguro y tomar las medidas razonables (tales como solicitar una contraseña única) para verificar su identidad antes de permitirle el acceso a su cuenta. Sin embargo, 1clickgain no puede garantizar la seguridad de ninguna información que usted transmita a 1clickgain ni garantizar que la información sobre el servicio no se puede acceder, divulgada, alterado o destruido.<br/>

Por favor haga su parte para ayudarnos. Usted es responsable de mantener la confidencialidad de su contraseña única e información de la cuenta, y para controlar el acceso a los correos electrónicos entre usted y 1clickgain, en todo momento. Sus opciones de privacidad también pueden verse afectados por cambios en los servicios de medios sociales se conecta a 1clickgain hacen a sus servicios. Nosotros no somos responsables de las medidas de funcionalidad, privacidad o seguridad de cualquier otra organización.<br/>

Borrado cuentas y el plazo almacenamiento del contenido del usuario<br/>

si tu desee eliminar tu cuenta en 1clickgain, debes notificar nosotros de esta mediante retroalimentación o por e-mail. Dentro de los 60 días usted podrá para revertir su decisión. Si tú no, después de los 60 día sus cuenta será borrado.<br/>

Después de la terminación o la desactivación de una cuenta, 1clickgain, sus filiales o sus proveedores de servicios puede almacenar información (incluyendo su perfil de la información) y Contenido de Usuario en unos términos comercialmente razonables a efectos de copia de seguridad, archivo y / o auditoría.<br/>

Si contenido personalizado fue puesto a la venta y / o comprado, utilizado en la articulación trabajo, para participar en concursos, trabajos, juegos, comentarios en eso y ellos son compartido con otros usuarios, es decir, como alguna vez fue utilizado por otros usuarios, no será remoto incluso Si es eliminadacuenta de usuario<br/>

PRIVACIDAD DE LOS NIÑOS<br/>

1clickgain no recoge ni buscar cualquier información de cualquier persona menor de 18 años o con conocimiento permiten que esas personas pueden inscribirse con el servicio. Servicio y su contenido no están dirigidos a niños menores de 18. En el caso de que nos enteramos de que hemos recopilado información personal de un niño menor de 18 años sin el consentimiento paterno, borraremos esa información lo más rápidamente posible. Si usted piensa que puede ser que tengamos alguna información acerca de un niño menor de 18 años, por favor póngase en contacto con nosotros.<br/>

OTROS SITIOS Y SERVICIOS WEB<br/>

No nos hacemos responsables de las prácticas empleadas por los sitios web o servicios vinculados hacia o desde nuestro Servicio, incluyendo la información o contenido en su interior. Por favor, recuerde que cuando usted utiliza un enlace para ir de nuestro servicio a otro sitio web o servicio, nuestra política de privacidad no se aplica a esos sitios web o servicios de terceros. Su navegación e interacción en cualquier sitio web o servicio de terceros, incluyendo los que tienen un enlace en nuestro sitio web, están sujetos a las propias reglas y políticas de ese tercero. Además, usted acepta que no somos responsables y no tenemos control sobre los terceros que usted autorice para acceder a su contenido de usuario. Si usted está usando un sitio web de terceros o servicio y se les permite acceder a su contenido de usuario lo hace bajo su propio riesgo.<br/>

CÓMO PONERSE EN CONTACTO CON NOSOTROS SOBRE UN USUARIO FALLECIDO<br/>

En el caso de la muerte de un usuario 1clickgain, por favor póngase en contacto con nosotros. Generalmente Llevaremos a cabo nuestra comunicación a través de correo electrónico; debemos requerir cualquier otra información, nos pondremos en contacto con usted a la dirección de correo electrónico que usted ha proporcionado en su solicitud.<br/>

COMO CONTACTARNOS<br/>

Si usted tiene alguna pregunta sobre esta Política de Privacidad o el Servicio, por favor, utilice el realimentación a la aplicación o en el sitio web.<br/>

CAMBIOS EN NUESTRA POLÍTICA DE PRIVACIDAD<br/>

1clickgain puede modificar o actualizar esta Política de Privacidad de vez en cuando, así que por favor revise periódicamente. Podemos proporcionarle otras formas de notificación de modificaciones o actualizaciones como las circunstancias lo aconsejen. El uso continuado de 1clickgain o el Servicio después de cualquier modificación a esta Política de Privacidad, constituirá su aceptación de tales modificaciones.<br/>

<br/>

