1. Glossary<br/>

HenesiZ – the world\'s first crowd-media <br/>

DIY (Do It Yourself) - a unique opportunity to share and acquire your skills<br/>

Shot, Shot - a short video up to 7 seconds in a round frame<br/>

Flow, Flow - a continuous video stream<br/>

Vistory - personal videohistory<br/>

Vlog, vlogs - user’s personal channel<br/>

Wow! - application’s internal payment system<br/>

Invite Token - a form of invitation to your friend when you and he get 100 Wow!<br/>

&2. Technical services<br/>

&2.1 Search<br/>

This is a new kind of social search for people. The results of the search show real people.<br/>

Select an option in each category and click “Search”.<br/>

You can search for a person by their profile, name and surname, place of residence, language, crafts and
friends or by their interests, preferences, competence and world outlook. You can search for a person by
what, when and where they did something.<br/>

&2.2. Call<br/>

You can contact another user directly.<br/>

If you bought something or rented something, the owner will be able to call you to facilitate
communication. If you want to use someone’s services, please contact them directly.<br/>

If you invested in the project, its author can contact you. You can also contact the author of the task that
you performed, or the author of the stream, which you are subscribed to can phone you.<br/>

&3. Profile<br/>

If you fill the expanded profile, you get another 150 Wow!.<br/>

 “All videos” are your personal portfolio. “Questionnaire” reflects your interests and data. “Statistics”
demonstrate all the content you created.<br/>

&3.1 Invite your friend<br/>

Using Invite Token you can invite a friend or a close one to the application and each of you will get 100
Wow!. You have 3 invitations, so spend them wisely, send them to those who really need them. For those
users who use up their savings of Wow!  quickly we offer an additional opportunity to earn and give
another Invite Token.<br/>

&4. Vistory<br/>

&4.1 News<br/>

Here you can see the news - unique collections of the brightest and most interesting things happening
around the users. These are events around you, eyewitnesses’ videos and the hottest and most important
news. That is, the video events that can be really interesting to you.<br/>

A user can add the news to any flow and other users can comment on the videos and shoot video
responses.<br/>

"All" – all the flows.<br/>

"Favorites" - what you “liked”<br/>

 "Today" - videos created in the past 24 hours.<br/>

&4.2 Vlog<br/>

Shoot your first video now to start your vlog and get 50 Wow!. Start your own video channel and get
famous! Start a vlog, shoot a video every day, write a chronicle of your life, share it with your friends and
the entire world. <br/>

Shoot your stories and become the owner of the plot for a new game, earn on an interesting content! It is
the only platform where you can offer your own game. The more popular your plot is, the more you can
earn on it. And you will also be able to learn something useful and interesting.<br/>

&4.3 My choice<br/>

“My choice” are streams of your friends, people you follow.<br/>

You can subscribe to any individual video stream for 25 Wow!  and it immediately falls into “My choice”
section and its author gets a reward. Go to the author\'s profile and select “Subscribe”.<br/>

&5. DIY (Do It Yourself)<br/>

«Do It Yourself» - a new format for media content: life hacking, guides, tips, video instructions,
everything that can be really useful and helpful at any time. HenesiZ is a place where you can ask for
professional advice or assistance to the audience in any field in real time. If you know yourself about
something that can make the lives of all people more convenient, tell everybody about it!<br/>

Here you can ask or share your knowledge of how to make or control a particular object. Alternatively,
you can learn or teach someone the things you can do best. Thanks to the system of competences and
ranking you can always choose the best knowledge holders there are.<br/>

Just choose "Share / Donate" or "Ask / Receive" and choose what the video will be about: "object" or
"skill".<br/>

This section deals with issues such as house and gardening, personal household, children, household tips.
Here you can find or become a personal trainer. Learn or talk about how to do something with your hands
or give things a second life or use it in new ways.<br/>

You can find a tutor or student, for example, of music, foreign language, or other discipline. Here you can
ask or give advice on pet care, passing games, using gadgets and new technologies. If you travel
frequently or know how to survive in difficult conditions, you can give any tourists advice for beginners.
If you are interested in fashion, beauty, healthy lifestyle or design, share your tips with the world, you can
always find an audience.<br/>

Compliance of categories<br/>

Craft: DIY, saving tips, new life of old things<br/>

Style: Fashion Tips<br/>

Beauty: Beauty Tips, Makeup and Beauty<br/>

Garden: Garden<br/>

House: My House<br/>

Hi-tech: Technologies, Programming<br/>

Education: Education, Language Lessons, Tutoring<br/>

Walkthrough games<br/>

Children: Children<br/>

Animals: Veterinarian council<br/>

Sports: Personal Trainer<br/>

Food: Recipes and Cooking<br/>

Nature: Disposal<br/>

Travel: Travel tools, Survival Tips<br/>

Video: Editing video<br/>

Music: Music Lessons<br/>

History: Lessons of History<br/>

To create a query will cost you 150 Wow!, if you answer it you\'ll get 15 Wow!.<br/>

&6. Alien look<br/>

HenesiZ is the world\'s first crowd-media. You can easily and quickly find out what is happening
anywhere in the world at a particular time. Create "an editorial task" and eyewitnesses – users of HenesiZ
– will execute it and will be able to create their own, comment on it, shoot video responses, and you
yourself can subscribe to any personal channel.<br/>

You can perform a task by shooting a video response to it. Or you can create your own task, spending 150
Wow!.<br/>

To carry out the task all you need to do is shoot a video response and you will get 15 Wow!.<br/>

The section is divided into two types: “Tasks” and “Challenges”. Here you can challenge another user or
take a challenge from someone else: just shoot your challenge or respond to an existing one. The
challenge can be anything you want (within the framework of our policies) from a stunt to repeating some
unique skills.<br/>

&7. Marketplace<br/>

Here you can choose from 3 categories - Wow! , where you can learn more about the payment system,
Crowd, where you can conduct social activities, and Alien look, where you can ask to make a video or do
a task yourself.<br/>

&7.1 Wow!<br/>

Wow!  is the internal payment system.<br/>

In the tab "Balance" you can see your current balance and its history.<br/>

Shoot the first 100 video and get extra 500  <br/>

Fill the extended profile for 150<br/>

Start shooting your personal vlog - 50<br/>

Do a task - 15<br/>

Vote - 25<br/>

Shoot any video - 5, share it and get another 10<br/>

Make a video response - 15<br/>

Get a “like” – 1<br/>

Invite your friend - 100<br/>

&7.2  Crowd<br/>

Here in the "Сrowdfunding" section you can search for resources and ask other users for them.<br/>

Here are objects or competences that can be shared, donated or exchanged. By clicking on the icon the
user transfers the indicated amount of Wow!  to the author of the video. After that you can contact the
video’s owner. Buying or selling happens by clicking. The action can’t be undone.<br/>

To create a video for one of these categories just click the "+" button in the lower right corner and shoot.<br/>

&7.3 Rating<br/>

Here you can find the rating of all the players and find out your place in it. Also, you see the profiles of
the best ones, or your own game statistics.<br/>

&8. Info<br/>

Here you can choose from 3 categories - Info, which contains all the important information about the
application; Feedback, through which you can contact us or share an opinion; and Voting, where users
solve all the problems collectively.

&8.1 Info<br/>

Here is all the information that will help you to become one of us. You can get acquainted with the user
agreement: the terms of use and obligations of the parties, Privacy Policy. Find out how we ensure the
security of your data, content and information, or read a detailed guide on how to use this application.<br/>

&8.2 Voting<br/>

Vote and influence in the future of this application. Here the decisions are made by users.<br/>

The “Active” tab contains all the votings taking place at the moment in which you can participate. In the
“History” tab are the finished votings. If you want to start a voting yourself go to “My”.

&8.3 Feedback<br/>

Write us if you have an idea about how to make the application better or if you find a mistake, we will
always be happy to answer your letter.<br/>

You can write about how you would like to improve the app for example.<br/>

If you find content that violates the network’s rules or laws or if some user is bothering others, please
contact us too.<br/>

If you find a bug, an error, a problem - anything that prevents you from using the application, please
contact us, we\'ll fix it!<br/>

For each of the mentioned steps, simply click on the "+" button in the lower right corner.<br/>

&9. Disclaimer<br/>

The application forbids publication of any content, videos, photos, text or audio record, containing
elements of nudity, pornography, violence, cruelty, both in relation to people and animals, calls for
violence, racial, religious, ethnic or any other hatred, racism, any manifestations of extremism, support
for terrorism, incitement to disobey the law or authorities, or any other offense, both in respect of local
and international law.<br/>

We reserve the right to delete such content without explanation, it´s not allowed to assess or challenge
this action. The app does not assume any responsibility for any content posted by users since it is not
conducting pre-moderation. All responsibility is carried by the user. Under no conditions can the app be a
plaintiff in a court case dealing with such content. Using the application and registering in it the user
hereby confirms that he or she is familiar with these rules and accepts them.<br/>