1. Glosario<br/>

HenesiZ – primer  crowd- medio de comunicación<br/>

DIY (Hágalo mismo) - una oportunidad única para compartir y adquirir habilidades<br/>

Shot - un video corto hasta 7 segundos en un círculo<br/>

Flow - un flujo de videos <br/>

Vistoria - crónica personal de videos <br/>

Vlog - canal personal del usuario<br/>

Wow! - sistema de pagos interno<br/>

Invitar al amigo  - una forma de invitación a su amigo cuando tu y él consigue 100 Wow! es<br/>

&2. Los servicios técnicos<br/>

&2.1 Búsqueda<br/>

Se trata de un nuevo tipo de búsqueda social de personas. El resultado de la búsqueda representa personas
reales.<br/>

Selecciona una opción en cada categoría y haz clic en “Buscar”.<br/>

Puedes buscar una persona por perfil, es decir, por su nombre, apellido, lugar de residencia, idioma,
trabajo o amigos. O por los intereses, preferencias y puntos de vista. Puedes buscar a una persona por qué,
cuándo y dónde hizo.<br/>

&2.2. Llamada<br/>

Puedes contactar a otro usuario directamente.<br/>

Si compraste algo, lo pediste prestado o alquilaste, el dueño de ese objeto podrá llamarte para facilitar la
comunicación. Si deseas pedir algunos servicios a unos usuarios, ponte en contacto con ellos
directamente.<br/>

Si invertiste en un proyecto, su autor puede llamarte. También puede conectarse contigo el autor de las
tareas que has realizado. O el autor del flow al cual estás suscrito.<br/>

&3. Perfil<br/>

Si completas el cuestionario ampliado vas a ganar otros  150 Wow!.<br/>

“Todos videos”es tu portfolio personal, “Acerca de ti” es tu cartera personal que refleja  tus intereses y
datos personales. “Estadísticas” muestran todo lo que has creado.<br/>

&3.1 Invita a tu  amigo<br/>

Usando Invite Token puedes invitar a un amigo o una persona cercana a la aplicación, después de lo que
tu y él obtendrán 100 Wow!  cada uno. Tienes 3 invitaciones, por lo que hay que gastarlas sabiamente y
enviarlas a los que realmente las necesiten. Para aquellos usuarios que gasten sus ahorros de Wow!
rápidamente ofrecemos una oportunidad adicional de ganar y les damos un Invite Token más.<br/>

&4. Vistoria<br/>

&4.1 Noticias<br/>

Aquí están las noticias - colecciones únicas de las cosas más brillantes y más interesantes que suceden
alrededor de los usuarios. Estos son los eventos que te rodean, videos de los testigos y las noticias más
calientes y más importantes. Es decir, los eventos que pueden ser realmente interesantes para ti.<br/>

Un usuario puede agregar una noticia a cualquiera de los flujos y otros usuarios pueden comentarla y
grabar videorespuestas.<br/>

“Todo” - todos los videos.<br/>

"Favoritos" - lo que ha recibido tu “Me gusta”.<br/>

"Hoy" - videos creados en las últimas 24 horas.<br/>

&4.2  Vlog<br/>

Filma tu primer video ahora para comenzar tu vlog y obtener 50 Wow!. ¡Conviértete en el protagonista de
tu propio videocanal! Comienza tu propio vlog, graba videos todos los días,  escribe una crónica de tu
vida, compártela con tus amigos y el mundo entero.<br/>

¡Filma tus historias y conviértete en el dueño de un argumento para un nuevo juego, gana dinero gracias a
contenido interesante! Es la única plataforma donde puedes ofrecer tu propio juego. Por más popular que
sea tu trama, más dinero podrás ganar. También podrás aprender algo útil e interesante.<br/>

&4.3 Mi elección<br/>

“Mi elección” contiene videos de tus amigos y tus suscripciones. Puedes suscribirte a cualquier flujo por
25 Wow!  y aparecerá de inmediato en “Mi elección” y su autor será recompensado. Ve al perfil del autor
y selecciona “Suscribir”.<br/>

&5.  DIY (Hazlo tú mismo)<br/>

«Hazlo tú mismo» - un nuevo formato para el contenido de los medios de comunicación: life hacking,
guías, consejos, video instrucciones, todo lo que puede ser útil y provechoso en cualquier momento.
HenesiZ es un lugar donde se puede pedir consejo profesional o asistencia a la audiencia en cualquier
ámbito en tiempo real. Si tú mismo sabes algo que pueda hacer la vida de los demás más conveniente,
¡compártelo!<br/>

Aquí puedes preguntar o compartir tus propios conocimientos sobre cómo crear o controlar algún objeto
en particular. O aprender o enseñar a alguien lo que puedes hacer mejor que todos los demás. Gracias al
sistema de competencias y el ranking siempre se puede elegir el mejor propietario de algún conocimiento.
Sólo tienes que elegir "Compartir / Donar" o "Pedir / Recibir" y elegir el tema del video - "objeto" o
"habilidad".<br/>

Esta sección se ocupa de cuestiones como la casa y el jardín, hogar personal, niños. Aquí puedes
encontrar o convertirse en un entrenador personal. Aprender y hablar sobre cómo hacer algo con tus
manos o dar una segunda vida a las cosas o utilizar estas cosas de otra manera.<br/>

Puedes encontrar un tutor o un estudiante, por ejemplo, de música, idioma extranjero u otras materias.<br/>

Aquí puedes pedir o dar consejos sobre cómo cuidar las mascotas, pasar juegos, usar aparatos y nuevas
tecnologías. Si viajas con frecuencia o sabes cómo sobrevivir en condiciones difíciles puedes dar algún
consejo a los turistas. Si tienes interés en la moda, la belleza, el estilo de vida saludable o el diseño,
comparte tus consejos con el mundo, siempre podrás encontrar una audiencia.<br/>

Cumplimiento de categorias<br/>

Artesania: Hágalo mismo, consejos de ahorro, vida nueva de las cosas viejas<br/>

Estilo: Consejos de moda<br/>

Belleza: Consejos Saludables, maquillaje y belleza<br/>

Jardín: Jardín<br/>

Inicio: Mi hogar<br/>

Tecnología: Hi-tech, Programación<br/>

Educación: Educación, clases de idiomas, Tutoría<br/>

Juega: juegos<br/>

Niños: Niños<br/>

Animales: veterinario Consejo<br/>

Deportes: Personal Trainer<br/>

Meal: Recetas y Cocina<br/>

carácter: el reciclaje de residuos<br/>

Viajes: Herramientas de viaje, consejos de supervivencia<br/>

Vídeo: Retire los vídeos<br/>

Música: Lecciones de música<br/>

Historia: Lecciones de historia<br/>

Crear una consulta cuesta 150 Wow!, si la respondes ganas 15 Wow!.<br/>

&6. Mirada ajena<br/>

HenesiZ es el primero medio de información colectivo en el  mundo. Puedes encontrar fácil- y
rápidamente lo que está sucediendo en todo el mundo en un momento determinado. Crea "una misión
editorial" y testigos - usuarios de HenesiZ – van a cumplirla y serán capaces de crear su propia misión,
comentarla, filmar video respuestas, y tu mismo puedes suscribirte a cualquier canal personal.<br/>

Puedes llevar a cabo una tarea filmando una video respuesta a esta. O puedes crear tu propia tarea
gastando 150 Wow!.<br/>

Para llevar a cabo una tarea, sólo tienes que grabar una video respuesta y vas a ganar 15 Wow!.<br/>

La sección se divide en dos tipos: “Tareas” y “Desafíos”. Aquí puedes desafiar a otro usuario o aceptar un
desafío de alguien: basta con filmar un desafío o responder a uno existente. El reto puede ser cualquiera
(en el marco de nuestras políticas), desde un truco hasta repetición de algunas habilidades únicas.<br/>

&7. Mercado<br/>

Aquí se puede elegir entre 3 categorías – Wow!, donde se puede aprender más sobre el sistema de pago,
Crowd, donde se pueden realizar actividades sociales, y Mirada ajena, donde puedes pedir grabar un
video o hacer una tarea tú mismo.<br/>

&7.1 Wow!<br/>

Wow!  es el sistema de pago interno.<br/>

En la pestaña "Saldo" se puede ver tu saldo actual y su historia.<br/>

Filma tu primeros 100 videos y gana 500<br/>

Llena el formulario extendido por 150<br/>

Comienza a filmar un vlog personal por 50<br/>

Realizar una tarea - 15<br/>

Vota - 25<br/>

Toma cualquier vídeo - 5, compártelo y obtén otros 10<br/>

Hacer una  video-respuesta– 15<br/>

Recibe un “Me gusta” - 1<br/>

Invita a tu  amigo - 100<br/>

&7.2  Crowd<br/>

Aquí mismo en el "Crowdfunding" se puede atraer recursos a los demás usuarios.<br/>

Aquí están los objetos o competencias que se pueden compartir, donar o intercambiar. Haciendo un clic
en el icono de la acción el usuario traslada la cantidad indicada de Wow!  al autor del vídeo. Después de
eso se puede poner en contacto con el propietario del vídeo. La acción no se puede deshacer.Para crear un
video para una de estas categorías sólo hace falta hacer un clic en el botón "+" en la esquina inferior a la
derecha y filmar.<br/>

&7.3 Rating<br/>

Aquí puedes encontrar la puntuación de todos los jugadores y encontrar tu lugar en esta. También se
puede ver los perfiles de los mejores o tus propias estadísticas del juego.<br/>

&8. Info<br/>

Aquí se puede elegir entre 3 categorías - Información, que contiene toda la información importante acerca
de la aplicación; Comentarios, a través de los cuales se puede poner en contacto con nosotros o dejarnos
tu opinión, y Votación, donde los usuarios resuelven colectivamente todos los problemas.<br/>

&8.1 Info<br/>

Aquí está toda la información que te ayudará a convertirte en uno de nosotros. Puedes familiarizarte con
el acuerdo de usuario, las condiciones de uso y obligaciones de las partes, la política de privacidad,
averiguar como aseguramos la seguridad de tus datos, el contenido y la información, o leer una guía
detallada sobre esta aplicación.<br/>

&8.2 Voto<br/>

Votad e influid en el futuro de esta aplicación. Aquí los usuarios son los que deciden todas las cuestiones
importantes.<br/>

La pestaña “Actuales” contiene todas las votaciones que están teniendo lugar en el momento y en las
cuales se puede participar. En la “Historia” están todas las votaciones que ya terminaron. Si quieres
empezar tu propia votación ve a “Mi”.<br/>

&8.3 Comentarios<br/>

Escríbenos si tienes una idea o has encontrado un error, siempre estaremos encantados de responderte.<br/>

Puedes escribir, por ejemplo, como te gustaría mejorar la aplicación.<br/>

Si encuentras contenido que infringe las reglas de la red social o alguna ley o si algún usuario está
molestando a los demás, por favor ponte en contacto con nosotros.<br/>

Si encuentras un error o algún problema, todo lo que no te permite usar la aplicación, por favor
escribenos, ¡nosotros lo arreglaremos!<br/>

Para cada uno de los pasos mencionados simplemente haz clic en el botón "+" en la esquina inferior a la
derecha.<br/>

&9. Aviso legal<br/>

Está prohibida la publicación de cualquier contenido, ya sean vídeos, fotos, texto o audio, que contenga
elementos de desnudez, pornografía, violencia, crueldad, tanto en relación con las personas como los
animales; llamados a la violencia, odio racial, religioso, étnico o cualquier otro, racismo, cualquier
manifestación de extremismo, el apoyo al terrorismo, la incitación a desobedecer la ley o las autoridades,
o a cualquier otro delito, tanto en la legislación local como la internacional. Nos reservamos el derecho a
eliminar tal contenido sin explicación, evaluar la elegibilidad de esta acción no está permitido y no puede
ser impugnada. La aplicación no asume ninguna responsabilidad por cualquier contenido publicado por
los usuarios, ya que no hay premoderación. Toda la responsabilidad en su totalidad pertenece al usuario.<br/>

La aplicación bajo ningunas condiciones puede ser un demandante en un caso judicial que se ocupe del
dicho contenido. Usando la aplicación y registrándose aquí el usuario confirma por la presente que está
familiarizado con estas reglas y las acepta.<br/>