1. Глоссарий<br/>

HenesiZ – это первое в мире крауд-СМИ<br/>

DIY (Do It Yourself) – уникальная возможность поделиться или приобрести навыки<br/>

Shot, Шот   - короткое видео до 7 секунд в круглой рамке<br/>

Flow, Флоу – непрерывный видеопоток <br/>

Vistory – личная видеолетопись<br/>

Vlog, Влог – личный канал пользователя<br/>

Wow! - внутренняя платежная система <br/>

Invite Token – форма приглашения твоего друга, когда ты и он получаете по 100 Wow!<br/>

&2. Технические сервисы<br/>

&2.1 Поиск<br/>

Это новый вид социального поиска по людям.   Выбери параметр в каждой категории и нажми на
поиск. Ты можешь искать по профилю пользователя, его имени, фамилии, месту жительству,
языку, работе, образованию и компетенциям. Или по его интересам, предпочтениям и
мировоззрению.  Ты можешь искать человека по тому, когда, где и что он сделал, и найти
первоисточник информации.<br/>

&2.2. Звонок<br/>

Ты можешь напрямую связаться с другим пользователем.<br/>

Если ты купил что-то, получил в пользование или получил пожертвование, пользователь сможет
позвонить тебе напрямую. Если ты хочешь использовать чьи-то услуги, также свяжись с этим
человеком напрямую.<br/>

Если ты инвестировал в проект, его автор может связаться с тобой. С тобой так же может
связаться автор задания, которое ты выполнил.  Или автор видеопотока, на который ты
подписался.<br/>

&3. Профайл-анкета<br/>

Если заполнишь расширенную анкету, то получишь еще 150 Wow! «Все видео» представляют
собой твое личное портфолио.  «Анкета»  отражает твои интересы и данные. “Статистика”
отображает весь созданный тобой контент.<br/>

&3.1 Пригласи друга<br/>

Используя Invite Token ты можешь пригласить друга или близкого в приложение, если он
установит и ты, и он получите каждый по 100 Wow!. У тебя есть 3 приглашения, поэтому
расходуй их с умом, отправь их именно тому, кому это реально нужно. Для тех пользователей, кто
быстро израсходует свои накопления Wow! мы предоставляем дополнительную возможность
заработать и даем еще один Invite Token.<br/>

&4. Вистори<br/>

&4.1 Новости<br/>

Тут есть новости - уникальные подборки самых ярких и интересных моментов происходящих
вокруг пользователей, теперь ты сам можешь снимать то, что происходит вокруг.  Это события
вокруг тебя, видео очевидцев и самые горячие и важные локальные новости. То есть это видео-
события, которые действительно могут быть тебе интересны.<br/>

Справа находится кнопка съемки шотов, для них можно использовать любую камеру, главное
добавить правильную категорию и теги.<br/>

К каждому видео можно добавить саундтрек, наложить уникальный фильтр и выбрать идеальное
превью.<br/>

Видеопоток создается автоматически на основе трех критериев: места, времени и тега, которые
также будут автоматически переведены на любой язык приложения.<br/>

Пользователь может добавить новость в любой из потоков. Ты можешь оставить комментарий к
каждому видео или снять видеоответ, поделиться с друзьями или пожаловаться, если видео
нарушает правила сети.<br/>

«Все» – абсолютно все потоки.<br/>

«Избранное» – то, что ты лайкнул<br/>

«Сегодня» - видео, созданные в течение последних 24 часов.<br/>

&4.2  Влог<br/>

Сними свое первое видео прямо сейчас, чтобы начать свой влог, и получи 50 Wow! Стань звездой
собственного видеоканала! Начни свой влог, снимай видео ежедневно, пиши летопись своей
жизни, делись ей с друзьями и всем миром. Каждый пользователь может вести свой персональный
влог, запечатлевая самые эмоциональные моменты своей жизни.<br/>

&4.3 Мой выбор<br/>

«Мой выбор» - видеопотоки, людей, на которых ты подписан. Чтобы подписать нужно зайти на
профиль пользователя и нажать на кнопку подписки. В профиль пользователя можно попасть,
кликнув на имя автора видео. Ты можешь подписаться на любой личный видеопоток за 25 Wow!, а
его автор получит вознаграждение.<br/>

&5. DIY (Do It Yourself) - Сделай сам<br/>

«Do It Yourself» – новый формат медиа-контента: лайфхаки, гайды, советы, видео-инструкции,
всё, что может быть реально полезно и  пригодиться в любую минуту. HenesiZ  - место, где ты
можешь попросить совет профессионала или помощь всей аудитории в любой области в режиме
реального времени. Если и ты сам знаешь о чем-то, что может сделать жизнь всех людей удобнее,
– расскажи об этом!<br/>

Здесь  ты можешь попросить или сам поделиться своим знанием о том, как управляться с
определенным объектом или сделать его. Или научиться или научить кого-то делать то, что ты сам
умеешь лучше всего. Благодаря системе рейтинга и компетенций можно всегда выбрать лучших
носителей знаний.<br/>

Достаточно выбрать  «Поделиться/Пожертвовать»  или  «Попросить/Получить»  и выбрать, к чему
именно будет относиться видео - «объекту» или «навыку».<br/>

Этот раздел посвящен таким вопросам, как дом и сад, личное домохозяйство, дети,  бытовые
советы, садоводство. Здесь же можно найти или стать личным тренером. Научиться или рассказать
о том, как сделать что-то своими руками или дать вещи вторую жизнь или использовать  ее по-
новому.<br/>

Ты можешь найти репетитора или ученика, например, по музыке, иностранному языку или
другому предмету. Здесь же можно спросить или дать совет по уходу за домашними животными.
Или по прохождению игр или использованию гаджетов и новых технологий. Если вы часто
путешествуете или знаете, как выжить в трудных условиях, вы можете дать много советов
начинающим туристам.  Увлекаетесь модой, красотой, здоровым образом жизни или дизайном –
поделитесь своими советами  со всем миром, у вас всегда найдется аудитория.<br/>

Соответствие категориям видео<br/>

Ремесло: Сделай сам, Советы по экономии, Новая жизнь старых вещей<br/>

Стиль: Модные советы<br/>

Красота: Здоровые советы, Макияж и красота<br/>

Сад: Сад<br/>

Дом: Мой дом<br/>

Технологии: Hi-tech, Программирование<br/>

Обучение: Обучение, Уроки языка, Репетиторство<br/>

Игры: Прохождения игр<br/>

Дети: Дети<br/>

Животные: Совет ветеринара<br/>

Спорт: Личный тренер<br/>

Еда: Рецепты и кулинария<br/>

Природа: Утилизация отходов<br/>

Путешествия: Помощь туристу, Советы по выживанию<br/>

Видео: Снять видео<br/>

Музыка: Уроки музыки<br/>

История: Уроки истории<br/>

Создать запрос стоит 150 Wow!, если ты ответишь на запрос, то получишь 15 Wow!.<br/>

&6. Чужой взгляд<br/>

HenesiZ - первое в мире крауд-СМИ. Можно легко и быстро узнать, что происходит в любой точке
планеты в конкретное время. Создай «редакционное задание» и очевидцы событий – пользователи
HenesiZ  - выполнят его, и смогут создать собственные, комментировать, снимать видео-ответы, а
ты сам можешь подписаться на любой персональный канал.<br/>

Ты можешь выполнить задание, сняв видеоответ на него. Или же ты можешь создать свое
собственное задание, потратив 150 Wow!.<br/>

Чтобы выполнить задание, достаточно снять видеоответ на него, за выполнение задания ты
получишь 15 Wow!.<br/>

Раздел делится на два типа – «Задания» и «Вызовы».  Здесь ты можешь бросить другому
пользователю вызов или принять чужой: достаточно снять свой вызов или ответить на
существующий. Вызовом может быть все, что угодно (в рамках наших правил):  от трюка до
повтора уникального умения.<br/>

&7. Маркетплейс<br/>

Тут ты можешь выбрать из 3 категорий – Wow!, где можешь больше узнать о платежной системе,
Крауд, где ты можешь вести социальную деятельность, и Рейтинг, где ты можешь узнать свой
рейтинг в рамках глобальной системы.<br/>

&7.1 Wow!<br/>

Wow! – это внутренняя платежная система, с помощью которой ты можешь зарабатывать на
новостях или создавать свои репортерские задания.<br/>

В закладке «Баланс» ты можешь посмотреть твой текущий баланс и  его историю.<br/>

Сними  первые 100 видео и получи дополнительные 500<br/>

Заполни расширенную анкету за 150<br/>

Начни снимать персональный влог за 50<br/>

Выполни задание - 15<br/>

Проголосуй - 25<br/>

Сними любое видео - 5, поделись им и получи еще 10<br/>

Сними видео-ответ - 15<br/>

Получи лайк – 1<br/>

Пригласи друга - 100<br/>

&7.2 Крауд<br/>

Здесь же в разделе «Краудфандинг» ты можешь привлечь ресурсы и попросить об этом у других
пользователей.<br/>

Тут представлены объекты или компетенции, которыми можно поделиться, или пожертвовать, или
обменяться. При клике на иконку действия с баланса пользователя на баланс автора видео
переходит указанная сумма вирутальных Wow! После этого можно связаться с хозяином видео.
Покупка или продажа происходит по клику, действие не имеет обратной силы.<br/>

Чтобы создать видео для одной из этих категорий, достаточно нажать на кнопку «+»  в нижнем
правом углу и снять его.<br/>

&7.3 Рейтинг<br/>

Здесь ты можешь найти рейтинг всех ньюсмейкеров и узнать свое место в нем. Так же ты можешь
узнать и посмотреть профили лучших или свою собственную статистику.<br/>

&8. Инфо<br/>

Тут ты можешь выбрать из 3 категорий – Инфо, где собраны вся важная информация о
приложении, Обратной связи, через которую ты можешь связаться с нами или оставить свое
мнение, и Голосование - где пользователи коллективно решают любые вопросы.<br/>

&8.1 Инфо<br/>

Тут собрана вся информация, которая поможет стать одним из нас. Ты можешь ознакомиться с
пользовательским соглашением – правилами пользования приложением и обязанностями сторон,
политикой конфиденциальности. Узнай о том, как мы обеспечиваем безопасность твоих данных,
контента и информации, или прочти подробный справочник о том, как пользоваться этим
приложением.

&8.2 Голосование<br/>

Голосуйте и влияйте на будущее этого приложения. Именно пользователи решают все важные
вопросы, связанные с ним.<br/>

В закладке «Активные» находятся все голосования, которые происходят на настоящий момент, и в
которых ты можешь принять участие. В «История» сохранены все голосования, которые уже
прошли.  Если ты хочешь сам начать голосование перейди в раздел «Мои».<br/>

&8.3 Обратная связь<br/>

Напиши нам, если у тебя есть идея, как сделать приложение лучше, или если ты нашел ошибку,
мы всегда будем рады ответить на твое письмо.<br/>

В разделе предложений ты можешь написать, например, о том, как бы ты хотел улучшить
приложение.<br/>

Если ты нашел контент, который нарушает правила сети или закон, или если какой-то
пользователь мешает другим, тоже напиши нам об этом.<br/>

Если ты найдешь баг, ошибку, неполадку – все, что мешает тебе пользоваться приложением,
напиши нам, и мы исправим это!<br/>

Для того чтобы сообщить об этом, нужно просто нажать на кнопку «+» в нижнем правом углу.<br/>

&9. Предупреждение<br/>

В приложении запрещена публикация любого контента, будто видео, фото, текст или аудиозапись,
содержащие элементы наготы, порнографии, насилия, жестокости как по отношению к людям, так
и животным, призывы к насилию, расовой, религиозной, этнической или любой другой розни,
расизму, любым проявлениям экстремизма, поддержки терроризма, призывы к неповиновению
закону или властям, или любые другие правонарушения, как местного, так и международного
права. Мы оставляем за собой право удалить такой контент без объяснений причин, оценку
правомочности действий не допускается и не может быть оспорена. Приложение не несет никакой
ответственности за контент размещенный пользователем, так как не проводит премодерацию. Всю
ответственность в полном объеме несет только пользователь. Приложение ни при какие условия
не может быть истцом в случае суда или дела, где рассматривается подобный контент. Пользуясь
приложением и регистрируясь в нем, пользователь тем самым подтверждает, что ознакомлен с
данными правилами и акцептует их.пользователь тем самым подтверждает, что ознакомлен с
данными правилами и акцептует их.
