Пользовательское соглашение<br/>
Это Пользовательское соглашение вступают в силу с 5 мая 2016.<br/>
Регистрируясь в приложении 1CLICKGAIN ("Приложение"), вы полностью и безоговорочно согласны с Пользовательским соглашением ("Пользовательское соглашение"), а также с юридически обязывающими документами, включенными в настоящее Пользовательское соглашение посредством ссылки. Приложения принадлежит и контролируется 1CLICKGAIN CORP.<br/>
Пользовательское соглашение (требует только одного согласия) создает договорные отношения между 1CLICKGAIN и вами, затрагивая юридические права и обязанности. Если вы не согласны с Пользовательским соглашением или, если любое из этих Правил неясны вам, не регистрируйтесь в приложении до полного согласия и ясности.<br/>
Сервис предоставляется Пользователям на основе функционала приложения, технических ограничений и других условий оказания услуг (использование приложения), а также на основе Пользовательского соглашения, размещенного 1CLICKGAIN на страницах приложения, которые должны быть обязательными для Сторон.<br/>
Термины и определения<br/>
Аккаунт или учетная запись означает технические средства и системы идентификации пользователя внутри приложения, позволяющие пользователю отправлять в Приложение (для публичного доступа) и / или 1CLICKGAIN определенную информацию и другой контент, управлять им (добавлять, изменять и удалять) а также,  чтобы получить доступ к соответствующей функции приложения  (доступна только для пользователя, как человек, зарегистрированного в приложении) <br/>
Приложение означает мобильное онлайн приложение, которое принадлежит и контролируется 1CLICKGAIN, доступ  в который предоставляется в соответствии с Пользовательским соглашением.<br/>
1CLICKGAIN означает  1CLICKGAIN CORP, созданной и существующей в соответствии с законодательством государства Панама. Контент означает любые данные, текст, файлы, информационные, имена пользователей, изображений, графику, фотографии, профили, аудио- и видеоклипы, звуки, музыкальные произведения, авторские произведения, приложения, ссылки и другие содержимые или материалы, представленные, размещенные или отображаемые с помощью Приложения, независимо от того, содержат или нет передаваемые данные специальное значение, является незначительным или ценным и т.д.<br/>
Стороны означает 1CLICKGAIN и каждый из пользователей.<br/>
Сервис означает предоставление 1CLICKGAIN пользователям доступ к функционалу приложения для целей размещения контента в порядке, описанном в п. 1 настоящего Соглашения.<br/>
Пользовательское соглашение означает, этот документ может быть изменен или дополнен в любое время, в том числе положениями, включенными путем ссылки.<br/>
Пользователь означает лицо, получившее доступа к Сервису после регистрации.<br/>
Предмет <br/>
В соответствии с настоящими Пользовательским соглашением 1CLICKGAIN обеспечивает для пользователей сервис размещения контента в Приложении, и предоставления доступа к содержанию контента третьим лицам. Размещение контента пользователем в приложении, осуществляется в силу предоставления контента 1CLICKGAIN через Аккаунты (если иное не указано 1CLICKGAIN, размещение происходит автоматически с помощью программного обеспечения Приложения). Процесс размещения может быть осуществлен следующим образом:<br/>
в силу прямой загрузки Пользователем Контента на серверы 1CLICKGAIN, или<br/>
в силу предоставления в 1CLICKGAIN данных о том, где такой Контент хранится и откуда он может быть загружен в Приложение с использованием специального программного кода (в том числе, как правило, программное обеспечение сторонних производителей), если такие загрузки поддерживается Приложением и сторонними сервисами (например, такая технология поддерживается в видео-сервисе youtube.com).<br/>
Основной функционал приложения предоставляется бесплатно. 1CLICKGAIN вправе предложить или ввести дополнительные услуги или функционал приложения на платной основе. Услуги должны быть предусмотрены в соответствии  и в рамках Пользовательского соглашения. 1CLICKGAIN может определить специальные условия для конкретной услуги, а в случае каких-либо противоречий с Пользовательским соглашением, условиях, установленных 1CLICKGAIN для конкретной услуги, должны преобладать.<br/>
1CLICKGAIN информирует пользователя о всех специальных условиях и платных услугах, в том числе о цене, прежде, чем услуга будет куплена.<br/>
Для того, чтобы использовать платную услугу, пользователь должен заказать/оплатить ее или иначе выразить его/ее согласия с ней. Если иное не установлено условиями сервиса, оплата считается принятием Пользователем всех условий и положений соответствующей услуги.<br/>
Все возможные средства платежа должно быть обозначены 1CLICKGAIN в приложении.<br/>
Если иное не установлено 1CLICKGAIN, услуга считается надлежащим образом оказанной и принятой Пользователем, если Пользователь не отослал письменные претензии 1CLICKGAIN в течение 5 (пяти) рабочих дней следующих (I) после фактического завершения предоставления услуг, как это определяется или подразумеваемых в природе соответствующей услуги или (II) обнаружения дефекта в зависимости от того, что происходит раньше.<br/>
1CLICKGAIN может предоставить определенным пользователям дополнительные функции и возможности по своему усмотрению.<br/>
1CLICKGAIN не ведет дел в следующих странах: Панама<br/>
1.  Регистрация и удаление аккаунта.<br/>
Любое лицо, которое имеет необходимую правоспособность для заключения договора в силу согласования с настоящим Пользовательским соглашением в соответствии с законодательством страны и его юрисдикции может быть Пользователем.<br/>
Регистрация осуществляется Пользователем автоматически (без участия 1CLICKGAIN), как это предусмотрено 1CLICKGAIN в Приложении. Регистрация может быть осуществлена только путем заполнения формы приложения Пользователем самим. Пользователь соглашается передать все необходимых данных 1CLICKGAIN, а также те, к которому приложение будет иметь доступ, например, его/ее контактам.<br/>
Регистрация не допускается без полного и безоговорочного согласия Пользователя с Пользовательским соглашением.<br/>
После регистрации создается аккаунт пользователя. Доступ к аккаунту предоставляется через идентификацию личности по номеру мобильного телефона.<br/>
Пользователь не может предоставить доступ к его / ее аккаунту какой-либо третьей стороне. Пользователь может иметь только один аккаунт. Если это ограничение не соблюдается, 1CLICKGAIN имеет право заблокировать доступ ко всем аккаунтам пользователя или определенным аккаунтам, а также удалить все или некоторые аккаунты. Такое нарушение может быть основанием для отказа в повторной регистрации пользователя в приложении (в том числе тех случаях, когда 1CLICKGAIN удалил все аккаунты пользователя).<br/>
Прекращение аккаунта означает удаление из приложения всего контента, размещенного Пользователем, в том числе персональных данных (1CLICKGAIN имеет право не удалять контент, имеющий отношение к другим пользователям, например, комментарии других пользователей и / или их контент, сообщения и другой контент, к которому другие пользователи оставили сообщения, ответы или комментарии, и т.д.), а также отмену регистрации, что приводит к потере доступа к Приложению и прекращения договорных отношений.<br/>
По окончании, все права, предоставленные пользователю в настоящем Пользовательском соглашении, будут немедленно аннулированы.<br/>
2. Сохранение прав, прекращение, закрытие аккаунта<br/>
В дополнение к другим правам, имеющихся в СЕРВИСЕ в рамках настоящего Договора Сервис оставляет за собой право по своему собственному усмотрению, аннулировать любые выигрыши и реквизировать сальдо по вашему счету ставок, расторгнуть Договор и / или приостановить предоставление Услуг / деактивировать   аккаунт, если СЕРВИС имеет разумные основания полагать или установит любое из следующего:<br/>
у вас есть более одного активного аккаунта в сервисе;<br/>
Название не соответствует имени на кредитной или дебетовой карте (ах) или других расчетных счетах, используемых для совершения покупок и депозита в сервисе;<br/>
вы участвуете в акциях Сервиса по выводу, не выполнив требований этого специального предложения;<br/>
Вы предоставляете неверную или вводящую в заблуждение информацию;<br/>
- вы не предоставили или не предоставляете запрашиваемую информацию по идентификации;<br/>
- вы не обладаете необходимыми правами;<br/>
- доступ и участвуете в Услугах сервиса из юрисдикции, где участие в Услугах запрещено законом;<br/>
- вы вкладываете деньги, добытые преступным или других незаконных, или несанкционированным путем;<br/>
- вы уличены в мошенничестве или попытке мошенничества, или обмане кого-либо какой-либо стороны, или если определено Сервисом, что вы использовали или используете искусственный интеллект или иную систему (в том числе машины, компьютеры, программное обеспечение или другие автоматизированные системы), разработанный специально, чтобы победить систему или вы обнаружили, что вступили в сговор или пытались вступить в сговор с другими игроками, чтобы обмануть Сервис (или других игроков, в зависимости от обстоятельств);<br/>
- вы позволили или разрешили (намеренно или ненамеренно) кому-либо еще использовать ваш аккаунт;<br/>
- вы нарушите любое из этих Условий;<br/>
- вы не раскрыли, что вы находитесь в Панаме или являетесь гражданином, резидентом Панамы, проживающим в Панаме;<br/>
- вы признали, что вы, или у нас есть основания полагать, чтобы вы, страдающий от проблемы, связанной с игроманией.<br/>
Мы оставляем за собой, по нашему собственному усмотрению, право на:<br/>
- отказать в регистрации любому кандидату на регистрацию<br/>
- отказаться принять любую ставку;<br/>
- изменить, приостановить, удалить, изменить или добавить любую игру или турнир.<br/>
- мы оставляем за собой право вносить запросы на ваш счет, в том числе о кредитных чеках, в сторонних кредитных и финансовых учреждениях, в соответствии с информацией, которую вы предоставили нам. Мы также оставляем за собой право запрашивать информацию об источнике средств.<br/>
- в случае любого конфликта, касающегося ставки или выигрыша, наше решение будет окончательным и обязательным. Мы оставляем за собой право удержать любую выплату или сумму выигрыша пока личность выигравшего лица не установлена , чтобы гарантировать, что выплата суммы выигрыша досталась правильному человеку.<br/>
- мы оставляем за собой право удержать любую выплату из или сумму выигрыша пока личность выигравшего лица не установлена к нашему удовлетворению, чтобы гарантировать, что выплата суммы выигрыша, которая внесена правильным человека и соблюдает   Требования по предотвращению отмывания денег и  проверку идентичности игрока. Для этого, мы оставляем за собой право, по своему собственному усмотрению, потребовать, чтобы вы предоставили нам нотариально заверенное удостоверение личности или любой другой равноценный заверенный документ в соответствии с действующим законодательством вашей юрисдикции. Если в течение 180 дней начиная с выдвижения нашей просьбы мы не получим необходимой документации, то  средства, остающиеся в аккаунте будут удалены, а ваш аккаунт закрыт.<br/>
- мы можем в любое время раскрыть определенную личную информацию о Вас третьим лицам в соответствии с нашей политикой конфиденциальности, которая подробно изложена в полном объеме в нашей политике конфиденциальности<br/>
- в случае, если мы будем подозревать мошенничество или мошеннические действия с Вашей стороны ваши платежи будут отозваны, или вы не в состоянии обеспечить необходимую документацию, чтобы проверить вашу личность и / или возраст, ваш аккаунт будет заморожен,  мы будем имеют право удержать любую выплату или выигрышные суммы, причитающиеся   вам, и если необходимо на законных основаниях мы можем взымать с Вас необходимые суммы. Если играя в любой из режимов игры, мы имеем подозрения относительно подсчета результатов - мы оставляем за собой право удержать любую сумму с Вашего счета, которая будет в плюсе от вашего первоначального депозита. Если ваш аккаунт остается замороженным, как следствие этого пункта в течение непрерывного периода в 180 дней, то в отсутствии удовлетворительного объяснения или доказательства, чтобы доказать законные намерения, средства, оставшиеся в вашем аккаунте, будут удалены, а ваш аккаунт закрыт.<br/>
Вы можете закрыть свой счет в любое время по вашему выбору, мы будем требовать подтверждение Вашего запроса в письменной форме (по электронной почте, письмом, но исключая чат или SMS), отправляемые на контактные данные на нашем веб-сайте, которые проверяются в течение 48 часов и в рамках нашей политики аннулирования аккаунта. Вы должны специально уведомить сотрудника по работе с клиентами и подтвердить то же самое в письменной форме, если по любой причине вам требуется немедленное закрытие счета.<br/>
Если вы думаете, что нужно вам отдохнуть от игр, пожалуйста, свяжитесь с нашей службой поддержки немедленно и попросить их временно закрыть свой аккаунт, указав, как долго вы хотите, чтобы ваш аккаунт был временно заморожен: семидневный период; один месяц; шестимесячный период; или больше, в соответствии с вашими требованиями. Вы не сможете войти в свой аккаунт в этот период времени, которое вы укажете.<br/>
3. Бездействующий аккаунты<br/>
3.1 " Бездействующие аккаунты" игрока определяется, как аккаунты, которые не используются вами и не используются для ставок в течение периода в 180 дней (счет не пополнялся, с него не выводились средства, а также не размещались и не были рассчитаны ставки, за исключением счетов с самоисключением).  <br/>
3.2  Как только Ваш аккаунт игрока был признан Бездействующим мы будем вправе взимать административный сбор в размере 10% от общего баланса ("административный сбор"), вступающий в силу с первого дня неактивности. Минимальная сумма вычета составляет $15 или эквивалент в другой валюте, а максимальная сумма вычета составляет $50 или эквивалент в другой валюте. Мы будем вычитать административный сбор с вашего счета игрока   каждые тридцать (30) дней с момента, когда ваш аккаунт становятся неактивным. Вам будет предоставлено в течение 30 дней письменное уведомление по телефону, через приложение или sms о том, что ваша учетная запись собирается стать бездействующей (выбор формы уведомление остается на усмотрение Сервиса). Эта плата будет взыматься до тех пор, пока (а) не пройдет тридцать месяцев с момента неактивности (в случае если игровой счет регулируется 1CLICKGAIN CORP), (b) клиент не закроет свой игровой счет или (с) клиент не начнет снова пользоваться своим игровым счетом.<br/>
В случае если игровой счет по истечению тридцати месяцев с момента прекращения пользования игровым счетом все еще содержит денежные средства, компания 1CLICKGAIN должна приложить соответствующие усилия, чтобы вернуть остаток средств владельцу игрового счета. Если после всех приложенных усилий компании 1CLICKGAIN все же не удастся вернуть остаток средств клиенту, такой остаток средств будет передан организации 1CLICKGAIN CORP, а аккаунт закрыт. Если баланс вышеуказанного игрового счета составляет менее 5 долларов, сумма административного взноса будет равна сумме остатка средств на игровом счете.<br/>
3.3 Мы прекратим вычет административного сбора  с вашего баланса, если Ваш аккаунт игрока повторно активируется: вы используете его для реальных ставок или внесете реальные деньги.<br/>
3.4 Как только Ваш аккаунт игрока достигает нуля и / или отрицательного сальдо в результате отчислений ваш   аккаунт будет закрыт.<br/>
3.5 Если вы решите повторно активировать свой аккаунт игрока, вы можете связаться с нами в любое время с просьбой восстановить свой баланс.<br/>
3.6 В связи с законодательством о защите данных, мы не можем подтвердить никому, кроме владельца аккаунта имеет ли он счет и личную учетную запись в нашей системе.  Если третья сторона считает, что он / она имеет законный интерес в счете, открытый под другим именем (в качестве примера, в ситуациях утраты или недееспособности владельца счета), он / она должен быть предложено направить в его / ее ID, а также постановление суда; Доверенность (или аналогичный), подтверждающий указанные правовые интересы. Этот документ будет рассмотрен правовой командой Сервиса.<br/>
4. Регистрация, открытие Вашей  игрового счета и Членство<br/>
4.1 Для того, чтобы играть и делать ставки с Сервисе и использовать услуги, необходимо заполнить анкету и идентифицировать свою личность через телефон.<br/>
4.2 Вы подтверждаете и гарантируете, что вся информация, предоставленная Вами при регистрации и заполнении Анкеты на членство, является точной, правдивой и полной во всех отношениях, включая, ваше имя ("Имя"), источники средств (в том числе соответствующих банковских счетов и номера карт) и адрес места жительства.<br/>
4.3 Мы будем принимать разумные и соответствующие меры для обеспечения того, чтобы ваша личная информация, оставалась конфиденциальной и будет обрабатываться в соответствии с нашей политикой конфиденциальности с поправками, время от времени. Мы не будем разглашать   ваши персональные данные или информацию о ставках, если не вынуждены это делать любыми применимыми законами и правилами, в судебном порядке, или по запросу соответствующих игровых или правоохранительных органов, или иное не предусмотрено в настоящих Условиях. Это ваша личная ответственность, чтобы сохранить вашу личную информацию в тайне. Мы оставляем за собой право раскрыть и передать ваши персональные данные посредникам, с которыми мы работаем, платежным площадкам и финансовых институтам в объеме, необходимом для осуществления платежей за Услуги, предоставленные посредством приложения, или если вынужден делать это в соответствии с применимым законодательством и правилами, в соответствующие игровые или правоохранительные органы.<br/>
4.4 Кроме того, вы несете ответственность за то,  что законы, применимые к вам не запрещают вам использовать и получать доступ к приложению и содержащейся в нем информация, загрузке и установке программного обеспечения и / или использованию или участию в Услугах.<br/>
4.5 Мы требуем дополнительных доказательств идентификации возраста от вас, чтобы подтвердить вашу Анкету на членство (например, удостоверяющий личность изображение и кредитной / дебетовой карты), чтобы убедиться, что вы на самом достигли 12 лет, и в соответствии с требованиями по борьбе с отмыванием денег, отказ предоставить соответствующую документацию в установленные сроки может привести к замораживанию аккаунта. Если есть какие-либо изменения в вашей информации от первоначально предоставленной вами, вы должны уведомить нас о соответствующем изменении без промедления. Для того, чтобы подтвердить свое имя и адрес, СЕРВИС оставляет за собой право, в частности, запросить для подтверждения имени и адреса по почте. СЕРВИС может, по своему усмотрению, провести дополнительные проверки любой информации, которую вы предоставляете. Соглашаясь с этими Условиями, вы даете согласие Сервису на доступ, использование, обработку и хранение результатов любых проверок или контролей идентификации, которые могут быть сделаны.<br/>
4.6 Мы оставляем за собой право отклонить вашу Анкету на членство без обоснования причин.<br/>
4.7 Вы имеете право открыть только один счет для ставок в Сервисе. Если мы обнаружим, что у вас есть более одного счета с Сервисе,  мы оставляем за собой право, по своему собственному усмотрению,  заморозить или удалить все учетные записи, которые у вас есть в Сервисе, или объединить их как один общий счет или прекратить действие настоящего Соглашения.<br/>
4.8 Ваше «имя пользователя»  не должно содержать оскорбительные или ненормативные слова. Если на усмотрение Сервиса, ваше имя пользователя считается оскорбительным или неуместным вам будет предложено изменить его. Если вы отказываете в этой просьбе, СЕРВИС оставляет за собой право на заморозку вашего аккаунта.<br/>
5. Размещение ставок и прием ставок<br/>
5.1 Мы принимаем ставки через мобильное приложение. Все ставки подчиняются соответствующим Правилам ставок, применимых к каждому мероприятию или игре, согласно настоящим Условиями.<br/>
Если происходит отключение Сервиса по техническим причинам после того, как вы внесли ставку, но до принятия решения или начала игры, или использования ставки, то ставка возвращается на ваш депозит.<br/>
Если отключение происходит после того, как результат ставки может быть известен, то есть после принятия решения, начала игры, то ставка будет считаться действительной.<br/>
Если отключение происходит в любой игре, где могут участвовать несколько игроков, где игроки играют друг с другом, применяются те же правила, что в пункте 1 и 2 выше.<br/>
5.2 Мы принимаем только ставки, сделанные через Интернет с использованием устройств в соответствии с настоящими Правилами и Условиями. Ставки не принимаются ни в какой другой форме (по почте ли, электронной почте, факсу или иным образом), и если будут получены, будут недействительными независимо от результата. Все ставки, сделанные в Сервисе, рассматриваются и считаются размещенными, полученными и принятыми в Панаме.  <br/>
5.3 Вы должны гарантировать, что лица, не достигшие 12 лет,  не допускаются и лишены возможности иметь доступ к приложению и вашей информации и / или вашим данным кредитной / дебетовой карты, с тем, чтобы они могли играть на реальные деньги в Сервисе.<br/>
- мы будем предполагать, что вы выполнили положениями настоящего пункта, и что все игры на реальные деньги с вашим аккаунтом осуществлены вами самостоятельно а не лицами, не достигшими 12 лет.<br/>
- если вы  знаете, что лица, не достигшие  12 лет принимали участие в игре  с вашей учетной записи, вы должны сообщить   местной полиции и получить письменный отчет от них и копию дела, присвоенный номер файла или эквивалент, а затем передать нам, мы сообщим то же самое нашему регулятору и разрешим этот вопрос в соответствии с законодательством Панамы.<br/>
5.4  Это ваша личная ответственность, чтобы обеспечить, что детали Ваших ставок правильны. С учетом положений пунктов 5.1, 5.2, 5.3, 5.9 и 5.10 здесь когда-то ваши ставки были размещены, и их принятие подтверждено нами, они не могут быть отменены, отменено или изменено, и считается, чтобы быть убедительным доказательством в отношении ставок, которые Вы поместили.<br/>
5.5 Пожалуйста, обратите внимание, что все ставки регистрируются и записываются в базу данных журнала транзакций. Журналы транзакций Сервиса являются убедительным доказательством всех сделок и времени, при котором операции, размещенных.<br/>
5.6 С учетом положений пунктов 5.1, 5.9 и 5.10, ставки считаются действительными и принятыми СЕРВИСОМ, когда идентификатор сделки отображается на экране и должным образом и отражается в Вашем журнале транзакций.<br/>
5.9 Ставки не допускается после начала мероприятия и / или где результат события известен на момент размещения ставки. В соответствии с пунктом 5.1 выше, если любое событие ошибочно оставили открытым для ставок после начала мероприятия и / или там, где исход события известен, СЕРВИС оставляет за собой право отклонить или отменить такие ставки, сделанные не через ваш аккаунт, все ставки или любые их части должны быть сделаны на усмотрение Сервиса. Для избежания сомнений, это положение не запрещает ставки "в игре" или "в перерыве".<br/>
5.10 В отношении любой ставки и транзакций, связанных с ним, решение Сервисе является окончательным и решающим.<br/>
5.11 Вы признаете, что наш генератор случайных чисел ("ГСЧ") определяет процесс перетасовки и раздачи видео, исход игры и других случайно генерируемых событий, которые являются частью наших услуг и что Вы согласны принять такую перетасовку   и результаты игр в приложении и других событий, генерируемых случайным образом, выполненных ГСЧ, являются окончательными и не подлежит обсуждению.  <br/>
5.12  Все спортивные ставки и ставки в мгновенных играх, предоставленных компанией 1CLICKGAIN CORP, размещаются и принимаются в соответствии с законодательством Панамы.  <br/>
5.13 В обязанности клиента входит соблюдение законов страны его проживания в отношении ставок. Вы обязуетесь проконсультироваться у независимого эксперта прежде чем размещать любые ставки в 1CLICKGAIN и убедиться в том, что ваша игра полностью легальна. Азартные игры через интернет могут быть запрещены в юрисдикции, в которой вы находитесь, и в таком случае вам запрещено использовать вашу платежную карту для осуществления платежных транзакций.<br/>
5.14 Руководство оставляет за собой право изменять, дополнять или вносить поправки в данные правила как сочтёт разумным. Все клиенты получат предварительное уведомление до вступления в силу любых изменений в правилах, и должны будут подтвердить свое согласие с правилами.<br/>
5.15 Считается, что клиент принимает данные правила, когда он открывает счёт или заходит в свой игровой счет, размещает ставки на 1CLICKGAIN, пополняет игровой счет или делает заявку на вывод средств с игрового счета или связывается со службой поддержки клиентов. В случае отсутствия таких действий, считается, что клиент принимает данные правила начиная с 5 мая 2016 года. При открытии учетной записи клиент лично должен предоставить все сведения, указав их правильно и в полном объеме во всех отношениях. Регистрация игрового счета должна быть сделана непосредственно тем человеком, на чье имя открывается этот счет.<br/>
5.16 Любая информация, предоставленная работниками Службы Поддержки, служит исключительно информационным целям и не является предметом вышеупомянутых Правил 1clickgain. Несмотря на то, что мы будем предпринимать все усилия к тому, чтобы предоставляемая клиентам информация была точной, сам клиент несет ответственность за понимание ставок, которые он размещает, а также правил и условий.<br/>
6. Урегулирование сделок<br/>
6.1 При использовании кредитной или дебетовой карты, имя держателя карты должно быть таким же, как  «имя пользователя» 1clickgain. СЕРВИС оставляет за собой право не принимать оплату и транзакции при наличии расхождений между именем держателя карты и Именем пользователя.<br/>
6.2 Вы несете полную ответственность за оплату всех сумм, причитающихся Сервису / или других игрокам (в зависимости от обстоятельств). В отношении любого платежа, произведенного вами, вы соглашаетесь, что вы не будете делать или обеспечивать исполнение любых возвратов и / или отказываться или отменять любой такой платеж, и что вы   возместите Сервису   любые возвраты, отказы или отмены платежей, которые вы осуществите вы делаете, а также любые убытки и расходы, понесенные Сервисом как следствие. Сервис может, по своему усмотрению, прекратить предоставлять услуги или платежи некоторым пользователям или пользователям, осуществляющим оплату определенными кредитными или дебетовыми картами.<br/>
6.3 Ваш выигрыш не включает сумму ставки.<br/>
6.4 Все ваши выигрыши будут зачислены на ваш счет. Сервис не в коей мере не несет ответственности за любой фонд / выигрыш, зачисленный на счет по ошибке, и Сервис оставляет за собой право аннулировать любые сделки с такими средствами, как во время или ретроспективно. Если средства зачислены на ваш счет по ошибке —  ваша Обязанность без промедления  сообщить об этом Сервису.<br/>
6.5 Оплата налогов, сборов, пошлин или сборов, которые могут применяться к вашим выигрышам в соответствии с любыми применимыми законами, является исключительно вашей ответственностью.<br/>
6.6 Средства, выплачиваемые Сервисом, не проводятся в тайне или в скрытой манере<br/>
7. Права, обязанности и ответственность пользователя<br/>
Пользователь должен ознакомиться и соблюдать Пользовательское соглашение и другие условия, связанные с ним, размещённые в Приложении и установленные 1CLICKGAIN (например, Руководство по отчетности и противодействию нарушениям и Политики конфиденциальности). Пользователь может выбирать, кто видит его контент и действия<br/>
Пользователь может использовать приложение только в рамках функционала, предусмотренного им.<br/>
Пользователь не может создавать или добавлять контент, содержащий насилие, мошенничество, эротику, обнаженные части тела, частично обнаженные части тела, дискриминацию, незаконные действия, нарушения закона, пропаганду насилия, порнографию или сексуально провоцирующие изображения.<br/>
Пользователь несет ответственность за любую деятельность, которая происходит через его / ее аккаунт и обязуется не продавать, передавать, лицензировать или передавать права на аккаунт, имя пользователя, или любой другой аккаунт. Пользователю запрещается и он не должен создавать никаких аккаунтов  ни для кого, кроме самого себя. Пользователь заявляет, что вся информация, предоставленная 1CLICKGAIN при регистрации и во всех других случаях,  будет правдивой, точной, актуальной и полной, и Пользователь обязуется обновить его / ее информацию, необходимую для поддержания его идентичности.<br/>
Пользователь не должен запрашивать, собирать или использовать учетные данные других пользователей в приложении.<br/>
Пользователь несет ответственность за сохранение его / ее пароля. Пользователь не должен порочить, хулиганить, злоупотреблять, беспокоить, угрожать, мошенничать или запугивать других людей или организации и не должны публиковать личную или конфиденциальную информацию с помощью приложения, в том числе, информацию о кредитных картах любого другого человека, пользователя или информацию социального страхования или альтернативных национальных идентификационных номеров, непубличные телефоны или непубличные электронные адреса.<br/>
Пользователь не может использовать приложение для любой незаконной или несанкционированной цели. Пользователь должен соблюдать все законы, правила и инструкции (федеральные, государственные, местные и провинциальные), применимые к использованию приложения, сервиса и контента, в том числе, но не ограничиваясь, законами об авторских правах.<br/>
Пользователь должен воздерживаться от использования различных технических уязвимостей приложения (например, "ошибок", "дыр\", и т.д.) и в случае, если они выявлены, пользователь должен уведомить 1CLICKGAIN, как можно скорее, через приложение, по электронной почте или через Аккаунт.<br/>
Пользователь не должен создавать или представить нежелательную электронную почту, комментарии, лайки или другие формы коммерческой или избыточной повторяющейся информации ("спам") через приложение. Независимо от характера и контента таких сообщений, если такие виды коммуникаций не явно разрешены и предусмотрены функционалом приложения, они не допускаются.<br/>
Пользователь не должен использовать свои доменные имена или веб-адреса в рекламных или иных личных целях в приложении без предварительного письменного согласия с 1CLICKGAIN.<br/>
Пользователь не должен вмешиваться или нарушать работу серверов или сетей, связанных с Сервисом, в том числе путем передачи любых червей, вирусов, программ-шпионов, вредоносных программ или любых других кодов разрушительной природы, а также адаптировать или декомпилировать программное обеспечение или уклоняться от технических средств защиты. Пользователь не может добавлять Контент, или код, или иным образом изменять или вмешиваться в пути любой страницы приложения, которые отображаются в браузере пользователя или устройстве.<br/>
Пользователь не должен создавать учетные записи используя несанкционированные средства, в том числе, но не ограничиваясь этим списком, с помощью автоматизированного устройства, скриптов, ботов, спайдеров, краулеров или скраперов.<br/>
Пользователь не должен пытаться ограничивать других Пользователей в использовании Сервиса и не должны поощрять или облегчать нарушения этого Пользовательского соглашения или любых других условий 1CLICKGAIN.<br/>
Пользователь должен воздерживаться от повторного размещения сообщений и другого контента на страницах приложения, если такое размещение делает использование / посещаемость соответствующих страницах приложения обременительным или не соответствуют целям соответствующих страницах, в частности, если опубликованное сообщение не несет никакой новой полезной информации по сравнению с тем, что уже было сделано, это будет расценено, как "флуд".<br/>
Пользователь обязуется не использовать приложения для рекламных целей (например, постоянно отправлять сообщения о каком-либо продукте или услуге в целях их продвижения). Если 1CLICKGAIN становится известно о рекламных материалах, размещенных Пользователем (ссылка, комментарий или другой контент пользователя), 1CLICKGAIN может, по своему собственному усмотрению блокировать (сделать недоступным для третьих лиц) или удалить такой Контент; а в случае неоднократного нарушения Пользователем - блокировать или удалить его / ее аккаунт.<br/>
Пользователю запрещается crawling, scraping, caching или иным другим способом получать доступ к Контенту в приложение с помощью автоматизированных средств, в том числе, но не ограничиваясь этим списком, к профилям и фотографиям пользователей (за исключением случаев, которые могут быть результатом стандартных протоколов поисковой или иной технологии, используемых при поисковом движке и с согласия 1CLICKGAIN).<br/>
Пользователь должен определить средства использования программы в рамках возможностей, предоставляемых в ней настоящим Пользовательским соглашением и функционалом приложения. Пользователь несет полную ответственность за размещенных контента человека, чьи права были нарушены, а также за нарушение настоящего Пользовательского соглашения.<br/>
Пользователь несет ответственность за все расходы, которые он / она понесли во время использования аккаунта. <br/>
При размещении Контента Пользователь должен действовать разумно, законно и добросовестно, и 1CLICKGAIN будет опираться на веру в такое разумное, законное поведения Пользователя.<br/>
Пользователь несет полную ответственность за взаимодействие с другими Пользователями, Сервиса, будь то онлайн или в автономном режиме. 1CLICKGAIN не несет ответственности за поведение любого пользователя.<br/>
Пользователь несет полную ответственность за свои действия и за действия любых третьих лиц, получающих доступ к его / ее аккаунту (потери, кражи, утечки пароля, а также взлома аккаунта). В случае каких-либо сомнений, пользователь должен изменить пароль аккаунта.<br/>
8. Права, обязанности и ответственность 1CLICKGAIN<br/>
1CLICKGAIN не контролирует (рассматривает, утверждает или одобряет) Контент Пользователя за исключением случаев, предусмотренных явно. 1CLICKGAIN не контролирует Контент пользователя (страницы приложения, которые пользователь имеет право изменять и / или которые он / она изменяет).  1CLICKGAIN обеспечивает Пользователю техническую возможность для создания страниц в приложении (в том числе заявок и анкет). Если контент нарушает Пользовательское соглашение, пользователь может нести юридическую ответственность за опубликованный Контент.<br/>
1CLICKGAIN не инициирует публикацию контента. Публикация Контента Пользователем осуществляется по его / ее инициативе и в силу автоматизированных технических средств и программного обеспечения 1CLICKGAIN. 1CLICKGAIN не контролирует какие-либо конкретные публикации, их содержание, выбор или одобрение конечных пользователей контента (посетителей приложения).<br/>
1CLICKGAIN не изменяет контент, размещенный Пользователем. Возможные технические изменения не затрагивают суть.<br/>
1CLICKGAIN может использовать технические средства для отслеживания и исключения (путем удаления или скрытия) публикации и комментариев, обратной связи, сообщений и другого контента одного и того же лица с разных аккаунтов, а также группой аффилированных лиц, когда такое размещение не соответствует цели аккаунта и создает эффект, который бы не существовал в ходе нормальной работы приложения. 1CLICKGAIN имеет право принять меры, чтобы остановить такую деятельность, также в случае получения жалобы от третьего лица. В обоих указанных случаях решение принимается по собственному усмотрению 1CLICKGAIN, и Пользователь обязан принять его, независимо от его / ее собственной оценки указанных обстоятельств, а также независимо от других обстоятельств.<br/>
1CLICKGAIN оставляет за собой право в одностороннем порядке расторгнуть или блокировать\скрыть (сделать недоступным для третьих лиц) любой Контент, приостановить или ограничить доступ Пользователя к аккаунту, в одностороннем порядке отказаться от услуг и исполнения Пользовательского соглашения, ограничивать или блокировать доступ пользователя к Приложению, если 1CLICKGAIN становится известно (в том числе от третьих лиц), что использование Приложения  пользователем нарушает или способствует нарушение прав 1CLICKGAIN, третьих лиц (в том числе других пользователей и / или посетителей Приложения), положение любого внутреннего и международного законодательства или права. В любом случае, 1CLICKGAIN не изменяет Контент.<br/>
1CLICKGAIN может предпринять меры, описанные в предыдущем пункте, без предварительного уведомления Пользователя, если сочтет немедленное реагирование на нарушения необходимым. Пользователь принимает такие меры, независимо от их оценки.<br/>
Несмотря на то, 1CLICKGAIN не претендует на владение любым Контентом, размещенным через Приложение, 1CLICKGAIN может использовать контент, в том числе опубликованный пользовательский контент (например, фотографии, видео), используя неисключительные права, безвозмездную передачу прав, сублицензирование (1CLICKGAIN может передать или сублицензировать право использовать контент третьим лицам)  и регистрация в приложении пользователя обеспечивает его / ее безусловное согласие на такое сублицензирование, получение   1CLICKGAIN международной лицензии с помощью любых средств без ограничения территории в течение всего срока использования приложения, в том числе анонимно (без указания имени пользователя и правообладателей). 1CLICKGAIN не должен предоставлять какие-либо отчеты пользователю об использовании Контента.<br/>
1CLICKGAIN может скопировать контент, размещенный Пользователем в Приложении.<br/>
1CLICKGAIN оставляет за собой право изменить или прекратить обслуживание пользователя и его доступ в приложение (порядок предоставления доступа к приложению, алгоритм работы приложения, структуры приложений), по любой причине, без предварительного уведомления в любое время и без ответственности перед Пользователем. В случае изменения Приложения способ отображения контента (но не самого контента) в Приложении может измениться. В случае прекращения предоставления услуг  аккаунт пользователя не будет больше доступен (например, третьи лица не смогут перейти на его страницу аккаунта и увидеть другие страницы пользователя) но  контент и данные могут сохраняться и отображаться в Сервисе (например, если Контент был задействован в другом контенте или в рамках сотворчества с контентом другого пользователя).<br/>
1CLICKGAIN оставляет за собой право отказать в доступе к Сервису любому человеку по любой причине в любое время.<br/>
1CLICKGAIN оставляет за собой право конфискации имени любого пользователя по любой причине.<br/>
1CLICKGAIN может, но не обязан, удалять, редактировать, блокировать, и / или контролировать контент или Учетные записи, содержащие контент, который, как определяет 1CLICKGAIN по своему усмотрению, нарушает это Пользовательское соглашение.<br/>
Приложение также включает в себя контент третьих сторон, который 1CLICKGAIN не контролирует, сохраняет или одобряет. Функционалом Приложения может также допускаться взаимодействие между приложением и веб-сайтами третьих лиц или сервисов, в том числе приложений, которые подключаются к приложению или профилю пользователя в Приложение через веб-сайты третьей стороны или сервисы. 1CLICKGAIN не управляет этими сторонними веб-сервисами или любым их контентом. Пользователь явно признает и соглашается с тем, что это 1CLICKGAIN ни в коем случае несет ответственность за любые такие сторонние услуги или сервисы. Переписка и бизнес-сделка Пользователя с третьими сторонами, произведенные через приложение, ведутся исключительно между Пользователем и третьей стороной.<br/>
Подключая сторонние приложения, Пользователь признает  понимание того, что это может привести к доступу к его / ее персональной информации, которая может быть публично раскрыта и связана с личностью пользователя, даже если 1CLICKGAIN не сам предоставляет эту информацию, и что использование  приложений третьей  стороны он осуществляет на свой страх и риск. Пользователь обязуется не подвергать 1CLICKGAIN опасности, связанной со сторонними приложениями.<br/>
1CLICKGAIN можете публиковать рекламу  в Приложении  в сочетании с контентом пользователя. Порядок, форма и объем такой рекламы  могут быть изменены без специального уведомления Пользователя.<br/>
9. Заверения и гарантии Пользователя<br/>
Пользователь заявляет и гарантирует, что:<br/>
- имеет законное право и способность принять это Пользовательское соглашение в рамках его / ее юрисдикции;<br/>
- информация, загруженная через приложение, в том числе персональные данные (указывается при регистрации или после их обновление) верна и подлинна;<br/>
- пользовательский контент, публикуемый через приложение или иным образом, обладает всеми правами и лицензиями, указанными в настоящем Пользовательском соглашении, что Контент не нарушает права третьих лиц и любые применимые правила (федеральные, государственные, местные, провинциальные или международные);<br/>
- размещение и использование Контента через приложение не нарушает или присваивает права третьих лиц, в том числе, без ограничения, права на конфиденциальность, гласность, авторские права, торговую марку и / или другую интеллектуальную собственность;<br/>
- Пользователь заплатил или должен оплатить все гонорары, сборы и любые другие деньги в связи с какой-либо третьей стороной, которая обладает правами на Контент, размещенный на Сайте или через приложение;<br/>
- Пользователь осознает, что третьи лица получают доступ к размещенному Контенту и имеют возможности взаимодействия с ним (например, комментируя);<br/>
Пользователь является единственным, имеющим доступ к его / ее аккаунту,  и любые операции, проводимые через аккаунт, считаются сделанными пользователем.<br/>
10. Изменение и прекращение обслуживания<br/>
1CLICKGAIN оставляет за собой право, по своему собственному усмотрению, в одностороннем порядке изменять настоящее Пользовательское соглашение ("Обновление соглашения») время от времени. 1CLICKGAIN должен сообщить о таких изменениях через приложение и / или через аккаунт. 1CLICKGAIN может, хотя не обязан уведомить пользователя об изменении в условиях, включённых в Пользовательское соглашение путем ссылки. Если иное не установлено обновленным соглашением или уведомлением о внесении изменений в Пользовательское соглашение, обновленные Правила вступают в силу со дня, следующего за днем их принятия; Поправки, устанавливающие новые требования, вступают в силу в течение 3 (трех) календарных дней со дня их принятия. Если Пользователь не отказался от использования Сервиса в соответствии с настоящим разделом до даты вступления в силу обновленного соглашения, считается, что Пользователь полностью и безоговорочно согласился с обновленным соглашением.<br/>
1CLICKGAIN может в одностороннем порядке отказаться от исполнения услуг, если Пользователь нарушил какой-либо из положений Пользовательского соглашения или иным образом создает риск или возможно нарушает правовую защищенность 1CLICKGAIN, или если его / ее действия противоречат установленным правилам использования приложения, которые не соответствуют общим правилам поведения в приложении или противоречит идее, концепции или «духу» Приложения. Соглашение будет считаться расторгнутым вне суда с момента прекращения доступа Пользователя к его / ее аккаунту и отправки уведомления о прекращении службы по электронной почте пользователя (если адрес электронной почты был предоставлен). При этом 1CLICKGAIN имеет право приостановить или заморозить аккаунт пользователя (в той степени, в какой она сочтет это целесообразным).<br/>
1CLICKGAIN может в любое время в одностороннем порядке и без обсуждения полностью или частично прекратить предоставление услуг Сервиса и уведомить пользователя в течение 3 (трех) календарных дней через аккаунт в Приложении или по электронной почте (при условии, что соответствующий адрес электронной почты указан в аккаунте Пользователя).<br/>
Пользователь может в любой момент в одностороннем порядке полностью или частично прекратить пользоваться Сервисом, путем направления уведомления 1CLICKGAIN по электронной почте (при условии, что соответствующий адрес электронной почты указывается в приложении). Пользователь может также прекратить пользоваться Сервисом путем направления соответствующего запроса через его / ее аккаунт, если Приложение предусматривает такую техническую возможность.<br/>
Если иное не предусмотрено в настоящем документе или по соглашению между Пользователем и 1CLICKGAIN, предоставление доступа к Сервису прекращается в момент прекращения действия аккаунта Пользователя, но будет продолжаться в объеме, предусмотренном в настоящем документе (например, в отношении положений о защите данных) или быть доступным в приложении или в других местах  (например, разрешение на использование Контента Пользователя, предоставленного Пользователем в соответствии и в силу настоящего Пользовательского соглашения).<br/>
При расторжении отношений, 1CLICKGAIN, как правило,  должны удалить аккаунт пользователя и всю информацию о пользователе (в том числе его / ее анкету / страницы в приложении), но сохранить Контент, размещенный Пользователем (комментарии, сообщения, и т.д.). Если пользователь желает удалить этот Контент,  он / она должен сделать это с помощью его / ее аккаунта  до отправки запроса о прекращения предоставлений услуг Сервиса.<br/>
Если пользователь прекращает отношения с сервисом и заново регистрируется в течение 1 (одного) года после прекращения отношений в целях восстановления и исполнение обязательств Пользователя по настоящему Пользовательскому соглашению, считаются, что отношения не были прекращены. Сроки,  предусмотренные в настоящем Пользовательском соглашении не будет прерваны,  права, предоставленные до прекращения продолжают иметь силу, любые другие положения Пользовательского соглашения, которые используются, чтобы связать или ограничить пользователя, так или иначе, не считаются расторгнутым.<br/>
11. Интеллектуальная Собственность<br/>
Приложение содержит контент, принадлежащий или лицензированный 1CLICKGAIN ("Контент 1CLICKGAIN"). Контент 1CLICKGAIN защищен авторским правом, торговой маркой, патентом, коммерческой тайной и другими законами, и в отношениях между Пользователем и 1CLICKGAIN, 1CLICKGAIN владеет и сохраняет все права на контент 1CLICKGAIN и его применение. Пользователь не может удалять, изменять или скрывать уведомления об авторских правах, товарных знаках, знаках обслуживания или другие права собственности, включенные в систему или сопровождающие Контент 1CLICKGAIN, и пользователь не может воспроизводить, изменять, адаптировать, создавать производные работы, основанные на нем, публиковать, отображать, публиковать, распространять, передавать, продавать, лицензировать или иным образом использовать Контент 1CLICKGAIN.<br/>
1CLICKGAIN не предоставляет или передает Пользователям любые авторские права или смежные права  (на программное обеспечение, дизайн или какие-либо другие объекты, входящие в состав приложения, а также присутствующие в доменном имени 1CLICKGAIN); 1CLICKGAIN не передает какие-либо материальные носители или права на них, права на товарные знаки или другую идентификацию средств, а также 1CLICKGAIN не предоставляет каких-либо других прав на его интеллектуальную собственность.<br/>
Пользователь не получает каких-либо прав на материалы, созданные в ходе визитов в Приложение, использование услуг 1CLICKGAIN  и / или использования аккаунта (например, после публикации контента), поскольку такие материалы являются результатом публикации, генерируемой в итоге эксплуатации программного обеспечения, принадлежащего 1CLICKGAIN.<br/>
1CLICKGAIN не может быть скопирован, дублирован или использовать в целом или по частям, без предварительного письменного разрешения 1CLICKGAIN. Кроме того, все заголовки страниц, графика, значки кнопок и скрипты являются копирайтом, товарными знаками и / или и интеллектуальной собственностью 1CLICKGAIN, и не может быть скопированы, дублированы или использованы в целом или по частям, без предварительного письменного разрешения от 1CLICKGAIN.<br/>
12. Защита данных<br/>
Пользователь понимает и соглашается с тем, что все личные данные, предоставленные 1CLICKGAIN через приложение, необходимы для функционирования приложений и надлежащего исполнения Пользовательского соглашения.  Операции с персональными данными, включая сбор, систематизацию, накопление, хранение, обновление, изменение, распределение, предоставление, публикация для общественности   персональных данных,  являются сущностью и целью Приложения.  Без обработки персональных данных невозможно создать социальную сеть - сообщество и базу данных людей, авторов, пользователей, открытых для общения, получения и обмена информацией, опытом.<br/>
Способы обработки персональных данных, как правило, включают в себя получение личных данных через формы, заполняемые пользователем внутри приложения, и запись полученных данных в базу данных 1CLICKGAIN. Такие данные могут быть собраны третьими сторонами в ходе размещения комментариев на страницах в Приложении.<br/>
1CLICKGAIN имеет право собирать данные пользователя из открытых источников и / или получать от третьих лиц с целью проверки точности данных, предоставленных пользователем.<br/>
Пользователь понимает и соглашается с тем, что все личные данные, отмеченные 1CLICKGAIN в качестве обязательных, необходимы для выполнения Пользовательского соглашения 1CLICKGAIN. Любая дополнительная информация, размещенная Пользователем в приложении, должна  быть опубликована самим Пользователем с целью сделать ее общедоступной в степени, определяемой самим Пользователем и в пределах, разрешенных функционалом приложения. Объем опубликованной информации определяется пользователем в пределах допустимых функционалом.<br/>
Пользователь понимает и соглашается с тем, что, если он / она публикует его / ее личные данные в открытом доступе (например, путем размещения в интернете, в том числе через приложения, социальные сети и т.д.), это соответствует его выбору доступа к информации в приложении и соответствует всем нормам для общедоступных персональных данных (даже если более строгий режим для тех же данных устанавливается в Пользовательском соглашении). Пользователь понимает, что в этом случае 1CLICKGAIN имеет право использовать для обработки его / ее личные данные в не меньшей степени, чем это разрешено законом третьим лицам.<br/>
Пользователь понимает, что, когда он / она обеспечивает доступ в приложении третьим лицам для оказания услуг по сбору статистики о Приложении (интернет счетчикам), собирается техническая информация об устройстве пользователя, через которое осуществляется доступ в приложение, в том числе: IP-адрес, местоположение устройства, информацию об операционной системе, интернет-браузере, разрешение экрана. Эта информация может быть использована 1CLICKGAIN для целей идентификации Пользователя в процессе пользования Приложением согласно Пользовательскому соглашению, а также для целей развития приложений и оптимизации Приложения для пользователя.<br/>
1CLICKGAIN обрабатывает персональные данные в соответствии с действующим законодательством и Пользовательским соглашением.<br/>
Для целей соблюдения Пользовательского соглашения личные данные пользователя будут обработаны 1CLICKGAIN в течение всего периода предоставления Сервиса и одного года после прекращения предоставления этих услуг (в случае, если Пользователь захочет - восстанавливает его / ее аккаунт). Пользователь понимает, что 1CLICKGAIN может удалить его / ее аккаунт, но может не удалить Контент, размещенный пользователем, который может содержать его / ее личные да. 1CLICKGAIN может по своему усмотрению прекратить обработку персональных данных Пользователя до указанного срока, уничтожив его аккаунт.<br/>
Пользователь может удалить некоторые из его / ее персональных данных через аккаунт. При этом, если благодаря представлению таких данных пользователю было предоставлены бонусы, преференции или дополнительные возможности, пользователь должен потерять права на них, и обязан возместить все убытки 1CLICKGAIN за понесенные расходы.<br/>
Пользователь понимает, что личные данные, предусмотренные в Пользовательском соглашении требуется для его соблюдения. Таким образом, в случае удаления Пользователем всех его / ее персональных данных или данных, обозначенных как обязательные (например, в виде анкеты в приложении), 1CLICKGAIN может отказаться от предоставления услуг Сервиса в одностороннем порядке. Заявка на удаление персональных данных должны быть написана Пользователем в письменной форме в офисе 1CLICKGAIN или может быть направлены в адрес 1CLICKGAIN при условии нотариального удостоверения подписи. Пользователь позволяет 1CLICKGAIN использовать контактную информацию, представленную им, для целей продвижения товаров, работ и услуг на рынке путем прямых контактов с Пользователем, в том числе с целью информирования пользователя о внесении изменений в приложение. Это разрешение может быть отозвано пользователем через его / ее аккаунт в Приложении, в порядке, установленном в нем.<br/>
1CLICKGAIN может использовать общедоступные персональные данные (в том числе данные, доступные третьим лицам через Приложения) в рекламных целях и в ходе других видов продвижения приложения и / или услуг 1CLICKGAIN.<br/>
1CLICKGAIN обязуется принимать решения на основании чисто автоматизированной обработки данных, исключая данные личного характера, но включая данные, которые могут нести правовые последствия в отношении Пользователя или иначе затрагивающие его / ее права и интересы, когда речь идет о предоставлении дополнительных прав / возможностей Пользователю (например, скидки на услуги Сервиса, дополнительный функционал в Приложении, розыгрыш призов в виде товаров и услуг и т.д.).<br/>
1CLICKGAIN может обрабатывать данные пользователя для статистических целей. В этом случае, однако, данные обезличены. Пользователь принимает и соглашается с тем, что 1CLICKGAIN может сделать его / ее данные публичными при их обезличивании (для статистических целей), а именно: без упоминания фамилии, имени и отчества и других данных Пользователя, которые могут послужить идентификацией личности.<br/>
1CLICKGAIN не несет ответственности за использование личных данных Пользователя другими лицами (в том числе, например, когда он находится в открытом доступе).<br/>
Пользователь не должен размещать персональных данных третьих сторон, если иное явно неразрешено законом. Как только производится любая операция по отношению к определенным персональным данным, которая больше не соответствует закону, Пользователь должен немедленно привести информацию, размещенную в Приложении, в соответствии с законом.<br/>
В случае внесения изменений в Пользовательское соглашение, относящихся к данным Пользователя, Пользователь должен привести его / ее данные в соответствие с новыми требованиями в течение 10 (десяти) рабочих дней, если не 1CLICKGAIN определит иной срок.<br/>
13. Неполадки и Конфиденциальность<br/>
Несмотря на намерение 1CLICKGAIN, чтобы приложение было доступно как можно дольше, будут случаи, когда услуги Сервиса могут быть прерваны, в том числе,  для планового обслуживания или модернизации, для аварийного ремонта, или из-за отказа телекоммуникационных связей и / или оборудования. Кроме того, 1CLICKGAIN оставляет за собой право удалить любой Контент по какой-либо причине, без предварительного уведомления. Контент удаленный из приложения может продолжать храниться 1CLICKGAIN, в том числе, без ограничения, в целях соблюдения определенных правовых обязательств, но не может быть извлечен без действительного ордера суда. Следовательно, 1CLICKGAIN призывает Пользователя хранить его / ее собственный резервную копию его / ее контента. 1CLICKGAIN не несет ответственности перед Пользователем за любые изменения, приостановку или прекращение работы Сервиса, или потерю любого контента. Пользователь также признает, что Интернет может быть предметом нарушения безопасности и публичного обнародования контента или другой информации и не может быть безопасным.<br/>
Любой контент считается не конфиденциальным и не имущественным, 1CLICKGAIN не несет ответственности за любое использование или публикацию в общественном доступе контента. Отношения пользователя с 1CLICKGAIN не конфиденциальны, не является отношением с доверенным лицом, или другим типом особых отношений, и решение пользователя представить любой Контент 1CLICKGAIN, не отличается от позиции, занимаемой представителями широкой общественности, в том числе в связи с Контентом. Контент не будет подвергаться каким-либо проверкам или процедурам проверки со стороны 1CLICKGAIN, и 1CLICKGAIN не несет ответственности за любое использование или публикацию любого контента пользователем.<br/>
14. Авторское право и другие нарушения IP<br/>
Пользователю рекомендуется сообщать о любых нарушениях авторских прав или других нарушения IP в 1CLICKGAIN любым способом, который он / она находит подходящим, чтобы 1CLICKGAIN имел возможность принять незамедлительные меры.<br/>
Если Пользователь нарушает права третьих лиц на интеллектуальную собственность, 1CLICKGAIN имеет право удалить учетную запись пользователя по своему усмотрению.<br/>
Отказ от гарантийных обязательств<br/>
СЕРВИС, ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЙ, КОНТЕНТ 1CLICKGAIN, ПРЕДОСТАВЛЯЕТСЯ НА УСЛОВИЯХ "КАК ЕСТЬ", "КАК ДОСТУПНО" И "СО ВСЕМИ ОШИБКАМИ" И ПОЛЬЗОВАТЕЛЬ НЕ МОЖЕТ ТРЕБОВАТЬ ИЛИ ОЖИДАТЬ ОТ ПРИЛОЖЕНИЯ НИЧЕГО БОЛЕЕ СВЕРХ ДАННОЙ ОБЛАСТИ СЕРВИСА. 1CLICKGAIN НЕ ГАРАНТИРУЕТ СОВМЕСТИМОСТИ ПРИЛОЖЕНИЯ С ДРУГИМИ ПРИЛОЖЕНИЯМИ И ОКАЗАНИЯ ИЛИ ТРЕБОВАНИЙ ТЕХНИЧЕСКОЙ ПОДДЕРЖКИ ПО ОТНОШЕНИЮ К ПРИЛОЖЕНИЮ. В ПОЛНОЙ МЕРЕ, ДОПУСТИМОЙ ЗАКОНОМ, НИ 1CLICKGAIN, НИ МАТЕРИНСКАЯ КОМПАНИЯ, НИ СОТРУДНИКИ, РУКОВОДИТЕЛИ, ДОЛЖНОСТНЫЕ ЛИЦА ИЛИ АГЕНТЫ (СОВМЕСТНО ИМЕНУЕМЫЕ «СТОРОНЫ» 1CLICKGAIN) НЕ МОГУТ ДЕЛАТЬ НИКАКИХ ЗАЯВЛЕНИЙ, ИЛИ ГАРАНТИЙ, ИЛИ ПОДТВЕРЖДЕНИЯ ЛЮБОГО РОДА, ЯВНЫХ ИЛИ ПОДРАЗУМЕВАЕМЫХ, СВЯЗАННЫХ С: (A) СЕРВИСОМ; (Б) КОНТЕНТОМ 1CLICKGAIN; (С) ПОЛЬЗОВАТЕЛЬСКИМ КОНТЕНТОМ; ИЛИ (D), БЕЗОПАСНОСТЬЮ, СВЯЗАННУЮ С ПЕРЕДАЧЕЙ ИНФОРМАЦИИ ЧЕРЕЗ 1CLICKGAIN ИЛИ ЧЕРЕЗ ПРИЛОЖЕНИЕ. КРОМЕ ТОГО, СТОРОНЫ ОТКАЗЫВАЮТСЯ ОТ ВСЕХ ГАРАНТИЙ, ЯВНЫХ ИЛИ ПОДРАЗУМЕВАЕМЫХ, ВКЛЮЧАЯ, НО НЕ ОГРАНИЧИВАЯСЬ, ГАРАНТЯМИ ПРИГОДНОСТИ ДЛЯ КОНКРЕТНЫХ ЦЕЛЕЙ, ПРАВ СОБСТВЕННОСТИ, ОБЫЧАЕВ, БЕСПРЕПЯТСТВЕННОЙ ТОРГОВЛИ, СИСТЕМЫ ИНТЕГРАЦИИ И СВОБОДЫ ОТ КОМПЬЮТЕРНЫХ ВИРУСОВ.<br/>
СТОРОНА 1CLICKGAIN НЕ ГАРАНТИРУЕТ, ЧТО СЕРВИС БУДЕТ СУЩЕСТВОВАТЬ БЕЗ ОШИБОК ИЛИ СБОЕВ; ЧТО ДЕФЕКТЫ БУДУТ ИСПРАВЛЕНЫ; ИЛИ ЧТО СЕРВИС ИЛИ СЕРВЕР, КОТОРЫЙ ДЕЛАЕТ СЕРВИС ДОСТУПНЫМ СВОБОДЕН ОТ ЛЮБЫХ ВРЕДНЫХ КОМПОНЕНТОВ, ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЯ, ВИРУСЫ. СТОРОНА 1CLICKGAIN НЕ ДЕЛАЕТ НИКАКИХ ЗАЯВЛЕНИЙ И ГАРАНТИЙ, ЧТО ИНФОРМАЦИЯ (ВКЛЮЧАЯ ЛЮБЫЕ ИНСТРУКЦИИ) В ПРИЛОЖЕНИИ БУДЕТ ТОЧНОЙ, ПОЛНОЙ ИЛИ ПОЛЕЗНОЙ. СТОРОНА 1CLICKGAIN НЕ ГАРАНТИРУЕТ, ЧТО ИСПОЛЬЗОВАНИЕ ПРИЛОЖЕНИЯ ЗАКОННО В КАКОЙ-ЛИБО ЮРИСДИКЦИИ, И СТОРОНА 1CLICKGAIN НАСТОЯЩИМ ОТКАЗЫВАЕТСЯ ОТ ТАКИХ ГАРАНТИЙ. НЕКОТОРЫЕ ЮРИСДИКЦИИ ОГРАНИЧИВАЮТ И НЕ ПОЗВОЛЯЮТ ОСУЩЕСТВИТЬ ЭТОТ ОТКАЗ ОТ ПОДРАЗУМЕВАЕМЫХ ИЛИ ДРУГИХ ГАРАНТИЙ, ВЫШЕОБОЗНАЧЕННЫЕ ОГРАНИЧЕНИЯ МОГУТ НЕ ПРИМЕНЯТЬСЯ К НЕКОТОРЫМ ПОЛЬЗОВАТЕЛЯМ, ЕСЛИ В ИХ ЮРИСДИКЦИИ ЭТОТ ЗАКОН НЕ ПРИМЕНИМ ДЛЯ ПОЛЬЗОВАТЕЛЯ И НАСТОЯЩЕГО ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ.<br/>
СТОРОНА 1CLICKGAIN НЕ НЕСЕТ ОТВЕСТВЕННОСТИ ЗА КОНТЕНТ И ОТКАЗЫВАЕТСЯ ОТ ЛЮБОЙ ОТВЕТСТВЕННОСТИ ПЕРЕД ЛЮБЫМ ЛИЦОМ ИЛИ ОРГАНИЗАЦИЕЙ ЗА ЛЮБОЙ УШЕРБ, ПОВРЕЖДЕНИЕ (КАК ФАКТИЧЕСКИХ, ТАК КОСВЕННЫЕ, ШТРАФНЫЕ ИЛИ ПРОЧИЕ), ТРАВМЫ, ПРЕТЕНЗИИ, ОБЯЗАТЕЛЬСТВА ИЛИ ДРУГИЕ ВИДЫ УЩЕРБА ЛЮБОГО ВИДА ИЛИ ХАРАКТЕРА, ОСНОВЫВАННЫЕ НА РЕЗУЛЬТАТЕ ПУБЛИКАЦИИ ЛЮБОГО КОНТЕНТА.<br/>
Ограничение ответственности.  Отказ<br/>
1CLICKGAIN несет ответственность только за умышленные неправомерные действия, имеющие целью нарушение своих обязательств по настоящему Договору.<br/>
НИ ПРИ КАКИХ ОБСТОЯТЕЛЬСТВАХ СТОРОНА 1CLICKGAIN НЕ НЕСЕТ ОТВЕТСТВЕННОСТИ ЗА КАКОЙ-ЛИБО УЩЕРБ ИЛИ УБЫТКИ ЛЮБОГО РОДА (ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЙ, ЗА ЛЮБЫЕ ПРЯМЫЕ, КОСВЕННЫЕ, ЭКОНОМИЧЕСКИЕ, ШТРАФНЫЕ, ОСОБЫЕ, ШТРАФНЫЕ, СЛУЧАЙНЫЕ ИЛИ КОСВЕННЫЕ УБЫТКИ ИЛИ УЩЕРБЫ), КОТОРЫЕ ПРЯМО ИЛИ КОСВЕННО СВЯЗАНЫ С: (A) СЕРВИСОМ; (Б) ПРИЛОЖЕНИЕМ ; (С) КОНТЕНТОМ 1CLICKGAIN; (D), ПОЛЬЗОВАТЕЛЬСКИМ КОНТЕНТОМ; (Е) НЕВОЗМОЖНОСТЬЮ ИСПОЛЬЗОВАНИЯ ИЛИ ВЫПОЛНЕНИЕ ОБСЛУЖИВАНИЯ ПРИЛОЖЕНИЯ; (F) ЛЮБЫМ ДЕЙСТВИЕМ, ПРЕДПРИНЯТЫМ В СВЯЗИ С РАССЛЕДОВАНИЕМ ДЕЙСТВИЙ СТОРОНЫ 1CLICKGAIN, ИЛИ ПРАВООХРАНИТЕЛЬНЫМИ ОРГАНАМИ В ОТНОШЕНИИ ИСПОЛЬЗОВАНИЯ ПРИЛОЖЕНИЯ / СЕРВИСА; (G), ЛЮБЫМ ДЕЙСТВИЕМ, ПРЕДПРИНЯТЫМ В СВЯЗИ С НАРУШЕНИЕМ АВТОРСКИХ ПРАВ ИЛИ ДРУГИХ ПРАВ ВЛАДЕЛЬЦЕВ ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ; (Н) ЛЮБЫМИ ОШИБКАМИ ИЛИ УПУЩЕНИЯМИ В ОПЕРАЦИЯХ ПРИЛОЖЕНИЯ; ИЛИ (Z) ЛЮБЫМ ПОВРЕЖДЕНИЕМ ЛЮБОГО КОМПЬЮТЕРА ПОЛЬЗОВАТЕЛЯ, МОБИЛЬНОГО УСТРОЙСТВА ИЛИ ДРУГОГО ОБОРУДОВАНИЯ ИЛИ ТЕХНОЛОГИИ, ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЙ, УЩЕРБ ОТ ЛЮБОГО НАРУШЕНИЯ БЕЗОПАСНОСТИ ИЛИ ДЕЙСТВИЯ ЛЮБОГО ВИРУСА, ОШИБКИ, ПОДДЕЛКИ, МОШЕННИЧЕСТВА, УПУЩЕНИЯ, ПРЕРЫВАНИЯ, ДЕФЕКТА, ЗАДЕРЖКИ РАБОТЫ, СБОЯ КОМПЬЮТЕРНОЙ ЛИНИИ ИЛИ СБОЯ СЕТИ, ИЛИ ЛЮБОЙ ДРУГОГО ТЕХНИЧЕСКОГО СБОЯ, ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЙ, УЩЕРБ ОТ ПОТЕРИ ПРИБЫЛИ, ПОТЕРИ РЕПУТАЦИИ, ПОТЕРИ ДАННЫХ, ПРЕКРАЩЕНИЕ РАБОТЫ, ТОЧНОСТЬ РЕЗУЛЬТАТОВ, ИЛИ ОТКАЗ КОМПЬЮТЕРА ИЛИ ЕГО НЕИСПРАВНОСТЬ, ДАЖЕ ЕСЛИ ОНИ ПРЕДСКАЗУЕМЫ, ДАЖЕ ЕСЛИ СТОРОНЕ 1CLICKGAIN БЫЛО ИЗВЕСТНО ИЛИ ДОЛЖНО БЫЛО ИЗВЕСТНО О ВОЗМОЖНОСТИ ТАКОГО УЩЕРБА, НЕЗАВИСИМО ОТ ДЕЙСТВИЯ ДОГОВОРА, ХАЛАТНОСТИ, ПРЯМОЙ ОТВЕТСТВЕННОСТИ ИЛИ ПРАВОНАРУШЕНИЯ (ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЙ, БУДЬ ТО ПО ПРИЧИНЕ ПОЛНОЙ ИЛИ ЧАСТИНОЙ НЕОСТОРОЖНОСТИ, СТИХИЙНЫХ БЕДСТВИЙ, ТЕЛЕКОММУНИКАЦИОННЫХ ПОМЕХ, ИЛИ КРАЖИ, ИЛИ УНИЧТОЖЕНИЯ СЕРВИСА). НИ В КОЕМ СЛУЧАЕ СТОРОНА 1CLICKGAIN НЕ БУДЕТ НЕСТИ ОТВЕТСТВЕННОСТИ ПЕРЕД КЕМ-ЛИБО ЗА ПОТЕРИ, УЩЕРБ ИЛИ ВРЕД, ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЯ, СМЕРТЬ ИЛИ ТРАВМЫ. В СЛУЧАЕ В СООТВЕТСТВИИ С ЗАКОНОМ ЮРИСДИКЦИИ ПОЛЬЗОВАТЕЛЯ ИСКЛЮЧЕНИЕ ИЛИ ОГРАНИЧЕНИЯ СЛУЧАЙНОГО, ИЛИ КОСВЕННГО УЩЕРБА НЕ ДОПУСКАЕТСЯ, НИ В КОЕМ СЛУЧАЕ ОБЩАЯ ОТВЕТСТВЕННОСТЬ СТОРОНЫ 1CLICKGAIN ЗА ЛЮБОЙ УЩЕРБ, УБЫТКИ, ПРИЧИНЫ ИЛИ ДЕЙСТВИЯ НЕ МОЖЕТ ПРЕВЫШАТЬ ДВУХСОТ ДОЛЛАРОВ США ($ 200.00) ИЛИ ЭКВИВАЛЕНТА В ЛЮБОЙ ДРУГОЙ ВАЛЮТЕ.<br/>
ПОЛЬЗОВАТЕЛЬ СОГЛАШАЕТСЯ, ЧТО В СЛУЧАЕ ЕСЛИ ОН / ОНА НЕСЕТ КАКОЙ-ЛИБО УЩЕРБ, УБЫТКИ ИЛИ ПОВРЕЖДЕНИЯ, КОТОРЫЕ ВОЗНИКАЮТ ИЗ ДЕЙСТВИЯ ИЛИ БЕЗДЕЙСТВИЯ 1CLICKGAIN, УЩЕРБ, ЕСЛИ ТАКОВОЙ ИМЕЕТСЯ, НЕ НЕПОПРАВИМЫЙ ИЛИ ДОСТАТОЧНЫЙ, ЧТОБЫ ДАТЬ ПРАВО ПОЛЬЗОВАТЕЛЮ НА СУДЕБНЫЙ ЗАПРЕТ ВСЯКОЙ ЭКСПЛУАТАЦИИ ЛЮБОГО ВЕБ-САЙТА, ПРИЛОЖЕНИЯ, НЕДВИЖИМОСТИ, ТОВАРА ИЛИ ДРУГОГО КОНТЕНТА, ПРИНАДЛЕЖАШЕГО ИЛИ КОНТРОЛИРУЕМОГО СТОРОНОЙ 1CLICKGAIN, НЕ ДАЕТ ПРАВА ПРИОСТАНАЛИВАТЬ, МЕШАТЬ ИЛИ ЗАМОРАЖИВАТЬ ЭКСПЛУАТАЦИЮ, РАЗВИТИЕ, ПРОИЗВОДСТВО, РАСПРЕДЕЛЕНИЕ, РЕКЛАМУ, ВЫСТАВКУ ИЛИ РАБОТУ ЛЮБОГО ВЕБ-САЙТА, ПРИЛОЖЕНИЯ, НЕДВИЖИМОСТИ, ПРОДУКТА, СЕРВИСА, ИЛИ ДРУГОГО КОНТЕНТА В СОБСТВЕННОСТИ ИЛИ ПОД КОНТРОЛЕМ СТОРОНЫ 1CLICKGAIN.<br/>
ПОЛУЧАЯ ДОСТУП К ПРИЛОЖЕНИЮ, ПОЛЬЗОВАТЕЛЬ ПОНИМАЕТ, ЧТО ОН ОТКАЗЫВАЕТСЯ ОТ ПРАВ В ОТНОШЕНИИ ПРЕТЕНЗИЙ, О КОТОРЫХ ДО ЭТОГО ОН НЕ МОГ ЗНАТЬ.<br/>
1CLICKGAIN НЕ НЕСЕТ ОТВЕТСТВЕННОСТИ ЗА ДЕЙСТВИЯ, КОНТЕНТ, ИНФОРМАЦИЮ ИЛИ ДАННЫЕ ОПУБЛИКОВАННЫЕ ТРЕТЬИМИ ЛИЦАМ И ПОЛЬЗОВАТЕЛЕМ, НАШИМИ ДИРЕКТОРАМИ, ДОЛЖНОСТНЫМИ ЛИЦАМИ, СОТРУДНИКАМИ И АГЕНТАМИ, НЕ НЕСЕТ ОТВЕТСВЕННОСТЬ ЗА ЛЮБЫЕ ПРЕТЕНЗИИ И УЩЕРБ, ИЗВЕСТНЫЙ И НЕИЗВЕСТНЫЙ, ВОЗНИКАЮЩИЙ В ПОСЛЕДСТВИИ ИСКА ПОЛЬЗОВАТЕЛЯ ПРОТИВ ЛЮБЫХ ТРЕТЬИХ ЛИЦ.<br/>
Компенсация<br/>
Пользователь соглашается предоставить защиту (по желанию 1CLICKGAIN) или возместить ущерб 1CLICKGAIN. Стороны отрицают любые претензии, ответственность, убытки и расходы, включая, без ограничения, разумные гонорары адвокатов и расходы, возникающие в связи с любым из следующих (в том числе в результате непосредственной деятельности Приложения или Пользователя) положений:<br/>
- его / ее контента или его / ее доступа или использования приложения;<br/>
- нарушение или предполагаемое нарушение настоящего Пользовательского соглашения;<br/>
- нарушение любого стороннего права, включая, без ограничения, либо права на интеллектуальную собственность, публичность, конфиденциальность, прав имущества или личную жизнь сторон;<br/>
- нарушение каких-либо законов, правил, нормативов, уставов, постановлений или распоряжений любых правительственных и квази-правительственных органов, в том числе, без ограничения, всех нормативных, административных и законодательных органов власти; <br/>
 - Пользователь будет сотрудничать в полной мере, которую потребует 1CLICKGAIN, для защиты от любых претензий. 1CLICKGAIN оставляет за собой право брать на себя исключительную защиту и контроль любого вопроса, подлежащего возмещению Пользователя, и Пользователь в любом случае не может выносить какие-либо претензии без предварительного письменного согласия 1CLICKGAIN.<br/>
15. Арбитраж<br/>
Любой спор, разногласие или требование, возникающие из или в связи к настоящим Пользовательским соглашением, или нарушением, прекращением или его недействительностью, а также применением Приложения, и / или правом на частную жизнь и / или рекламу, разрешаются путем арбитража в соответствии с Арбитражным регламентом UNCITRAL. Должен быть только один арбитраж, согласованный сторонами в течение 20 (двадцати) дней с момента получения ответчиком просьбы об арбитраже. Место или время проведения арбитража – Панама, город Панама. Арбитражное разбирательство должно проводиться и решение должно быть вынесено на английском языке. Решение суда является окончательным и обязательным для сторон и может быть исполнено в любой судебной юрисдикции. Несмотря на любое положение применимого законодательства, арбитраж не будет иметь права присуждать убытки, расходы за оказание услуг адвокатов или компенсации в следствии  конфликта с этим Пользовательским соглашением.<br/>
Стороны настоящим прямо отказываются от суда с участием присяжных заседателей. Претензии могут быть предъявлены только от собственного имени. Ни Пользователь, ни 1CLICKGAIN не будет участвовать в других типах суда, кроме арбитража для устранения любых претензий, описанных в этом Пользовательском соглашении. Пользователь также соглашается не принимать участия в исках с участием генерального прокурора или его представителя, или в консолидированной претензии, массовых исках, связанных с аккаунтом другого человека, если 1CLICKGAIN является участником разбирательства.<br/>
1CLICKGAIN оставляет за собой право изменять положение разрешения споров, но любые такие изменения не будут применяться к спорам, возникшим до вступления в силу поправки.<br/>
16. Время подачи претензии<br/>
Любые претензии, вытекающие или связанные с отношениями пользователя и 1CLICKGAIN, должны быть поданы в течение одного года после возникновения такого иска; в противном случае, претензии считаются недействительными.<br/>
17. Управляющий закон<br/>
Это Пользовательское соглашение регулируется и толкуется в соответствии с законодательством Панамы, без учета каких-либо принципов коллизионного права, и не будет регулироваться конвенциями Организации Объединенных Наций о договорах по международной торговле, если иное применимо.<br/>
18. Соглашение в целом. Передача и Распределение<br/>
Это Пользовательское соглашение представляют собой полное соглашение между Пользователем и 1CLICKGAIN и регулирует использование Приложения, заменяя собой любые предыдущие соглашения между Пользователем и 1CLICKGAIN. Пользователь не может получить никакие права сверх обозначенных в Пользовательском соглашении, или делегировать какие-либо обязательства по настоящему Договору, в целом или частями, будь то добровольно или в силу закона, без предварительного письменного согласия 1CLICKGAIN. Любая передача или делегирование без соответствующего предварительного письменного согласия 1CLICKGAIN будет недействительной. 1CLICKGAIN может назначить это Пользовательское соглашение или любые правила Договором без согласия пользователя.<br/>
Если какое-либо положение настоящего Пользовательского соглашения будет признано незаконным, недействительным или по какой-либо причине не имеющем законной силы во время арбитража или суда компетентной юрисдикции, то такое положение будет считаться отделенным от настоящего Пользовательского соглашения и не будет  влиять на действительность и силу остальных положений. Отказ 1CLICKGAIN обеспечить строгое выполнение любого положения настоящих Условий не будет толковаться как отказ от какого-либо положения или права. Отказ от любого из этих Условий не будет считаться дальнейшим или продолжающимся отказом от такого положения или условия, или любого другого условия или положения.<br/>
19. Территориальные ограничения<br/>
Информация, представленная в приложении не предназначена для распространения или использования любым физическим или юридическим лицом в любой юрисдикции или стране, где такое распространение или использование противоречило бы закону или нормативным актам, или которые будут выдвигать в сторону 1CLICKGAIN любые требования о регистрации в такой юрисдикции или стране. Мы оставляем за собой право ограничить доступ в приложение или к любой части услуг любому лицу, географической области, или юрисдикции, в любое время и по нашему собственному усмотрению, а также ограничить доступ к любому количеству любого контента, программ, продуктов, услуг или прочего, которые обеспечивает 1CLICKGAIN.<br/>
20. Ограничения по возрасту<br/>
1CLICKGAIN принимает регистрацию игрового счета и ставки только от клиентов, которым исполнилось 12 лет (или другое соответствующее ограничение возраста, принятое в соответствующей стране). 1CLICKGAIN оставляет за собой право аннулировать транзакции, совершённые   клиентами,  которые не достигли этого возраста, или клиентами,  которые нарушили правила.<br/>
21. Ответственность владельца игрового счета<br/>
При регистрации игрового счета клиенты должны предоставить достоверную информацию о своем имени и телефоне.<br/>
При каждой авторизации или телефонном звонке 1CLICKGAIN, клиент должен проверить свой баланс игрового счета. Если у клиента возникнут вопросы или недоразумения, он должен сообщить об этом 1CLICKGAIN как можно раньше, указав при этом историю своих транзакций на момент последней проверки баланса.<br/>
При авторизации или телефонном звонке 1CLICKGAIN клиент должен правильно указать Имя Пользователя и телефон.<br/>
Клиент несёт ответственность за поддержание в полном порядке деталей своего игрового счета, особенно это касается адреса, номера телефона и платёжных/банковских реквизитов.<br/>
Клиент несёт ответственность за сохранение в тайне своих Имени Пользователя и информации по безопасности. Если клиент обеспокоен, что эта информация не сохраняется в тайне, он должен немедленно уведомить об этом 1CLICKGAIN, тогда клиент получит новые детали безопасности, а все дальнейшие транзакции со старыми деталями будут аннулированы.<br/>
Любая ставка, размещённая онлайн в то время, когда используются имя Пользователя и телефон (т.е. когда клиент прошёл авторизацию), считается действительной. Это положение попадает под наши критерии достаточности доступных средств и приемлемой суммы ставки для приёма на 1CLICKGAIN.<br/>
Каждому клиенту разрешено иметь только один аккаунт на 1CLICKGAIN. Детали аккаунта сохраняются в нашей базе данных и ежедневно проверяются. Все последующие учетные записи, зарегистрированные с одинаковым почтовым кодом / личной информацией / IP адресом, и которые были обнаружены как имеющие отношение к уже существующей учетной записи, немедленно закрываются и любые ставки аннулируются по решению 1CLICKGAIN. 1CLICKGAIN оставляет за собой право на пересмотр любых выигрышей, полученных таким образом. Все новые регистрации проверяются на предмет множественных регистраций. Пожалуйста, примите это во внимание.<br/>
Если клиент предоставит детали, например, Имя Пользователя, которые могут быть сочтены как содержащие оскорбительную лексику, 1CLICKGAIN оставляет за собой право закрыть игровой счет такого клиента без каких-либо дальнейших объяснений.<br/>
В рамках программы “Проверка Личности Клиента” 1CLICKGAIN обязаны осуществлять постоянный контроль над:<br/>
- личностью клиентов, должной проверкой и идентификацией данных (например, по запросу идентификации документов);<br/>
- финансовым поведением и привычками клиентов, с целью подтверждения, что транзакции соответствуют располагаемой нами информации о профиле риска клиента;<br/>
- поведением и привычками клиента в азартных играх, с целью подтверждения, что транзакции соответствуют располагаемой нами информации о профиле риска клиента.<br/>
Открывая игровой счет в компании 1CLICKGAIN, клиент соглашается с вышеуказанными действиями, которые может предпринять 1CLICKGAIN в целях проверки личности клиента.<br/>
Являясь клиентом, вы должны понимать, что на средства, внесенные на вашу учетную запись для размещения ставок, какие-либо вознаграждения не начисляются, а компанию 1CLICKGAIN не следует рассматривать в качестве финансового учреждения.<br/>
Компания 1CLICKGAIN оставляет за собой право закрыть игровой счет или отказывать в его открытии.<br/>
Клиент имеет право в любой момент закрыть свой игровой счет, связавшись со службой поддержки клиентов, которая произведет все необходимые действия.<br/>
Все транзакции проходят проверку на причастность к отмыванию денег. Компания 1CLICKGAIN обязана сообщать обо всех подозрительных транзакциях в компетентные органы власти.<br/>
1CLICKGAIN оставляет за собой право раскрывать личную информацию по требованию закона, контролирующей 1CLICKGAIN организации, правительственных учреждений или агентств, а также прочих уполномоченных организаций (как имеющих силу закона, так и нет) в случаях, когда компания 1CLICKGAIN осознает, что такие действия необходимы, включая, но не ограничиваясь, для выполнения текущего судебного процесса, по предписанию суда, по предписанию контролирующей 1CLICKGAIN организации, по требованию полиции, в ходе юридического процесса либо расследования спортивного события.<br/>
В случаях, когда сумма вывода средств с игрового счета достигнет 250 долларов (или эквивалент в другой валюте), будет проведена плановая экспертиза.<br/>
21. Платежи<br/>
Никто из сотрудников 1CLICKGAIN не имеет права предоставлять какие-либо кредиты. В обязанность клиента входит поддержание достаточного количества средств на своем счете для соответствующих ставок. 1CLICKGAIN оставляет за собой право аннулировать любую ставку, которая была принята по ошибке, когда на счету клиента не было достаточно средств для оплаты ставки полностью.<br/>
Ставки сделанные при помощи кредитной или дебетовой карты, не считаются действительными до того момента пока 1CLICKGAIN не получит платёж. В случае если торги по событию уже начались, а оплата не поступила, такая ставка автоматически аннулируется.<br/>
Если средства по ошибке были начислены на игровой счет клиента, его ответственностью является уведомить 1CLICKGAIN об этой ошибке без промедления. Любые последующие выигрыши, которые получит клиент до уведомления 1CLICKGAIN о такой ошибке, независимо от их связи с ошибкой, считаются недействительными и возвращаются 1CLICKGAIN.<br/>
Начисление выигрышей на аккаунты клиентов происходит после подтверждения финального результата.<br/>
Для операций со своим игровым счётом клиент должен использовать только личную кредитную / дебитную карту или иные средства платежа. Любые депозиты, совершённые с использованием чьей-либо кредитной / дебитной карты или чужого счета, возвращаются, а ставки, оплаченные средствами с такой карты/счета, аннулируются.<br/>
Клиент может открыть только один игровой счёт. Любые дополнительные счета, которые пополняет клиент, подлежат закрытию, а зачисленные на них средства подлежат возврату.<br/>
1CLICKGAIN ни при каких обстоятельствах, ни в каком случае не несёт ответственности за любой ущерб или потери без ограничений, мнимые или подозреваемые, которые могут быть вызваны этим вебсайтом или его содержанием, включая, без ограничений, промедления или прерывания в операциях или передачах, сбои линий связи, использование кем-либо или неправильное употребление содержимого этого вебсайта, а также любые ошибки или пробелы содержания.<br/>
1CLICKGAIN оставляет за собой право аннулировать любую или все ставки, размещённые группой людей, которые действуют в сговоре с целью обмана 1CLICKGAIN. Это может относиться к лицам, родственникам, организациям, букмекерам и их сотрудникам.<br/>
Игровой счет является персональным счетом клиента. Клиентам не разрешается продавать, передавать, приобретать или иным образом распоряжаться своей учетной записью, так же как не разрешается переводить средства со своего игрового счета на счет другого клиента или принимать средства на свой игровой счет со счета другого клиента.<br/>
1CLICKGAIN может взимать фиксированную или пропорциональную комиссию при совершении депозита или выплаты. Любая комиссия будет четко указана при заявке на платеж, и клиент сможет отказаться от операции или выбрать другой, более дешевый или бесплатный способ платежа.<br/>
В некоторых случаях валюта баланса вашего счета или валюта каких-либо средств, которые вы выводите, могут отличаться от валюты депозита. Компания 1CLICKGAIN оставляет за собой право изменить валюту вашего счета, производить платежи и начислять бонусы в другой валюте. В таком случае приоритет отдается ставке обмена валюты, а не ставке торга.<br/>
Все операции со счетами производятся только на тот счет, с которого производилось пополнение.<br/>
Все способы пополнения счета и выплат со счета доступны клиенту в секциях «Баланс» и «Пополнить счет», которые можно найти в разделе «Маркетплейс»  после входа в систему с данными доступа. Как только способ выбран, любая возможная комиссия будет четко указана при заявке на платеж, и клиент сможет отказаться от операции или выбрать другой, более дешевый или бесплатный способ платежа.<br/>
В связи с нашим соблюдением программы по отмыванию денег, компания 1CLICKGAIN оставляет за собой право ограничить сумму выплаты до $100, в случае если клиент внес средства на игровой счет и не использовал внесенные им средства на ставки или игры<br/>
22. Бонусы и Акции<br/>
Компания 1CLICKGAIN предлагает выбор бонусов, призов и акций своим клиентам, которые разработаны исключительно для клиентов, участвующих в пари и играх в развлекательных целях.<br/>
Участвуя в акции или принимая бонус, вы соглашаетесь получать маркетинговую корреспонденцию от 1CLICKGAIN. У вас будет возможность отписаться от такой корреспонденции.<br/>
Бонусы или акции могут предполагать особые правила и условия использования, поэтому клиенты должны внимательно читать все дополнительные правила и условия, имеющие отношение к каждому бонусу или акции. В бонусных Правилах и условиях должен быть указан номер версии, дата последнего обновления и, если применимо, срок действия.<br/>
1CLICKGAIN оставляет за собой право отказать в начислении бонуса или в участии в акции, а также исключить клиента из списка получающих бонусы, награды или акции 1CLICKGAIN в любое время. Кроме того, 1CLICKGAIN оставляет за собой право отменить, изменить, ограничить или заморозить бонусы, награды или акции в любое время.<br/>
23. Другое<br/>
Датой вступления в силу настоящего Пользовательского соглашения является  5 мая 2016 года, изначально соглашение было написано на английском языке. Любой переведенный вариант настоящего Пользовательского соглашения не может конфликтовать с оригиналом и ссылается на него, английская версия является приоритетной и первичной.<br/>
Любые виды сообщений, отправленные через аккаунт в приложении (включая, но не ограничиваясь, уведомлениями об изменении реквизитов, прекращением действия аккаунта, запросы пользователя, и т.д.) должны быть действительными, юридически приемлемыми в качестве доказательства подлинности.<br/>
Любые виды коммуникации, осуществлённые способом и в случаях, предусмотренных в настоящем документе должны быть действительны, юридически приемлемыми в качестве доказательства при отправке:<br/>
- если в адрес 1CLICKGAIN - через приложение или на адрес электронной почты 1CLICKGAIN, который указан на сайте приложения (если такой есть);<br/>
- если в адрес Пользователя -  через приложение или смс на телефон, указанный в приложении и / или аккаунте.<br/>
Рабочие дни, указанные в настоящем документе должны считаться рабочими днями в Панаме.<br/>
Стороны обязуются обновлять свои данные регулярно.<br/>
Стороны признают, что они полностью осведомлены о природе договора формализованного настоящими Пользовательским соглашением. Пользователь ознакомился и понял Пользовательское соглашение и правовые последствия, связанные с ним (права и обязанности по настоящему Договору). Пользователь понимает, что принятие Пользовательского соглашения подтверждает, что пользователь изучил, понял и согласился с Пользовательским соглашением.<br/>
