1.0 Rules of the Game<br/>
There are four games: ASTRA, CREDO, CLASSIC and ELSE. In them you play with other users or with the system. They use events that have taken place in the past, including sports: football, basketball, boxing and tennis, or extreme; virtual games: shooters and strategy; as well as any life events and stories filmed by other users. Game mechanics are used for the development of intellectual abilities.<br/>
Our game is a big sport. Everyone wants to occupy a high place among other players and gain the maximum rating.<br/>
Module ASTRA: you play against other participants. A set consist of 10 games. The correct answer to each question is evaluated basing on the degree of its difficulty. Unanswered questions are considered wrong answers. Game time is not limited. Every 10 minutes the award fund is determined. The award will be shared by the top 10 players. The most active players will always be rewarded. The users will receive their reward immediately. You always have a chance to win: make a choice.<br/>
Module CREDO: you play against the system. The player determines the amount of expenses and answers the questions of the system. In each question the player is asked to select one of the 2/4/6 previews of where the event happens. Probability is adjusted by the user and it affects the amount of compensation.<br/>
Module CLASSIC: you play against the system. Select one of the previews offered by the application. For each game the amount of expenses and the number of previews – 2,4 or 6 – are determined. Only one of the options is not correct. The less the likelihood of the right answer, the greater the reward.<br/>
Module ELSE: you play against the system. The player sees previews of the users’ videos. Choose the option you like and then the system will make its move. If your choices don´t match, you have won. For each game the amount of expenses and the number of previews are determined. The less the likelihood of the right answer, the greater the reward.<br/>
&1.1 Search<br/>
This application is a part of the platform, which uses a new type of search - by the people, or social search. The result of the search are profiles of individuals. They are displayed in a list according to the user’s criteria.<br/>
You can search for a person by their profile, name and surname, place of residence, language, job and friends, or by their interests, competences, preferences, world outlook, what they create in the marc of the platform. This way you can find a real expert, a real creator of the content and a person with true knowledge.<br/>
&2. Call<br/>
You can communicate directly with other users. If you bought an artifact, its owner can call you directly. The participants of a game can also communicate directly.<br/>
&2. Profile questionnaire<br/>
If you fill out a questionnaire, you get 10 golden clicks, and if you fill the extended profile, you get extra 15 golden clicks.<br/>
It’s very important to fill out the questionnaire! This way we will be able to choose the best content for your games to make it even more fun to play!<br/>
&2.1 Invite your friends<br/>
Using Invite Token you can invite a friend or a close one to the application and each of you will get 10 golden clicks. You have 3 invitations, so spend them wisely, send them to those who really need them. For those users who use up their savings of golden clicks quickly we offer an additional opportunity to earn and give them another Invite Token.<br/>
&3. Online<br/>
&3.1 News<br/>
Here you can see the news - unique collections of the brightest and most interesting things happening around the users. These are events around you, eyewitnesses’ videos and the hottest and most important news. That is, the video events that can be really interesting to you.<br/>
A user can add the news to any flow and other users can comment on the videos and shoot video responses.<br/>
&3.2 Vlog<br/>
Shoot your first video now to start your vlog and get 10 golden clicks.<br/>
Start your own video channel and get famous! Start a vlog, shoot a video every day, write a chronicle of your life, share it with your friends and the entire world.<br/>
Shoot your stories and become the owner of the plot for a new game, earn on an interesting content! It is the only platform where you can offer your own game. The more popular your plot is, the more you can earn on it. And you will also be able to learn something useful and interesting.<br/>
&3.1 My choice<br/>
“My choice” are streams of your friends, people you follow.<br/>
You can subscribe to any individual video stream for 1 golden click and it immediately falls into “My choice” section and its author gets a reward. Go to the author's profile and select “Subscribe”.<br/>
&3.4 Video mechanics<br/>
To the right there is a button for shooting videos, any camera can be used for it, the most important thing is to add the right category and tags.<br/>
For each video you can add a soundtrack, unique filters and choose the perfect preview.<br/>
The video stream is created automatically on the basis of three criteria: place, time and tag which will also be automatically translated to any language of the application.<br/>
In each section you will find “Favorites” – the videos you liked, and “All” – all the videos.<br/>
“Today” contains the most important news kept in this section for 24 hours and then transferred to the archive.  “The best” – news that got the most views and likes.<br/>
You can leave a comment for each video or make a video response, share it with friends or complain if a video breaks any social net’s rules.<br/>
&4. Marketplace<br/>
&4.1 Golden click<br/>
1clickgain uses an internal payment system. On the platform, each user can play and pay for other things with it. You can add money to your account instantly via an external payment aggregator.<br/>
Invite your friends - 10 GC<br/>
Registration - 10 GC<br/>
Fill out the extended profile - 15 GC<br/>
Vote - 1 GC<br/>
Subscribe to a channel – give away 1 GC<br/>
Get a subscriber - 1 GC<br/>
Start your own vlog - 10 GC<br/>
&4.2 Market of artifacts<br/>
If you have interesting and rare "artifacts", they can be claimed on our P2P Market Place and you will be able to exchange them with other players, without interrupting your virtual game, in the real world.<br/>
&4.3 Rating<br/>
Here you can find the rating of all the players and find out your place in it. Also, you see the profiles of the best ones, or your own game statistics.<br/>
&5. Info<br/>
Here you can choose from 3 categories - Info, which contains all the important information about the application; Feedback, through which you can contact us or leave your opinion, and Voting - where users collectively solve any questions.<br/>
&5.1 Info<br/>
Here is all the information that will help you to become one of us. You can get acquainted with the user agreement: the terms of use and obligations of the parties, security policy. Find out how we ensure the security of your data, content and information, or read a detailed guide on how to use this application.<br/>
&5.2 Feedback<br/>
Write us if you have an idea about how to make the application better or if you find a mistake, we will always be happy to answer your letter.<br/>
You can write about how you would like to improve the app, for example.<br/>
If you find a bug, an error, a problem - anything that prevents you from using the application, please contact us, we'll fix it!<br/>
If you find content that violates the network’s rules or laws or if some user is bothering others, please contact us too.<br/>
For each of the mentioned steps, simply click on the "+" button in the lower right corner.<br/>
&5. 3 Voting<br/>
Vote and influence the future of this application. Here the decisions are made by users.<br/>
The “Recent” tab contains all the votings taking place at the moment in which you can participate. In the “History” tab are the finished votings. If you want to start a voting yourself go to “Initiate”.<br/>
&6. Disclaimer<br/>
The app forbids publication of any content, videos, photos, text or audio records, containing elements of nudity, pornography, violence, cruelty, both in relation to people and animals, calls for violence, racial, religious, ethnic or any other hatred, racism, any manifestations of extremism, support for terrorism, incitement to disobey the law or authorities, or any other offense, both in respect of local and international law. We reserve the right to delete such content without explanation, and it´s not allowed to assess or challenge this action. The app does not assume any responsibility for any content posted by users since it is not conducting pre-moderation. All responsibility belongs to the user. Under no conditions can the app be a plaintiff in a court case dealing with such content. Using the application and registering in it the user hereby confirms that he or she is familiar with these rules and accepts them.
