1.0 Las reglas del juego<br/>
Hay cuatro juegos ASTRA, CREDO, clásico y ELSE. En ellos se juega con otros usuarios o con el sistema. Utilice acontecimientos que han tenido lugar en el pasado, incluyendo deportes: fútbol, ​​baloncesto, boxeo y tenis, o extrema; juegos virtuales: los tiradores y la estrategia; así como cualesquiera acontecimientos de la vida y las historias captadas por otros usuarios. Mecánica del juego se utiliza para el desarrollo de las capacidades intelectuales.<br/>
Nuestro juego - es un gran deporte. Todo el mundo quiere tener un lugar digno entre los otros jugadores y ganar la máxima puntuación.<br/>
ASTRA Módulo: juegas contra otros participantes. Set  - 10 juegos. La respuesta correcta a cada pregunta se puntuaron según el grado de dificultad. Preguntas sin respuesta se considera que es la respuesta equivocada. Tiempo de juego no se limita. Cada 10 minutos, se determina por los premios de fondos. El premio será compartir los 10 mejores jugadores. Más activo siempre será recompensado. El usuario recibirá su recompensa inmediatamente. Siempre tienes la oportunidad de ganar: hacer una elección.<br/>
CREDO Módulo: juegas contra el sistema. El jugador determina la cantidad de costos y respuestas a las preguntas del sistema. En cada una de las preguntas para seleccionar un jugador de 2/4/6 vista previa de donde ocurrió el evento. Probabilidad es ajustado por el usuario, y que afecta a la cantidad de la indemnización.<br/>
CLÁSICO Módulo: juegas a contra el sistema. Seleccione una de las vistas previas que ofrece la aplicación. Para cada juego se determina por la cantidad de gasto y el número de los pulgares - 2,4 o 6. Sólo una de las opciones no es cierto. Cuanto menos probabilidad - mayor es la recompensa.<br/>
El módulo ELSE: juegas contra el sistema. El jugador ve una vista previa del usuario de vídeo. Elige tu versión favorita del sistema hará que su movimiento. Si su elección no coincide - ganaste. Para cada juego se determina por el tamaño y la probabilidad de que el gasto más bajo, mayor será la recompensa.<br/>
&1.1 Búsqueda<br/>
Se trata de un nuevo tipo de búsqueda social de personas. El resultado de la búsqueda representa personas reales.<br/>
Selecciona una opción en cada categoría y haz clic en “Buscar”. Los resultados se muestran en una lista donde se puede desplazar hacia abajo fácilmente.<br/>
Puedes buscar una persona por perfil, es decir, por su nombre, apellido, lugar de residencia, idioma, trabajo o amigos. O por los intereses, competencias, preferencias y puntos de vista. Puedes buscar a una persona por qué, cuándo y dónde hizo.<br/>
Así que puedes encontrar los verdaderos expertos, el verdadero creador del contenido y la persona verdaderamente tiene conocimiento.<br/>
&1.2. Llamada<br/>
Puedes comunicarse directamente con otros usuarios. Si compras el artefacto, el propietario del objeto puede llamar directamente. Los jugadores también pueden comunicarse directamente.<br/>
&2. Perfil<br/>
Si llenas el cuestionario ganas 10 golden click y si completas el cuestionario ampliado vas a ganar otros 15 golden click.<br/>
Rellene el formulario - muy importante! Así que vamos a ser capaces de elegir el mejor contenido para sus juegos para hacer aún más divertido de jugar!<br/>
&2.1 Invita a tus amigos<br/>
Usando Invitar simbólico que puede invitar a un amigo o cerca de la aplicación si te encuentra, y que le den cada 10 lun monedas. Tienes 3 invitación, por lo que gasta sabiamente, enviar a ellos a los que es realmente necesario. Para aquellos usuarios que utilizan sus ahorros monedas rápidamente lun ofrecemos una oportunidad adicional de ganar y dar otra Invitar simbólico.<br/>
&3. Online<br/>
&3.1 Noticias<br/>
Son las noticias creadas por los mismos usuarios o por sus amigos, eventos que tuvieron lugar en tu alrededor, video y noticias más recientes e importantes presenciadas por tu personalmente.<br/>
Estos videos son útiles e informativos, y a veces increíbles. ¡Tú mismo puedes convertir en un operador y hablar de algo importante que has visto con tus propios ojos!<br/>
Un usuario puede agregar una noticia a cualquiera de los flujos y otros usuarios pueden comentarlo y grabar videorespuestas.<br/>
&3.2  Vlog<br/>
Filma tu primer video ahora para comenzar tu vlog y obtener 10 golden click.<br/>
¡Conviértete en el protagonista de tu propio videocanal! Comienza tu propio vlog, graba videos todos los días,  haz una crónica de tu vida, compartela con tus amigos y el mundo entero.<br/>
Haga sus historias y convertirse en el propietario de la parcela del nuevo juego, ganar en un contenido interesante! Es la única plataforma en la que puedes ofrecer a su propio juego. ¿Qué tan popular es su historia, más gana él. Serás capaz de aprender algo útil e interesante.<br/>
&3.3 Mi elección<br/>
“Mi elección” contiene videos de tus amigos, tus suscripciones y videos de personas que comparten tus intereses. Puedes suscribirte a cualquier flujo por 25 golden click y aparecerá de inmediato en “Mi elección” y su autor será recompensado. Ve al perfil del autor y selecciona “Suscribir”.<br/>
&3.4 La mecánica de vídeo<br/>
A la izquierda hay un botón para filmar emoticones - videoemociones personalizadas vinculadas a emociones específicas. Elige tu emoción y filma videos utilizando la cámara frontal.<br/>
A la derecha hay un botón para hacer shots, utiliza cualquier cámara, elige la categoría principal y agrega etiquetas correctas.<br/>
Para cada vídeo se puede añadir una banda sonora, filtros únicos y elegir la vista previa perfecta.<br/>
El flujo de vídeo se crea automáticamente en la base de tres criterios: lugar, tiempo y etiqueta, - que también serán traducidos automáticamente a cualquier idioma de la aplicación.<br/>
“Lo mejor” es lo que recibe el mayor número de vistazos y likes<br/>
“Todo” es todos los videos.<br/>
En cada sección encontrarás “Favoritos” - lo que has marcado con “like”.Para marcar un video con “like” y dar al autor 1 golden click haz clic en el icono.<br/>
La sección “Hoy día” son las noticias más importantes que se mantienen allí durante 24 horas.<br/>
Puedes dejar un comentario a cada video o filmar una videorespuesta para compartir con tus amigos o quejarte de un video que infringe las reglas de la red social.<br/>
&4. Mercado<br/>
&4.1 Golden click<br/>
1clickgainutiliza un sistema de pagos interno. En la plataforma, cada usuario puede jugar y pagar por otras cosas con él. Puedes llenar tu cuenta al instante a través agregador de pago externo.<br/>
Invita a tus amigos - 10 GC<br/>
Registrarse - 10 GC<br/>
Llenar un cuestionario ampliado - 15 GC<br/>
Voto - 1 GC<br/>
Suscribirse al canal - dar 1 GC<br/>
Obtener un suscriptor - 1 GC<br/>
Comienza tu propio vlog - 10 GC<br/>
&4.2 Mercado de artefactos<br/>
Si tienes "artefactos" interesantes y poco comunes  ellos pueden ser reclamados por nuestros usuarios de P2P Market Place y serás capaz de compartir con otros jugadores, sin interrumpir su mundo virtual y real juego.<br/>
&4.3 Rating<br/>
Aquí puedes encontrar la clasificación de todos los jugadores y ver su lugar en él. También, puedes aprender y ver los perfiles de los mejores, o tu propia estadística del juego.<br/>
&5. Info<br/>
Aquí se puede elegir entre 3 categorías - información, que contiene toda la información importante acerca de la aplicación de la retroalimentación, a través del cual puedes ponerse en contacto con nosotros o escribir una crítica, y la votación - donde los usuarios a resolver colectivamente alguna pregunta.<br/>
&5.1 Info<br/>
Aquí esta toda la información que te ayudará a convertirte en uno de nosotros. Puedes familiarizarte con el acuerdo de usuario, las condiciones de uso y obligaciones de las partes, la política de seguridad, averiguar como aseguramos la seguridad de tus datos, el contenido y la información, o leer una guía detallada sobre esta aplicación.<br/>
&5.2 Comentarios<br/>
Escríbenos si tienes una idea o has encontrado un error, siempre estaremos encantados de responderte.<br/>
Puedes escribir, por ejemplo, como te gustaría mejorar la aplicación.<br/>
Si encuentras un error o algún problema, todo lo que no te permite usar la aplicación, por favor escribenos, nosotros lo arreglaremos!<br/>
Si encuentras contenido que infringe las reglas de la red social o alguna ley o si algún usuario está molestando a los demás, por favor ponte en contacto con nosotros.<br/>
Para cada uno de los pasos mencionados simplemente haz clic en el botón "+" en la esquina inferior a la derecha.<br/>
&5.3 Voto<br/>
Votad e influid en el futuro de esta aplicación. Aquí los usuarios son los que deciden todas las cuestiones importantes.<br/>
La ficha “Reciente” contiene todas las votaciones que están teniendo lugar en el momento y en las cuales se puede participar. En la “Historia” están todas las votaciones que terminaron. Si quieres empezar tu propia votación ve al “Iniciar”. a participación en la votación de cada pregunta da 1 GC.<br/>
&6. Descargo de responsabilidad<br/>
Está prohibido la publicación de cualquier contenido, ya sean vídeos, fotos, texto o audio que contengan elementos de desnudez, la pornografía, la violencia, la crueldad, tanto en relación con las personas y animales, llamados a la violencia, racial, religioso, étnico o cualquier otra odio, racismo, cualquier manifestación de extremismo, el apoyo al terrorismo, la incitación a desobedecer la ley o las autoridades, o de cualquier otro delito, tanto en la legislación local e internacional. Nos reservamos el derecho a eliminar tal contenido sin explicación, evaluar la elegibilidad de las acciones no está permitido y no puede ser impugnada. La aplicación no asume ninguna responsabilidad por cualquier contenido publicado por los usuarios, ya que no está llevando a cabo antes de la moderación. Toda la responsabilidad en su totalidad lleva al usuario. Aplicación bajo qué condiciones no pueden ser un demandante en el caso, o en el caso de la corte, que se ocupa de dicho contenido. El uso de la aplicación y el registro, el usuario confirma por la presente que está familiarizado con estas reglas y las acepta.
